[2020-12-15 05:19] coolreader18 commented on #2369
Ah, I see what you mean. That shouldn't be too hard to implement, it looks like cpython just checks if the extension is `.pyc` and loads it as bytecode if it is.

[2020-12-15 13:57] ismaelxyz commented on #2369
That is correct.

[2020-12-16 15:00] pavlukivan opened #2370 "[RFC] Fine-grained control over runtime"
## Summary

For running untrusted code, precise control over what system access is available to the user is needed. This mostly means controlling file io (and, by extension, module loading).

## Detailed Explanation

The way I see this usually done is allowing the user to register custom module loaders to let them control the entire module loading process. They can decide whether to allow access t

[2020-12-16 16:16] Kezii opened #2371 "It's not completely clear how to embed RustPython"
It's not sufficiently documented how to embed RustPython in an external project using crates.io crates, for example

[code]
in Cargo.toml fails to compile the hello_embed example

[code]

[2020-12-16 16:22] coolreader18 commented on #2371
Oh, yeah, we haven't pushed a new release to crates.io in a while, I think we're going to publish a new release around the end of the month. You can use the master branch for now, `rustpython-vm = { git = "https://github.com/RustPython/RustPython" }`

[2020-12-16 18:20] mireille-raad commented on #644
@OddCoincidence recently someone did this

https://github.com/RustPython/RustPython/pull/2367

would it help in figuring out if some critical bits of code need improvements?

[2020-12-19 04:21] carbotaniuman commented on #2370
Iirc there's a Python API/PEP for this, but I don't know it off the top of my head. (Unless I'm misremembering the already implemented import hooks PEP?)

[2020-12-20 14:53] #2369 closed

[2020-12-21 05:30] dralley commented on #978
Is this work finished or is there something left to do? The PR only says "Relates to issue #978"

[2020-12-21 05:38] coolreader18 commented on #978
I think this should be done, yeah

[2020-12-21 05:38] #978 closed

[2020-12-21 05:41] coolreader18 commented on #1838
This should be doable now that #2355 is merged, and the co_stacksize property can be added to #2373.

[2020-12-21 05:49] coolreader18 commented on #1877
Looking at this in a single-threaded context, e.g. just running the following in the [demo](https://rustpython.github.io/demo/)
[code]
it seems that there's a deadlock, and that's the reason signals aren't being caught. We should probably check if `running` is set in coroutine.rs

[2020-12-21 06:35] #1596 closed

[2020-12-21 06:35] coolreader18 commented on #1495
`__iter__` and a lot of other IOBase methods are now implemented

[2020-12-21 06:35] #1495 closed

[2020-12-21 06:41] coolreader18 commented on #1138
Can't imagine this still happens, though who knows...

[2020-12-21 06:41] coolreader18 commented on #1138
I'll test it sometime soon

[2020-12-21 13:49] pavlukivan commented on #2370
You're right, it seems to be part of [importlib](https://docs.python.org/3/library/importlib.html).

[2020-12-21 21:13] vnetserg opened #2378 "Failing to build for target wasm32-unknown-unknown"
Right now building for `wasm32-unknown-unknown` yields the following error:

[code]

This is fairly trivial to fix though:

[code]

Another option would be to compile without "threading" feature. I am not sure if this is intentional that it fails to compile with threading enabled?

P.S. Thank you for your hard work on RustPython, I really love the project!

[2020-12-24 19:54] dralley opened #2380 "memory leaks"
I was running the microbenchmarks and kept getting SIGTERM, apparently it was exhausting my 16gb of memory + 8gb of swap.

I reran the tests to try to figure out which microbenchmarks were triggering the leaks in RustPython:

* exception_nested.py

![Screenshot from 2020-12-24 14-35-46](https://user-images.githubusercontent.com/2751996/103104777-47df7e80-45f7-11eb-8b55-90c0bb0aa192.png)

* complex

[2020-12-25 01:29] dralley opened #2381 "Miri catches some undefined behavior"
[code]

[2020-12-25 10:01] coolreader18 commented on #2381
Mmmm, I think this would require copying the Rc/Arc impl in order to get around it w/o performance impact...

[2020-12-29 15:24] carbotaniuman commented on #2380
This is intentional, we don't have a GC implemented in RustPython yet, so any refernce cycles automatically leak memory.

[2020-12-29 16:18] dralley commented on #2380
Does simply calling or defining a function create a reference cycle, though?

[2020-12-29 18:42] coolreader18 commented on #2380
Yes, I think, since the globals dict gets stored in the function object, and then the function object gets stored in the globals. I think we could get around that by clearing module globals on interpreter shutdown like CPython does, but that would require a defined "interpreter shutdown" phase.

[2020-12-29 21:56] dahlend opened #2386 "Overflow error in slicing"
When building to debug (not release, so that overflows lead to panics), I have a bug which results in a crash:
If this is built using release then this crash doesn't happen.

[code]

Note that `-sys.maxsize-2` or just `-sys.maxsize` do not result in crashes, but report the expected python error. This is built using current master, and current nightly rust on a mac.

I only discovered this project

[2020-12-30 21:12] #2386 closed

[2020-12-31 02:50] pca006132 opened #2388 "[RFC] AST Customization"
## Summary

Provide means to customize the AST, for including additional data with each node.

## Detailed Explanation

Background: I'm currently developing a compiler for a subset of Python, currently planning to use the RustPython parser to get the AST. The project requires type inference and other processing with the AST. It would be helpful if we can attach data to each node in the AST.

I thi

[2020-12-31 04:09] coolreader18 commented on #2388
The default could also be `std::convert::Infallible`, which is almost equivalent to the never type and will eventually become a type alias for `!` once the latter is stabilized.

[2020-12-31 04:11] coolreader18 commented on #2388
I think this definitely sounds cool! Would you be interested in implementing it?

[2020-12-31 04:28] pca006132 commented on #2388
Yes, it seems that the resulting size is the same as `!`.

Yes.

[2021-01-01 07:19] coolreader18 commented on #2388
Oh, or maybe the default should be `()` and the field should just be `custom: U`? Cause since we're probably going to be mapping to the custom type after-the-fact, the map function could just return a default value. If you wanted to have it be an `Option<A>`, you could pass a mapping function `|()| None`, and fill the options in manually. But if it's a hashmap or a vec or some other collection, it

[2021-01-01 09:10] pca006132 commented on #2388
What about `U: Default`?

[code]

[2021-01-01 17:07] coolreader18 commented on #2388
I agree, but I don't think it's possible to put generics in the lalrpop file, which is what actually generates the ast

[2021-01-02 19:01] nomeata opened #2390 "Arguments to `compile`"
## Feature

Trying to sandbox one of my projects in `RustPython` and  wasm, I ran into this difference in behaviour:

[code]

This is `rustpython.wasm` 0.1.3 from https://wapm.io/package/rustpython#explore.

## Python Documentation

https://docs.python.org/3/library/functions.html#compile

[2021-01-02 19:01] nomeata commented on #2390
Also, this error message looks a bit … odd:
[code]

[2021-01-02 19:02] nomeata commented on #2390
Confirmed with latest `master`, built with `cargo build --release --target wasm32-wasi --features="freeze-stdlib"`

[2021-01-02 19:07] nomeata commented on #2390
This is pure cargo-culting, but
[code]
_seems_ to fix it.

[2021-01-03 00:31] coolreader18 commented on #2390
Yeah, I think that would fix the issue of keyword arguments! I generally use `compile()` with only positional arguments, so I guess I haven't run into this bug. Feel free to submit a PR/patch with that change! :)

[2021-01-03 00:34] darleybarreto opened #2391 "[BUG] decoding bytes error"
When running
[code]
On both PyPy and CPython, I get
[code]
In RustPython
[code]
I found this when I tried to use [os_helper.py](https://github.com/python/cpython/blob/master/Lib/test/support/os_helper.py)

[2021-01-03 01:00] coolreader18 commented on #2391
Yeah, we don't support surrogateescape at the moment on account of using utf8 strings internally; we should probably mention that somewhere in the README or something.

[2021-01-03 17:35] #2390 closed

[2021-01-08 16:29] mireille-raad opened #2396 "Automate generation of benchmarks and display them on website"
This PR https://github.com/RustPython/RustPython/pull/2367 by @orf refactors the benchmark suite to use Criterion. It also adds micro-benchmarks.

It would be neat if we:
- [ ] select a set of benchmarks
- [ ] automate their generation (maybe once a month).
- [ ] save the output (data or images) to https://github.com/RustPython/rustpython.github.io.
- [ ] create a webpage to show the results

[2021-01-08 19:58] mental32 commented on #2362
Any progress towards RustPython supporting no_std would be amazing tbh!

@coolreader18 is there anything I can do to help out?

The bincode blocker is unfortunate but I'm not sure where its needed (I'm not familiar with the RP codebase at all) there are other alternatives that support no_std for instance [capnproto](https://github.com/capnproto/capnproto-rust/pull/184) but again I'm not sure how v

[2021-01-09 12:07] pannous commented on #2240
This error also happens when one uses project 'build' in clion

[2021-01-09 12:14] pannous commented on #2240
[code]

any ways to mitigate?

[2021-01-10 19:35] AthulMuralidhar commented on #1175
hi @coolreader18 is the list  here https://github.com/RustPython/RustPython/issues/1175#issuecomment-578580002 updated? i'd like to start working on one of the API's thanks!

[2021-01-10 19:53] coolreader18 commented on #1175
@AthulMuralidhar I think of that list, `ctermid fchdir getgrouplist getlogin getpriority` still need to be implemented in os.rs

[2021-01-10 20:17] AthulMuralidhar commented on #1175
thanks for the quick reply @coolreader18 i'll try to work on `ctermid` and `fchdir`

[2021-01-12 01:02] lntuition commented on #1382
I found this is fixed on master !

[2021-01-12 01:02] #1382 closed

[2021-01-13 01:02] mireille-raad opened #2400 "bash script / github workflow to generate csv out of whats_left.sh"
In this previous PR https://github.com/RustPython/RustPython/pull/1865 , I made some tweaks to `whats_left.sh` to generate yaml files. The goal is to display some sort of dashboard on the website (rustpython.github.io). Eventually we didn't merge the PR because it meant that we needed to add some more flags or argument for the script (which I never got around to).

Here is a easier suggestion for

[2021-01-13 03:37] coolreader18 commented on #2400
Oh, nice! I think this looks pretty good, it might be possible to just add as an option to `whats_left.sh`, like `if [[ $1 = --csv ]]; then <your code>; exit 0; fi`

[2021-01-18 02:54] mireille-raad commented on #2400
The `whats_left.sh` script takes parameters on these lines.

[code]

So if i was to add one more parameter as a csv flag, the order becomes important or we'll have to use named parameters and document 😢 stuff somewhere, no?

I tested your suggestion
- `./whats_left.sh --csv `works,
-  `./whats_left.sh modules` works,
-  `./whats_left.sh --csv modules` wouldn't.

How about, I just edit `.github/wor

[2021-01-23 04:34] verhovsky opened #2406 "Pasting multiple lines into the REPL doesn't split the lines into multiple statements"
Open the RustPython REPL, paste the following code (and press Enter):

[code]

on CPython I get

[code]

On RustPython I get

[code]

when I should get

[code]

[2021-01-23 20:42] coolreader18 commented on #2400
Sure, that sounds good :+1:

[2021-01-23 21:03] jeff-hykin commented on #1940
As a user, knowing what I can and can't use without setting up the entire tool chain would be *extremely* useful. Even if the check boxes are very broad, some kind of checklist like the one gitoxide has would really help.
https://github.com/Byron/gitoxide#git-odb
![Screenshot_20210123-145738](https://user-images.githubusercontent.com/17692058/105613953-63bb7900-5d8b-11eb-90ff-0def20a1044b.jpg)

I'

[2021-01-24 05:43] verhovsky opened #2410 "Builtin functions and methods lack a .__text_signature__ property"
On CPython:

[code]

Running this under the debugger (`import pdb; pdb.runcall(inspect.signature, struct.unpack_from)`), you see that `inspect` does ` getattr(struct.unpack_from, "__text_signature__")` which is defined in CPython [here](https://github.com/python/cpython/blob/0ec57e25c918b859b9f8d464e34e0ac859c2f8b3/Objects/methodobject.c#L193), and that's not implemented in RustPython, so you get

[2021-01-24 07:31] verhovsky commented on #2391
See #935

[2021-01-25 17:09] #2388 closed

[2021-01-28 17:00] fanninpm commented on #2240
To run the unit tests, the command should be `cargo run --release -- -m test -v`.

[2021-01-31 11:45] birkenfeld opened #2427 "panic in re matching with lookbehind assertion"
I'm trying out RustPython to see if I can at some point replace the currently Pyodide based setup (which is monstrous to build) of https://pygments.org/demo/ with RustPython.

Unfortunately one of the first tests (`rustpython -m pygments setup.py` in a checkout of https://github.com/pygments/pygments) leads to:

[code]
This is with the pip-merg branch.

[2021-01-31 17:05] coolreader18 commented on #2427
@qingshi163 has been working on the native _sre implementation, IIRC lookbehinds are the main thing left to do.

[2021-01-31 22:31] merkrafter commented on #1656
What is the exact current status of this issue? It looks like e.g. `:g` and `:G` are at least supported (though not yielding the same results as CPython does in every case in the master branch as of writing this).

[2021-02-01 04:35] #2400 closed

[2021-02-01 18:24] michrllerlife opened #2433 "[RFC]"
## Summary

## Detailed Explanation

## Drawbacks, Rationale, and Alternatives

## Unresolved Questions

[2021-02-02 03:37] Zomatree opened #2435 "Unable to use starred expressions in class bases"
## Feature

in CPython you are able to do:
[code]
but in RustPython you get:
[code]
## Python Documentation
*dont know what to put here as its part of the syntax rather than stdlib or etc.*

[2021-02-02 07:29] Zomatree opened #2436 "Metaclass kwargs are giving strange outputs"
## Feature

when doing some metaclass wierdness, rustpython does not handle it correctly, annoyingly I can't pinpoint where the issue lies, so im hoping someone else can and make a fix for this.

code in questioning:
[code]
this works as intended in CPython (run `Myclass.a`, `Myclass.b` and `Myclass.c`), but in rustpython im getting an error:
[code]

## Python Documentation

https://docs.python.or

[2021-02-04 16:51] qingshi163 commented on #2427
lookbehind assert panic is sorted, you can try it again.

[2021-02-04 22:33] coolreader18 commented on #2427
Hey, looks like it just works™ now!
![image](https://user-images.githubusercontent.com/33094578/106963709-9b6cde00-6706-11eb-8f9e-c599ffbc589e.png)
I could totally help you out if you wanted some guidance on setting up rustpython_wasm to run pygments

[2021-02-05 08:25] birkenfeld commented on #2427
Very nice, thanks. @coolreader18 I'll come back to you then, for now I'll have to hack a way of running the test suite without pytest, since running pytest seems to be a while away still.  I'll contact you on gitter then?

[2021-02-05 08:25] #2427 closed

[2021-02-05 22:21] dbrgn commented on #1425
It seems that this works now, and that the issue can be closed!

[code]

[2021-02-05 22:48] #1425 closed

[2021-02-06 00:30] dbrgn commented on #1175
`getlogin`: #2441

[2021-02-07 11:06] #1635 closed

[2021-02-07 11:06] #1740 closed

[2021-02-07 18:30] andrew-ld commented on #2044
[code]

with latest version

[2021-02-10 17:37] Sparkenstein opened #2445 "Simple fibonacci program doesn't finish execution"
Report type: bug

I wrote a simple fibonacci series program that uses recursion as follows:
[code]

on my machine, this program finishes in `230 ms` on an average with CPython. but with `rustpython` it **did not finish execution**, I waited for 1 minute+ almost. my hardware specs are not that high-end but I believe if CPython can finish execution in 230ms, then rustpython should also finish it wit

[2021-02-11 08:57] kenkoooo commented on #1175
Hi, let me work on `getgrouplist`.

[2021-02-12 02:03] KipHamiltons commented on #2121
This issue appears to have a PR fixing it merged

[2021-02-12 04:19] #2121 closed

[2021-02-13 09:58] kenkoooo commented on #1175
Let me work on `getpriority` and `setpriority` next.

[2021-02-14 07:01] CircleOnCircles commented on #1175
I made a analysis to detemine the next important os module based on the real usage in GitHub public code. This is based on the master branch of this repo at the time of writing.

Feel free to use and modify it.

![image](https://user-images.githubusercontent.com/8089231/107870622-99580b80-6ecc-11eb-9945-c2e0547f1660.png)

[link to notebook](https://deepnote.com/project/7215d141-d8f7-4dde-b550-c7dc

[2021-02-14 08:21] pca006132 commented on #2445
On my machine, `fib(33)` run finishes in ~12s with RustPython. Disabling `threading` feature reduces the time to ~9s. Making fast path for integer binops further reduced the time to ~6.3s. Changing `lasti` from `AtomicInt` to `RefCell` further reduces the time to ~5.7s.

From flamegraph, it seems that quite a bit of time is spent on atomic operations, cloning different kinds of stuff, and dropping

[2021-02-15 01:37] coolreader18 commented on #2445
I think rather than fast paths, we should try adding slots for nb_add, nb_sub, etc. I know CPython has a note in its BINARY_ADD implementation that trying to fast path integer addition generally doesn't yield anything except in microbenchmarks, though maybe that wouldn't apply to us, but we're still using a dictionary lookup for `__add__`

[2021-02-15 01:42] coolreader18 commented on #2445
Also, I know that threading has a negative impact on performance, and maybe it shouldn't be enabled as a default feature, but the atomic operations are still necessary to prevent data races/bad caches (or something). However, it's totally possible to use conditional compilation to not use atomic ops when threading is disabled. And maybe it would be possible to use a non-atomic lasti in frame state

[2021-02-15 03:13] pca006132 commented on #2445
Yup, the overhead should be mostly on the dictionary lookup, this may be fast enough already. Another problem is probably about how integers are stored, the current implementation requires accessing the context for integers, causing a lot of allocation/deallocation, I wonder if it is possible to use a union for `PyObjectRef` to optimize for small integers like `i32`.

The problem is, with the curr

[2021-02-15 06:33] coolreader18 commented on #2445
What do you mean by this? Like the integer cache in PyContext? I think that'd reduce unnecessary allocation, since small integers can just reuse existing allocated int objects.

[2021-02-15 06:39] pca006132 commented on #2445
Sorry, I just found that I misunderstood the code, it seems that PyContext would not add more allocation.

Anyway, the allocation and deallocation overhead is pretty large, even for the simple microbenchmark code I wrote in #2460, but idk how to fix that.

[2021-02-16 07:33] pca006132 opened #2474 "Poor performance for multithreaded program"
With the following microbenchmark program:

[code]

When `thread_function` is executed alone, the flamegraph look like this (purple are lock related functions):
![image](https://user-images.githubusercontent.com/12198657/108031295-90ea0700-706b-11eb-8cb8-4745b2b9af91.png)

But when I run `measure_time(4)`, it looks like this (purple are lock related functions):
![image](https://user-images.githubu

[2021-02-16 23:57] #2435 closed

[2021-02-16 23:57] #2436 closed

[2021-02-22 09:55] HuangHai1997 opened #2503 "How to get the stdout in webassembly mode?"
I wanna to use rustpython.wasm as a sandbox environment to exec some unsafe python code.

- example.py
[code]

For example,I want to get the result of example.py.I tried to use "subprocess.getoutput" so I can get stdout of my process.

If anyone has a better way to solve this problem,please guide me.

Thanks.

[2021-02-23 16:00] MisileLab opened #2504 "RustPython doesn't installed with error."
I try to install rustpython with cargo but It has error.

This is Error.
error[E0618]: expected function, found Arc<PyObject<(dyn PyObjectPayload + 'static)>>
--> C:\Users\misilelab\ .cargo\registry\src\github.com-1ecc6299db9ec823\rustpython-vm-0.1.2\src\obj\objdict.rs:651:67
       |
572 |                         let s = vm.to_repr(&$result_fn(vm, key, value))?;
       |

[2021-02-26 21:57] joetoth commented on #196
numpy would lay the foundation for other libraries like pandas and tensorflow.

[2021-02-27 21:29] zicklag commented on #2504
Yeah, I'm getting the same thing on latest nightly and latest stable Rust using `rustpython-vm = "0.1.2"` in the `Cargo.toml`. Looks like master won't build either, but it works if you go a couple commits back:

[code]

[2021-03-02 05:26] aaronclong commented on #2296
Is this still open, might take a crack at it?

[2021-03-02 05:41] coolreader18 opened #2510 "Compilation for `async for` comprehensions is not yet implemented"
i.e. `[x async for y in z]`. There's an `unimplemnted!("async for comprehensions")` in `compiler/src/compile.rs`, which is where an implementation could start out. Take a look at how normal `compile_for` works for async and how `compile_for`'s non-async implementation is structured somewhat similarly to `compile_comprehension`.

[2021-03-02 05:42] coolreader18 commented on #2296
@aaronclong oh, sorry, this was fixed a little while ago, I forgot there was an issue for it. If you're interested in bytecode compiler stuff, the main thing I can think of now is `async for` comprehensions (#2510)

[2021-03-02 05:42] #2296 closed

[2021-03-03 07:49] Canvis-Me opened #2511 "Cannot build from source on FreeBSD 12.2"
I set up a  local rustup environment(stable, 1.50.0) to build it from source, however it failed.

Additional error information was attached.

[error.log](https://github.com/RustPython/RustPython/files/6074344/error.log)

[2021-03-04 02:35] aaronclong commented on #2510
@coolreader18 I'm looking into this, not committing to when I can implement it. However, I was wondering if there was a good guide for the `Instruction` enum? I can generally get an idea for each operation. However, I have never really worked on a programming language, so a guide, definition, or something would be amazing.

[2021-03-04 05:07] coolreader18 commented on #2510
@aaronclong ah, we don't really have that, the closest thing would be doc comments on the enum variants but there aren't many. That's definitely something to improve. However, you can check the CPython docs for the [dis module](https://docs.python.org/3/library/dis.html), we share many of the same instructions (although renamed to CamelCase, obviously) and you can usually check how CPython compile

[2021-03-08 05:06] coolreader18 commented on #2511
@Canvis-Me could you try with the `freebsd` branch? I think I fixed most of the errors there.

[2021-03-08 06:54] Canvis-Me commented on #2511
@coolreader18 Hello, thanks for your help! I checked out the freebsd branch and run 'cargo run --release'. There were still some errors.
[RP_error_fbd.log](https://github.com/RustPython/RustPython/files/6099432/RP_error_fbd.log)

[2021-03-08 14:09] coolreader18 commented on #2511
Alright, could you try again?

[2021-03-08 14:21] Canvis-Me commented on #2511
It's OK, no error anymore. Thank you!

[2021-03-14 16:34] #2511 closed

[2021-03-16 05:58] GoodiesHQ commented on #362
Also, Cython is solidly mature at this point and creating functions that are C/Cython-only (any code that does not use the Python C API) can have the `nogil` attribute that will allow you to run parallelized code. Granted, you cannot use the Python API within that scope so python objects of any kind are off-limits... still worth a note, though! :)

[2021-03-16 10:24] Pluriscient commented on #2351
This seems to be solved by #2473, is there a reason for it to remain open?

[2021-03-16 11:48] TheOnlyError commented on #2406
Currently working on this! Opening a PR later today :).

[2021-03-16 13:05] #2351 closed

[2021-03-17 11:09] verhovsky commented on #2406
while you're at it, it would be nice to have `.....` on continuation lines, just like CPython has `...`.

[2021-03-17 15:38] coolreader18 commented on #2406
@verhovsky don't we already?

[code]

[2021-03-17 15:38] coolreader18 commented on #2406
oh nevermind you mean specifically when pasting

[2021-03-18 19:58] nielsbauman commented on #2396
Hi there, I'm trying to implement this together with @theangryhobbit. We're currently discussing which benchmarks we should select, so we'd like some input from others as well. Perhaps you (@mireille-raad), @coolreader18 and @youknowone could weigh in on how we should select a set of benchmarks. The ones that are currently generated/available are:

![image](https://user-images.githubusercontent.co

[2021-03-19 14:15] coolreader18 commented on #2396
I think it's not a bad idea to show the same metrics for all the benchmarks, they're all pretty varied in what specifically they show so it's good to be able to see the comparisons for all the different aspects of the interpreters.

[2021-03-19 16:00] mireille-raad commented on #2396
Thank you @nielsbauman for looking at this. I have no strong opinion about this and would defer to what @coolreader18  and @youknowone would pick.

I will be more interested in the organization of the output and the format in which data can be saved. I want to make sure we can easily integrate outputs with the website (jekyll) and that over time it is easy to scale/add more things.

[2021-03-19 19:31] youknowone commented on #2396
I think showing all plots will be good unless we collect a lot more benchmarks in future. Thank you for the work, it looks great.

[2021-03-20 22:10] luke-titley commented on #2371
Hey, is there any update on this issue? Looks like the push never happened. Super interested in using rust python :)

[2021-03-21 22:11] Pluriscient opened #2522 "[RFC] Documentation"
# Documentation overview

## Summary

Documentation is in need of improvement. There are a number of components that have little to no documentation, and this makes the project harder to understand for newcomers.

## Detailed Explanation

While #1677 exists, I believe it is better to create a more fleshed out issue for just general documentation as opposed to more detailed explanations which I bel

[2021-03-22 21:24] theangryhobbit opened #2524 "[RFC] Architecture overview"
## Summary
Create an architectural overview of RustPython, to bridge the gap between occasional and core contributors. The document will be kept concise, only containing essential information.

## Detailed Explanation

### Motivation
For an open-source project in the range of 10k-200k lines of code, it is recommended to create an architecture document next to the readme and the contributing docume

[2021-03-23 17:45] Pluriscient opened #2526 "Integration tests"
# Summary

For some general behaviour tests it may be appropriate to create integration tests

_Originally brought up by @coolreader18 in https://github.com/RustPython/RustPython/issues/2519#issuecomment-803645855_

[2021-03-25 08:48] Pluriscient commented on #2526
These could also be brought under `extra_tests` if that's more appropriate?

[2021-03-25 13:04] #2406 closed

[2021-03-25 17:55] verhovsky opened #2527 "expressions in blocks don't print their value in the REPL"
Try the following snippets:

[code]

In CPython:

[code]

In RustPython:

[code]

[2021-03-26 19:48] verhovsky opened #2529 "CPython REPL prints"
Type in the following in the REPL and press Tab once:

[code]

CPython:

[code]

RustPython:

[code]

it completes up to the first ambiguity, but doesn't print any suggestions unless you press Tab twice:

[code]

and I guess you can see the other incompatibility is that it doesn't print the name of module in the results.

[2021-03-28 08:28] cymqqqq commented on #2504
I'm getting the same error, can U fix it now?

[2021-03-30 04:55] mireille-raad commented on #1983
is this done?

[2021-03-30 05:06] #1983 closed

[2021-03-31 03:17] yulincoder commented on #2504
same error +1

[2021-04-06 21:25] duysqubix commented on #1175
Implementing os.listxattr

[2021-04-08 16:01] wannaphong opened #2545 "How to install pip?"
Hello. I cannot install pip to RustPython. I use https://github.com/RustPython/RustPython/commit/b870fbef5dba789e07d04442bcc00732743849a7. Can you guide me?

[code]

[2021-04-08 16:34] coolreader18 commented on #2545
Ah, I just ran into this too, it should be fixed on the `coolreader18/misc-fixes` branch/PR #2544

[2021-04-09 09:56] jhoobergs opened #2547 "Using master version of vm in other crate on Windows"
Building locally on windows works when I execute `powershell scripts\symlinks-to-hardlinks.ps1`.

But when I want to include the `rustpython-vm` crate in another crate from git (to always have the latest version), I get the errors about Lib not being found etc. Probably because the powershell script is not executed.

My current solution is to clone the repo myself, execute the powershell script an

[2021-04-12 20:06] ruipacheco commented on #2504
Adding more detail:

[code]

[2021-04-12 20:08] coolreader18 commented on #2504
I think we'll release a new version soon, but for now adding a git dependency works as @zicklag said

[2021-04-12 20:09] zicklag commented on #2504
@coolreader18 would it make sense to yank the currently released version so that people don't keep pulling the broken one?

[2021-04-12 20:17] coolreader18 commented on #2504
Yeah, probably. I could probably put a message on it too.

[2021-04-14 20:14] #2545 closed

[2021-04-17 00:15] dclong opened #2562 "Installation failed in Ubuntu"
The following error message is thrown.
[code]

[2021-04-17 00:16] #2562 closed

[2021-04-17 02:09] coolreader18 commented on #2562
Yeah, you can install from the master branch - `cargo install --git https://github com/RustPython/RustPython`

[2021-04-17 23:32] fanninpm commented on #1671
Here's my running tally of what we have so far (this is not exactly comprehensive, but I believe this gets the gist of where we're going):
____

- [ ] test_asyncio/
  - [ ] test_asyncio_waitfor.py
  - [ ] test_base_events.py
  - [ ] test_buffered_proto.py
  - [ ] test_context.py
  - [ ] test_events.py
  - [ ] test_futures.py
  - [ ] test_futures2.py
  - [ ] test_locks.py
  - [ ] test_pep492.py
  -

[2021-04-18 03:23] coolreader18 commented on #2545
Fixed, and also rustpython now has a `--install-pip` option to make it super easy to install pip.

[2021-04-18 16:34] Pebaz commented on #2371
Can't get a master branch hello world build to work due to syntax error in some builtin Python module.

Is there any way we can get a useable version up on Crates.io?

Super amazingly interested in Rustpython! :D

[2021-04-18 21:38] #1754 closed

[2021-04-19 11:26] ishigoya commented on #2562
I ran into this error when trying to build from within the repository.

I managed to get around it by running `cargo install --path . rustpython`

[2021-04-21 21:17] coolreader18 opened #2581 "Syntax error messages are different from CPython's"
See e.g. #2570. Some of the unit tests there with "wrong error message" should be somewhat easy to fix - just correct the error message we have to match CPython's. Others might be trickier, since you'll need to add diagnostics to recognize bad syntax and give a more detailed error than "unexpected token". Also, I think around half of them could be fixed just by adding "invalid syntax" in the messa

[2021-04-22 01:28] ishigoya opened #2583 "Conversion of objects with __index__() to bin, hex, oct"
## Feature

At present, objects with the `__index__()` method cannot be converted to binary, hex or oct strings.

## Python Documentation

From the [Python docs](https://docs.python.org/3/reference/datamodel.html#object.__index__):

## Example

Behaviour in Python:

[code]

But fails for bin, hex and oct in rustpython:

[code]

## Failing tests

I think this might be causing some tests to fail. Fo

[2021-04-24 02:49] ishigoya commented on #2583
I'm working to get my head around the behaviour of the `__index__` method in
CPython compared with RustPython. [PEP 357](https://www.python.org/dev/peps/pep-0357) has been a really useful starting point for that.

Possibly not directly related, but I also encountered the issue below relating to the `__index__` method.

CPython:

[code]

RustPython:

[code]

[2021-04-24 16:40] ishigoya commented on #2583
I've come up with a possible solution to this issue. I'll explain the background a bit, for my own learning if nothing else!

-----

#### The Issue

As described in PEP 357, objects with a `__index__` method that returns an integer can be treated as integers.

In CPython, the `PyNumber_Index` function is used to verify the presence of a valid `__index__` function. For example, below is the code us

[2021-04-24 21:40] Pebaz commented on #2547
This is also my current situation, although I didn't know about the local path trick. Can the powershell invocation be put into a build.rs or something? This is impossible to figure out ostensibly to new users. :/

I think this is more of an issue than it might seem to non Windows users because as of yesterday, I was just simply unable to use this library because I thought it was broken on Windows

[2021-04-25 18:00] Pebaz commented on #2547
@jhoobergs I was able to depend on my own fork of RustPython after putting the symlink converter script into a `build.rs` file.

[Here](https://github.com/RustPython/RustPython/compare/master...Pebaz:master) are the changes that worked for me.

### Possible Solution To Symlink Problem

Since RustPython is using symlinks to have files exist in multiple places in the project tree, a potential differ

[2021-04-25 20:41] meow464 opened #2598 "Link to online documentation is broken"
On the README.md:

Gives a 404.

[2021-04-26 12:29] Pebaz commented on #2547
I just realized it would probably be much easier to just have the `build.rs` script copy over the needed files every time. The current symlink to hard link converter is not idempotent and multiple runs will leave the repo in an unusable state.

Instead of using symlinks, why not copy paste to preserve compatibility between platforms?

[2021-04-26 14:15] coolreader18 commented on #2547
Having the build.rs do that would only work when in the git tree - when rustpython is published to crates.io it wouldn't find the files in the parent directory, while with symlinks `cargo publish` just views the symlink as a normal directory and packages it normally. Also, putting it in `build.rs` would make `vm/Lib` dependent on cargo's caching/incremental compilation, which can be pretty finnick

[2021-04-26 14:43] Pebaz commented on #2547
@coolreader18 Ah yes those are good points. I think that would work. I would be especially interested if it removed the need to run the powershell script as that requirement makes it so that you cannot depend on RustPython as a library on Windows.

[2021-04-28 18:54] Lynskylate commented on #2474
RC is not a high-performance gc algorithm, maybe introducing other gc algorithms is an option.

[2021-04-28 18:54] Lynskylate commented on #2474
RC is not a high-performance gc algorithm, maybe introducing other gc algorithms is an option.

[2021-04-29 06:43] pca006132 commented on #2474
I think there are 2 problems here.

1. RC is not high-performance.
2. Atomic and locks are causing high overhead.

And our variables in this case are not shared between threads, this kind of lock contention is not desirable.

[2021-04-29 21:14] jhoobergs commented on #2547
@Pebaz Can you try with `rustpython-vm = { git="https://github.com/jhoobergs/RustPython.git", branch = "coolreader18/fix-windows-symlinks" }`?

[2021-05-02 00:33] KnightBlood opened #2616 "could not compile `rustpython-vm`"
OS:Windows 10
Compiler:Msys2 With Rust

error：
` Compiling rustpython-vm v0.1.2 (E:\RustPython\vm)
error[E0432]: unresolved imports `nt::_set_thread_local_invalid_parameter_handler`, `nt::silent_iph_handler`
    --> vm\src\stdlib\os.rs:3124:14
     |
3124 | pub use nt::{_set_thread_local_invalid_parameter_handler, silent_iph_handler};
     |              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2021-05-02 02:06] KnightBlood commented on #2616
Rust Version：1.51.0
LLVM version ：11.0.0

[2021-05-02 04:17] coolreader18 commented on #2616
Huh, I think that's a disconnect between one part of the codebase that has `cfg(all(windows, target_env = "msvc"))` and another that's just `cfg(windows)`. Shouldn't be too hard to fix, I think

[2021-05-02 04:20] coolreader18 commented on #2616
@KnightBlood could you try checking out the `coolreader18/fix-windows-symlinks` branch? I just stuck it in there cause there are already windows-related fixes, but it should work.

[2021-05-02 05:58] KnightBlood commented on #2616
warning: unused import: `crate::builtins::list::PyListRef`
    --> vm\src\stdlib\os.rs:2767:9
     |
2767 |     use crate::builtins::list::PyListRef;
     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
     |
     = note: `#[warn(unused_imports)]` on by default

   Compiling rustpython v0.1.2 (E:\RustPython)
warning: 1 warning emitted

[2021-05-02 05:59] KnightBlood commented on #2616
warning: unused import: `crate::builtins::list::PyListRef`
    --> vm\src\stdlib\os.rs:2767:9
     |
2767 |     use crate::builtins::list::PyListRef;
     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
     |
     = note: `#[warn(unused_imports)]` on by default

   Compiling rustpython v0.1.2 (E:\RustPython)
warning: 1 warning emitted

[2021-05-02 08:19] #2583 closed

[2021-05-02 15:37] coolreader18 commented on #2616
Right, but it still compiles, that's just a warning.

[2021-05-03 12:47] oroppas opened #2622 "Missing typing._SpecialForm"
## Feature

typing._SpecialForm

## Python Documentation

https://docs.python.org/3/library/typing.html?highlight=typing#module-typing
https://github.com/python/cpython/blob/3.9/Lib/typing.py#L317

[2021-05-03 12:52] oroppas opened #2623 "Missing dataclasses module"
## Feature

[rich](https://github.com/willmcgugan/rich) depends on `dataclasses`

## Python Documentation

https://docs.python.org/3/library/dataclasses.html?highlight=dataclasses#module-dataclasses

[2021-05-06 04:09] dbsxdbsx opened #2624 "Does the project support using python module with rust multi-thread project and compile into binary?"
I create this "issue" because I am not quite sure about the features of this project.
I want to  build a rust-based binary application, but I need to use some tool(module) from python. Then I found "PyO3", the crate can let I use python moduel in rust. But there 2 weaks I faced:
1) I can't take multi-thread feature in Rust if I use python module there, because of GIL;
2) Even with app compiled, I

[2021-05-07 18:43] #2547 closed

[2021-05-07 18:43] #2616 closed

[2021-05-10 11:52] ruipacheco commented on #2504
Something changed but I still can't install:

[code]

[2021-05-10 13:07] coolreader18 commented on #2504
@ruipacheco try `cargo install --git https://github.com/RustPython/RustPython`

[2021-05-10 13:14] ruipacheco commented on #2504
When will cargo be fixed?

[2021-05-10 15:56] domdfcoding opened #2629 ""certificate verify failed" when installing pip"
Hi,

I have built and installed RustPython from source using cargo:

[code]

However, when I attempt to install pip using the `rustpython --install-pip` command I am faced with the following error:

<details>
 <summary>Long Traceback</summary>

[code]

</details>

I can reproduce this within RustPython with other HTTPS websites, so I don't think the issue is specific to downloading `get-pip.py`.

[2021-05-10 16:00] coolreader18 commented on #2629
Oh, hmm, that's not optimal. But try running `cargo install` with the `OPENSSL_NO_VENDOR` option set, I think that should use the system openssl and correctly find the ca files.

[2021-05-10 16:17] domdfcoding commented on #2629
Ah, thanks. I wasn't aware of that option. I'll give it a go

[2021-05-10 16:19] coolreader18 commented on #2504
Ohhh wait the actual issue is this:

https://github.com/RustPython/RustPython/blob/b6aa6900f69d15aa412cd450941c5fd488269f97/vm/src/stdlib/ssl.rs#L970-L973

The `openssl_probe` call should be in the first one.

[2021-05-10 16:27] coolreader18 commented on #2629
Ohhh wait the actual issue is this:

https://github.com/RustPython/RustPython/blob/b6aa6900f69d15aa412cd450941c5fd488269f97/vm/src/stdlib/ssl.rs#L970-L973

The `openssl_probe` call should be in the first match arm.

[2021-05-10 16:31] domdfcoding opened #2631 "Missing "write_through" argument for io.TextIOWrapper"
## Feature

In CPython `io.TextIOWrapper` has a `write_through` argument, which disables buffering on writes.
However, in RustPython the argument is missing,

All of the other arguments are specified in `io.rs`:

https://github.com/RustPython/RustPython/blob/b6aa6900f69d15aa412cd450941c5fd488269f97/vm/src/stdlib/io.rs#L1785-L1796

This argument is used by `subprocess.Popen` in certain circumstance

[2021-05-10 16:37] coolreader18 commented on #2631
Oh I'm actually working on TextIOWrapper locally, I can definitely add this.

[2021-05-10 23:58] #2504 closed, assigned to nobody

[2021-05-10 23:58] #2629 closed, assigned to nobody

[2021-05-11 16:27] fanninpm commented on #2622
@coolreader18 `typing.py` [radically changed in Python 3.7 as a result of PEP 560](https://docs.python.org/3/whatsnew/3.7.html#whatsnew37-pep560). However, RustPython currently uses the version from Python 3.6. My attempts to update this module have been unsuccessful - I can try to provide more context later today.

[2021-05-12 16:48] fanninpm commented on #2581
This will also change when we decide to start emulating CPython 3.10, as that version will feature [more helpful error messages](https://docs.python.org/3.10/whatsnew/3.10.html#syntaxerrors).

[2021-05-13 07:08] pca006132 commented on #2624
I don't think this fits your usecase, this is a python interpreter.
Also, this does not support all python packages at this moment.

Regarding your problem: What packages do you want to call from Rust? Is there any libraries with that feature in Rust? I don't think calling Python from Rust would be a good idea if you want better performance.

[2021-05-13 07:19] dbsxdbsx commented on #2624
@pca006132, because of GIL in python, I  would prefer to use rust fo multi-thread project, so I want to calling python from rust. As there is no replaceable crate in rust, so I hope find a way to transfer python code to rust, then I found this project.

[2021-05-13 08:01] pca006132 commented on #2624
The problem is that whenever you interact with Python code, you need to acquire the GIL, so it doesn't really work. Also, I don't think most python libraries would expect you to run the code concurrently, as they might have some global state that is not expecting concurrent execution, so even if the interpreter can get rid of the GIL, it might not be a good idea to call into whatever library and m

[2021-05-13 08:11] dbsxdbsx commented on #2624
@pca006132 ，I agree with what you said. Frankly, I am doing  research on Reinforcement Learning with python module pytorch and OpenAi gym. OpenAi gym is used for simulating environments, and I need to run several different environtment at same time, at present , now I could only work around it using multiProcessing, but it is really memory consuming and it would reduce whole performance sometimes.

[2021-05-13 23:50] oroppas opened #2642 "SSL stops working?"
## Feature

It appears that RustPython is unable to connect to the network.
I did `cargo run --features ssl --release ../get-pip.py` after grabbing `get-pip.py` then

[code]

How can I diagnose this issue?

[2021-05-14 01:22] fanninpm commented on #2642
What OS are you using?

[2021-05-14 01:25] coolreader18 commented on #2642
Weird, I'm able to reproduce on my machine. `ssl.get_default_verify_paths()` seems to work fine, too.

[2021-05-14 01:28] coolreader18 commented on #2642
Yeah, I guess this is a regression from #2630, but I don't know why - I have the `OPENSSL_NO_VENDOR` variable set in my environment, so it shouldn't have changed anything.

[2021-05-14 01:30] coolreader18 commented on #2642
And `urllib.request.urlopen` works fine too. Huh.

[2021-05-14 01:45] oroppas commented on #2642
I'm on Arch Linux with rust 1.52.1

[2021-05-14 01:51] coolreader18 commented on #2642
Actually I think it's probably my PR #2621, since it actually works fine right after #2630

[2021-05-14 02:18] coolreader18 commented on #2642
Ach, I have to implement the weird blocking logic that python has for sockets in the `_ssl` module. Ok, thank you for reporting this, I have an idea of how to fix this now.

[2021-05-14 02:33] pca006132 commented on #2624
I think the underlying libraries for these AI frameworks usually have multicore/GPU optimization already. I wonder if calling those APIs from multiple cores would provide any performance improvement. If the bottleneck is your sequential code, I think one way would be to rewrite the computation (avoid calling to python APIs) in Rust and call via pyo3. You really have to check where your bottleneck

[2021-05-14 02:38] dbsxdbsx commented on #2624
@pca006132 ， it is easy to do parallesim for AI framework(python module: pytorch), but it is difficult to do parallelism for simulation of the environment(python module: OpenAi gym). Therefore, I still need to rewrite some moudel in rust.

Anyway, thanks for your advice.

[2021-05-14 02:38] #2624 closed

[2021-05-15 02:13] #2642 closed

[2021-05-15 02:31] #2631 closed

[2021-05-15 02:45] oroppas opened #2648 "get-pip.py fails"
[code]

works like a charm but

[code]

[2021-05-15 02:49] oroppas commented on #2642
Thanks!

[2021-05-15 15:08] domdfcoding commented on #2648
I can reproduce with a little snippet based on what urllib3 is doing:

[code]
[code]

The docs for the "register" method say the first argument can be "either an integer, or an object with a fileno() method returning an int".

I can track the exception within the rust code to

https://github.com/RustPython/RustPython/blob/e05428851d84aaad88f3e8d2c3808837ac159cd2/vm/src/vm.rs#L842-L863

I think it'

[2021-05-15 16:34] coolreader18 commented on #2648
I think I've got a fix for this; sorry the other one didn't actually work, I guess when I tested it `pip.whl` was already cached on my computer.

[2021-05-15 20:14] #2648 closed

[2021-05-16 07:25] oroppas commented on #2648
Thank you for the quick fix!

[2021-05-16 23:15] DimitrisJim commented on #2527
Not sure if this is really a problem, though CPython's and PyPy's REPL do this, it up to whatever `sys.displayhook` does. IPython, for example, tinkers with the `displayhook` to do its own things and doesn't write out the `repr` of whatever expression is inside a compound statement.

Personally, I've never really found this useful and wouldn't *really* miss it.

[2021-05-16 23:32] coolreader18 commented on #2527
I think the difference here is basically that in `single` mode, CPython emits `PRINT_EXPR` for the result of statements instead of `POP_TOP`, while we just return the value of the last statement and print that.

[2021-05-17 01:06] oroppas opened #2658 "Missing "final" decorator in typing"
## Feature

`pytest`'s type checking depends on `final` from `typing`

https://github.com/pytest-dev/pytest/blob/main/src/_pytest/compat.py#L348

[code]

## Python Documentation

https://docs.python.org/3/library/typing.html?highlight=typing#typing.final

[2021-05-17 11:06] DimitrisJim commented on #2527
You're right on that:

[code]

do you think this warrants a change?

[2021-05-17 12:18] oroppas opened #2659 "ModuleNotFoundError: No module named '_codecs'"
I wonder if anyone has the same issue.
RustPython works perfectly fine on Linux, but not on Windows:

[code]

[2021-05-17 13:02] coolreader18 commented on #2659
Can you try setting the RUSTPYTHONPATH env car to point to the Lib directory in your checkout? Though it should know about it automatically...

[2021-05-17 14:32] oroppas commented on #2659
Wow. It worked like a charm!

[code]

[2021-05-17 14:43] oroppas commented on #2659
Here's what I did before building:

[code]

[2021-05-20 15:32] #2598 closed

[2021-05-22 07:45] pca006132 commented on #362
It seems that the current implementation uses OS thread for threading, but uses a lot of atomics for synchronization. I wonder if it is possible to have some kind of memory model that requires the user to explicitly synchronize the data, similar to using synchronize and volatile in Java. AFAIK, this is not defined for Python.

As mentioned in #2445 and #2474, atomic is causing serious performance

[2021-05-23 04:02] oroppas opened #2668 "get-pip.py hangs"
`cargo run --features ssl --release get-pip.py` hangs indefinitely on both Linux and Windows.
How can I diagnose?

[2021-05-23 13:34] coolreader18 commented on #2668
You could try adding `-v` as an argument to `rustpython`, e.g `target/release/rustpython -v get-pip.py`. That should at least tell you what the last thing that gets imported is, and you can add more `v`'s to get more verbose logs.

[2021-05-23 15:43] oroppas commented on #2668
Thanks.

I did some manual debugging with more verbosity to figure out where rustpython hangs

[code]

What's puzzling is that `rustpython -c "import encodings.ascii"` has no issue at all.

[2021-05-23 20:11] coolreader18 commented on #2668
Does `cargo run --features ssl --release -- -v --install-pip` work or give the same error? That's what we run in CI to make sure pip can install, though manually running the `get-pip.py` shouldn't be any different.

[2021-05-23 23:39] oroppas commented on #2668
Hmm. `cargo run --features ssl --release -- -v --install-pip` works perfectly fine.

[2021-05-23 23:43] coolreader18 commented on #2668
Weird...

[2021-05-24 00:02] oroppas commented on #2668
For now `--install-pip` works, so no big deal. I'll come back and try to figure out what's going on.

[2021-05-24 00:06] oroppas commented on #2659
So, do we have to set `RUSTPYTHONPAT` point to `Lib` directory on Windows environment?
I think it'll be nice if rustpython can automatically pick it up.

[2021-05-24 15:05] oroppas opened #2671 "--install-pip fails on Windows"
[code]

[2021-05-25 18:31] KorobeinikovIgor opened #2673 "RustPython is not compilling! Why?"
![image](https://user-images.githubusercontent.com/73735838/119549936-6dd49f00-bda0-11eb-898e-162382dda4dd.png)

[2021-05-25 19:11] coolreader18 commented on #2673
Could you try running `rustup update`?

[2021-05-26 06:02] KorobeinikovIgor commented on #2673
![Uploading image.png…]()

[2021-05-26 06:05] KorobeinikovIgor commented on #2673
![image](https://user-images.githubusercontent.com/73735838/119610172-7dd09b00-be01-11eb-9589-bd54d5d965ef.png)

[2021-05-26 06:32] coolreader18 commented on #2673
What's the output of `cargo -vV`?

[2021-05-26 06:49] KorobeinikovIgor commented on #2673
![Uploading image.png…]()

[2021-05-26 06:49] KorobeinikovIgor commented on #2673
![image](https://user-images.githubusercontent.com/73735838/119615087-aeb3ce80-be07-11eb-8424-dcdd49a94f65.png)

[2021-05-26 11:19] KorobeinikovIgor commented on #2673
![image](https://user-images.githubusercontent.com/73735838/119651128-5394d280-be2d-11eb-8eee-40a119c4f476.png)

[2021-05-26 14:47] coolreader18 commented on #2673
Huh. How did you install Rust? Your toolchain is out of date, it should be like 1.52. Did you use your system package manager? Could you try updating it through that?

[2021-05-26 15:10] KorobeinikovIgor commented on #2673
i wrote later

[2021-05-26 18:43] coolreader18 commented on #2673
The crates.io stuff doesn't matter, you have to use a newer version of rust to compile rustpython. I'm not sure how exactly your setup is, but we have this in the readme:

Latest stable version right now is 1.52.2.

[2021-05-26 18:43] #2673 closed

[2021-05-30 14:14] DimitrisJim opened #2680 "Built-in methods/classes/functions lack documentation."
Most (?) of the built in functionality currently lacks corresponding documentation. The functionality to grab and attach the docs is there, the docs just haven't been added.

This, I believe, could make a good first issue for many people, it just involves taking the documentation and adding it before (after works too but most current examples add it before) the `#[py(function/method/class)]` attri

[2021-06-04 10:40] ralfbiedert opened #2687 "Vanialla checkout as described in README does not work on Windows"
When using the project from another crate like so:

[code]

it compiles on Windows as expected. However, when following the instructions from the `README` I get:

[code]

Using:

[code]

[2021-06-07 03:53] verhovsky opened #2693 "super.__init__() always gets all arguments when inheriting from builtin class"
On CPython 3.9.5 I can inherit from `list` and take an extra argument before initializing the list

[code]

On latest RustPython it seems to pass all the arguments to `list()`, regardless of what I actually pass when invoking `__init__`

[code]

It seems to work correctly if the base class is defined in Python

[code]

[2021-06-07 03:55] verhovsky commented on #2693
duplicate of #1782

[2021-06-07 03:55] #2693 closed

[2021-06-09 13:28] allsey87 commented on #2362
@coolreader18 regarding `bincode` being the main blocker, it seems that there is a repository in the same organization for a `no_std`-compatible bincode: [bincode-org/bincode-core](https://github.com/bincode-org/bincode-core). Could this be a viable solution?

[2021-06-09 14:31] coolreader18 commented on #2362
Possibly, though I don't think bincode-core is published yet. I think my current plan would be to rewrite rustpython-bytecode to use [deku](https://docs.rs/deku) instead of bincode; it's moreso designed for custom binary formats, and might be easier to keep stable.

[2021-06-18 07:33] Bubbler-4 opened #2716 "Stdin support in VM?"
I'm investigating how I could support something like [this interface](https://tio.run/#python3) but running entirely in the browser. This means I have to support feeding stdin into the VM, so that the Python built-ins like `input()` work on it. Another major requirement is supporting `argv` but I think it can be fed by manually setting the `argv` field in the `PySettings` object when creating the

[2021-06-22 14:36] allsey87 opened #2718 "Is it possible to make VirtualMachine Sync?"
I am trying to integrate RustPython into a game using Bevy and although I am able to find [a solution using exclusive systems](https://gist.github.com/allsey87/5b0db1a218604394c5deaf2b31ddbe1e) it is not very flexible and prevents other unrelated systems from running in parallel.

The core issue is that `Sync` is not currently implemented for `VirtualMachine`, or more precisely for the `RefCell` w

[2021-06-22 14:38] allsey87 commented on #2718
Cross referencing issue #706

[2021-07-01 12:54] Paroxyste opened #2721 "Package installation error with PIP"
Rust : 1.53.0
Tested on : Solus 4.2 & Manjaro 21.0.7

## Feature

Hello when I try to install a package like flask or quart with pip with the command :

`rustpython -m pip install quart` or `rustpython -m pip install quart==0.15.1`

I get in return :

[code]

but if I install for example configparser it works perfectly.

The error mentioned above occurred with the packages :
- Flask
- Quart
- blin

[2021-07-09 03:09] charlesxsh opened #2725 "Failed to build RustPython"
Cargo.toml dep:

rustpython-vm = { git = "https://github.com/RustPython/RustPython.git" }

I met following error when trying to build it:
[code]

[2021-07-09 14:42] zys864 opened #2727 "Failed compile with "wasm-wasi" target"
## Summary
When running 'cargo build --release --target wasm32-wasi --features="freeze-stdlib"' ,it failed in "vm/src/stdlib/os.rs:1479:38".

## Detailed Explanation
Here are compile info:
Compiling rustpython-vm v0.1.2 (~/PL/Rust/RustPython/vm)
error[E0308]: mismatched types
    --> vm/src/stdlib/os.rs:1479:38
     |
1479 |     fn times(vm: &VirtualMachine) -> PyResult {
     |        -----

[2021-07-11 16:39] jamestwebber opened #2732 "Some failures in whats_left.sh: method inheritance not as expected"
## Feature

The `whats_left.sh` script generates a list of incompatibilities by comparing signatures with `inspect.signature()`. I think one source of mismatches is because of how builtin object inherit (or don't inherit) from `object`. I don't yet understand how RustPython is doing this so I'm documenting the issue here, but I could write a PR with some help.

### Description

As an example: `sys

[2021-07-12 15:54] inbararan commented on #2725
I had the exact same problem when trying to build.
I don't know what's the original problem (how come it compiles for everyone else) but when I added the `Sized` marker (as suggested in the compiler message) it actually worked.

[2021-07-13 08:50] solar-beam commented on #2687
I've got same error using rustc `1.53.0`, cargo `1.53.0` on windows 10 wsl(ubuntu 20.04.) Did you solve this issue? ☹️

[code]

[2021-07-13 14:12] solar-beam commented on #2687
thanks for answering!

[2021-07-13 22:05] oroppas commented on #2687
Try set `RUSTPYTHONPATH` to `your_rustpython_path\RustPython\Lib`. It works on my Windows.

[2021-07-17 13:04] bobsiunn opened #2746 "Failed to build RustPython [Fail to compile]"
After I clone RustPython, I build Rustpython by command "cargo run --release" and I could compile 331 files.
But when I try to compile  'rustpython-vm', it failed because of this error
Is there anyone who know how to fix it?

[code]

[2021-07-18 04:25] bobsiunn commented on #2746
this error is occurred because of master branch last commit conflict

[2021-07-21 18:28] fanninpm commented on #2746
What OS are you running?

[2021-07-22 09:21] OlshaMB opened #2748 "Build crashes"
I run cargo build and it crashes after a time. I tried to use zip release and I have the same error

[code]

[2021-07-24 05:55] whgusdn321 commented on #2687
@oroppas do you mean set RUSTPYTHON as environment variable in Window? what is RUSTPYTHON? I'm beginner of this project..

[2021-07-24 06:48] oroppas commented on #2687
@whgusdn321 `RUSTPYTHONPATH` is an environment variable.
On my windows computer, I did `set RUSTPYTHONPATH=C:\msys64\home\ryuta\packages\rustpython\rustpython\Lib`

[code]

[2021-07-24 06:54] whgusdn321 commented on #2687
thanks a lot! it worked for me also!!

[2021-07-25 08:44] infopensource opened #2752 "Error：thread 'main' panicked at 'initializiation failed"
System: Windows11 Preview(but i think there's no difference between 11 and 10)
here's the problem when i clone the code from github and build it

PS C:\Users\22235\Desktop\RustPython-master> cargo run --release demo.py
warning: unused imports: `handleapi`, `winbase`
    --> vm\src\stdlib\os.rs:3276:26
     |
3276 |         use winapi::um::{handleapi, winbase};
     |                          ^^^^^

[2021-07-25 08:48] infopensource commented on #2752
It's my first issue, so i didn't compose well, Thank's for your read

[2021-07-26 08:56] DimitrisJim commented on #2746
This should be fixed now that #2743 was merged.

[2021-07-26 15:11] infopensource commented on #2752
Hey, everyone: I'am very surprise to see it works well when i reboot my laptop,so if you have tried all solutions but it didn't work, try   to reboot your computer.

[2021-07-26 15:12] #2752 closed

[2021-07-27 00:10] infopensource commented on #1983
How can i install this fucking pip!!!!!!!!!!

[2021-07-27 02:25] mireille-raad commented on #1983
@infopensource  does this help? https://asciinema.org/a/3pAZSfrFeIbEUzpPyXtvYZCeN

[2021-07-28 01:32] yaxollum opened #2757 "Value of builtins.__name__ is incorrect"
From an interactive prompt or inside a Python script, in RustPython:
[code]
whereas in CPython:
[code]

As you can see, `builtins.__name__` is incorrectly set to `__main__` instead of `builtins`.

I think this issue was introduced by PR https://github.com/RustPython/RustPython/pull/149, which was intended to fix the global `__name__`.

`__name__` was fixed properly with PR https://github.com/RustP

[2021-07-28 04:20] #2757 closed

[2021-07-29 09:57] sobolevn opened #2759 "Recent changes to CPython's grammar and PEG parser, PEP-617"
## Feature
Python3.9+ support some new grammar rules, like `()` around `with` expression:

[code]

But, RustPython does not support it:
<img width="961" alt="Снимок экрана 2021-07-29 в 12 54 24" src="https://user-images.githubusercontent.com/4660275/127471814-00c35e98-ebeb-473e-a219-1a8d73814eba.png">

I think that the root of this problem is that new PEG parser is not supported: https://github.co

[2021-07-29 15:57] DimitrisJim commented on #2759
Yup, the project is currently targeting 3.8 so this shouldn't come as a surprise. Hopefully, at some point in the future, 3.9 will be the new goal and using a PEG parser will probably be needed.

[2021-07-29 16:06] #2746 closed

[2021-07-29 16:10] sobolevn commented on #2759
Then, I guess we can change this line in the README, because `3.9>=3.8` 🙂
<img width="501" alt="Снимок экрана 2021-07-29 в 19 09 31" src="https://user-images.githubusercontent.com/4660275/127527041-337577e4-00eb-44d4-94ef-16e57d16390d.png">

[2021-07-29 16:11] sobolevn commented on #2759
Also: https://github.com/RustPython/RustPython/pull/2417

[2021-07-29 16:17] sobolevn opened #2762 "Incompatible `__prepare__` signature"
## Feature

`type.__prepare__` can receive 0 arguments in `CPython`:

[code]

The same happens with `3.8`.

But, `RustPython` requires to pass 2 args:

[code]

## Python Documentation

https://docs.python.org/3/reference/datamodel.html#preparing-the-class-namespace
https://www.python.org/dev/peps/pep-3115/#invoking-the-metaclass

[2021-07-29 19:10] sobolevn opened #2766 "Assignable `__module__` of `type` and `object`"
## Feature

CPython does not let to assign values to builtin types like `type`, `object`, `map`, etc.

[code]

But, here's what `RustPython` does:

[code]

Related #2310

## Python Documentation

---

[2021-07-29 19:25] sobolevn opened #2767 "`method_descriptor` must have `__qualname__` attribute"
## Feature

`CPython`:

[code]

`RustPython`:

[code]

Related #2310

## Python Documentation

https://www.python.org/dev/peps/pep-3155/

[2021-07-30 16:09] #2310 closed

[2021-07-31 14:04] sobolevn opened #2771 "`Exception.__init__.__qualname__` is incorrectly set to `'BaseException.__init__'`"
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-01 00:16] #2767 closed

[2021-08-01 09:15] sobolevn opened #2775 "Invalid `__repr__` of `PyBuiltinMethod`"
## Feature

CPython produces:

[code]

RustPython produces:

[code]

[2021-08-01 09:26] sobolevn opened #2776 "Invalid `repr` of methods"
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-01 13:45] sobolevn commented on #2771
I am working right now on this problem.

I also need to test this case:

[code]

[2021-08-02 08:30] xiaxinmeng opened #2778 "Rust Python gets crashing when rebinding __repr__ as __str__"
Rust Python interpreter crashes when rebinding __repr__ as __str__.

[code]

Actual output:

System:

[2021-08-02 08:32] xiaxinmeng opened #2779 "Raising a user-defined class from itself causes interpreter crashing"
In the following example, we define a class error, and instance it. When we execute raise e from e, Rust Python crashes.

test.py
[code]

Actual output:

System:

[2021-08-02 08:33] xiaxinmeng opened #2780 "Segmentation fault in running compile() with large expression size."
Calling function compile() in "single" mode to compile large size expression can cause a segmentation fault On RustPython. See the following example. The example cause segmentation fault on Rust Python 0.1.2 interpreter when n > 10000, e.g. n = 1000,100000,1000000

test.py
[code]

Actual output:

System:

[2021-08-02 08:34] xiaxinmeng opened #2781 "Evaluating a long list with eval() causes segfault."
See the following example, we take a long computation of list addition operation.  RustPython crashes.

test.py
[code]

Actual output:

System:

[2021-08-02 08:35] xiaxinmeng opened #2782 "repr() of deeply nested dicts and dictviews can cause a stack overflow."
When repr() take a deeply nested dicts as the argument, the stack overflows and  Rust Python interpreter crashes.

test.py
[code]

Actual output:

System:

[2021-08-02 08:37] xiaxinmeng opened #2783 "exec() crashes Rust Python when taking large expression as argument"
When we set the argument of exec() as a complex expression, Rust Python interpreter crashes Please check the following example. This example triggers segmentation fault on Rust Python 0.1.2 interpreter.

test.py
[code]

Actual output:

System:

[2021-08-02 10:07] #2775 closed

[2021-08-02 18:34] sobolevn opened #2786 "`.__new__.__qualname__` fails for some types"
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-03 12:28] sobolevn opened #2788 "Builtin functions do not have `__qualname__` attribute"
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-04 04:59] #2788 closed

[2021-08-04 13:20] sobolevn opened #2790 "`getset_descriptor` object has no attribute `__qualname__`"
## Feature
CPython:

[code]

RustPython:

[code]

[2021-08-04 18:57] youknowone opened #2793 "pip support in macos"
[code]

it looks like installed successfully, but still `no module named pip` happens

[2021-08-04 20:27] youknowone commented on #950
fixed but untracked

[2021-08-04 20:27] #950 closed

[2021-08-04 20:28] youknowone commented on #1040
[code]

[2021-08-04 20:28] #1040 closed

[2021-08-04 20:38] youknowone commented on #1613
not sure when its fixed, but now it works

[code]

[2021-08-04 20:38] #1613 closed

[2021-08-04 20:41] youknowone commented on #1794
I think this is now done

[2021-08-04 20:41] #1794 closed

[2021-08-04 20:47] youknowone commented on #1782
closed by #2792

[2021-08-04 20:47] #1782 closed

[2021-08-04 21:03] youknowone commented on #2718
@coolreader18 do you have any idea about this?

[2021-08-04 21:05] youknowone commented on #2725
is this  still happening?

[2021-08-04 21:05] youknowone commented on #2732
@jamestwebber is this fixed by your PRs?

[2021-08-04 21:07] youknowone commented on #2759
I think we are practically not pinning a target. Any patch for 3.9+ features will be appreciated.

[2021-08-04 21:09] youknowone commented on #2766
fixed by #2763

[2021-08-04 21:14] jamestwebber commented on #2732
Unfortunately no, I just collapse the error into a single message.

In the case of `__loader__` the same message showed up many times because every built-in module had a `__loader__` instance that came from `_frozen_importlib`. So my PRs turn that into one message but the underlying cause is still there.

[2021-08-04 21:14] sobolevn commented on #2766
Nope, this is still happening with the latest `master`:
<img width="752" alt="Снимок экрана 2021-08-05 в 0 14 25" src="https://user-images.githubusercontent.com/4660275/128255798-8af1f4f2-33bc-4ef9-8724-9fca2731b98b.png">

[2021-08-04 22:13] DimitrisJim commented on #2725
I think I remember seeing something similar once in a build. Can't remember if updating `rustc` had solved it. In general, a version of `rustc` used would be helpful in trying to reproduce this.

[2021-08-05 15:23] holg commented on #2793
Same for me, in the sys.path, there is an entry:
`/.local/lib/rustpython3.9/site-packages`
but this is empty and should contain the pip, setuptools and wheel packages.

[2021-08-05 16:56] sobolevn opened #2794 "`type.__subclasshook__.__qualname__` is incorrectly set to `'object.__subclasshook__'`"
## Feature

CPython:

[code]

RustPython:

[code]

Maybe `PyType` in `RustPython` is missing `subclasshook` method.

[2021-08-05 18:58] DimitrisJim commented on #2783
I'm under the impression that all these issues (#2782, #2781 and #2780) are related. We don't yet detect recursions when they appear in Rust level code (i.e rebinding `__repr__` as `__str__` then `__str__` calls `vm.to_repr` and the loop begins. Similar things probably happen for `exec` and family.

For Python code this appears to have been fixed in #1477.

I'll open an umbrella issue to track all

[2021-08-05 20:19] DimitrisJim commented on #2783
Yup, `exec`, `eval` and `compile` all loop on `SymbolTableBuilder.scan_expression`.

[2021-08-05 21:11] DimitrisJim opened #2796 "Recursions in rust code trigger segmentation faults."
Case in point, issues #2783 #2782 #2781 #2780 and #2778.

All these fail due to the same underlying reason, the rust call stack grows until a stack overflow is triggered. RustPython should be able to handle these and raise `RecursionError` instead, as CPython does.

[2021-08-05 21:14] DimitrisJim commented on #2783
Thanks for all these @xiaxinmeng, I'll be closing them in favor of the more general one. Duplicate of #2796

[2021-08-05 21:14] #2783 closed

[2021-08-05 21:16] #2782 closed

[2021-08-05 21:16] #2781 closed

[2021-08-05 21:17] #2780 closed

[2021-08-05 21:17] #2778 closed

[2021-08-05 21:21] DimitrisJim commented on #2779
Another good find. Loops on `write_exception` in `exceptions.rs`. Thanks! Closing in favor of #2796

[2021-08-07 00:49] jamestwebber commented on #2793
I just tried this and I get that output (i.e. a "success") but also a bunch of error messages:

[code]

As an aside, it'd be pretty sweet if it knew to install into my conda environment...

[2021-08-07 07:45] HyeockJinKim opened #2799 "panic occurs when a key in the dictionary is unhashable."
## Feature
In cpython, if the key in the dictionary is unhashable, only an error is raised.
[code]
But in rustpython, a panic is occurring.
[code]

[2021-08-07 08:08] moreal commented on #2799
Could you assign me for this issue if anyone is not working? I want to try this issue.

[2021-08-07 08:25] HyeockJinKim commented on #2510
If no one is working on this issue, can I take this issue?

[2021-08-07 09:29] DimitrisJim commented on #2510
@aaronclong are you available to finish this up?

[2021-08-07 10:12] moreal opened #2800 "Incompatibility for error message raised by `hash` built-in function with unhashable type"
## Feature

In CPython side, `hash` raises `TypeError` with `unhashable type: '{}'`(e.g. `unhashable type: 'dict'`) message but RustPython's `hash` function raises with just `unhashable type`.

You can reference two code references of RustPython and CPython implementations:
https://github.com/RustPython/RustPython/blob/53b8067acd1af79c2081e9eb56586fa8955749fd/vm/src/slots.rs#L221-L228
https://gith

[2021-08-07 11:37] #2800 closed

[2021-08-07 14:49] youknowone commented on #2799
Here is another issue with similar reason: https://github.com/RustPython/RustPython/pull/2803#issuecomment-894642909

[2021-08-07 19:14] Arnab1181412 commented on #2799
Hey can this issue be assigned to me

[2021-08-07 19:54] youknowone commented on #2799
sure :)

[2021-08-08 10:33] #2762 closed

[2021-08-08 13:54] Arnab1181412 commented on #2799
Can I get some more context to the problem as I am a new contributor

[2021-08-08 13:59] DimitrisJim commented on #2799
Hey @Arnab1181412, see the previous pull request made. There's another instance in the same function where an `unwrap` is performed when it should instead propagate the error from `map_obj.set_item`.

[2021-08-08 16:06] sobolevn opened #2809 "Invalid `repr` of `BaseException.args` and other `PyGetSet` items"
## Feature

Related https://github.com/RustPython/RustPython/issues/2790 and #2808

CPython:

[code]

RustPython:

[code]

[2021-08-08 16:40] youknowone opened #2810 "Refactor descriptor types."
ref: https://github.com/RustPython/RustPython/pull/2808#issuecomment-894822084

In RustPython, we have different class structures to CPython. Simply describing, RustPython doesn't have a type corresponding to `PyDescrObject` and wrapper types using it like `PyMethodDescrObject`, `PyGetSetDescrObject` and `PyWrapperDescrObject`.

[2021-08-08 16:40] #2790 closed

[2021-08-08 18:53] DimitrisJim opened #2812 "Add missing deque methods"
Current basic methods are not implemented on `deque`:

- [x] #2835
- [x] #2837
- [x] #2838
- [x] #2839
- [x] #2834
- [x] #2836

[2021-08-08 18:58] DimitrisJim opened #2813 "Deque instances shouldn't be hashable"
Currently, `deque` instances are able to be hashed:

[code]

Expected behavior:

[code]

[2021-08-09 00:58] jamestwebber commented on #2813
Decided to try this because it seemed "simple"...

It seems like to implement `Unhashable` you must first implement `Hashable`? Seems a bit weird.

[2021-08-09 01:40] youknowone opened #2816 "Use SlotDestructor actually"
For now, SlotDestructor is defined but never used anywhere

[2021-08-09 02:24] #2813 closed

[2021-08-09 02:57] OhBonsai commented on #2812
Hi, I would like to do some work on this. Could you @DimitrisJim get me up to speed quickly on this? :)

[2021-08-09 02:59] youknowone commented on #2813
yep, that's a trick for trait/macro generation xD

[2021-08-09 11:28] sobolevn commented on #2779
@DimitrisJim I don't think that this should raise `RecursionError` as described in #2796

CPython:

[code]

I guess, this is a different case, where we need to fix `write_exception` implementation.

[2021-08-09 12:45] DimitrisJim commented on #2779
@sobolevn ah, you're right here. I rushed in triaging this.

[2021-08-09 12:52] DimitrisJim commented on #2812
Of course @OhBonsai. You can start by taking a look at the other methods implemented for `deque`, these will give you an idea on how to manipulate the underlying `VecDeque` to get the behavior needed. You can drop in at [gitter](https://gitter.im/rustpython/Lobby) and ask about anything if you get stuck at some point.

[2021-08-09 14:06] moreal opened #2822 "Missing `__annotations__` variable"
## Feature

Currently, there is no `__annotations__` variable in multiple environment (e.g. interactive, module, expression). Because of it, annotated assignment statements in interactive also doesn't work.

## Reproduction (comparison)

### Interactive

[code]

### Execute file

[code]
### Execute expression (a.k.a. `-c` option)
[code]

## Python Documentation (also references)

- https://www.pyt

[2021-08-09 14:10] Arnab1181412 commented on #2799
Sure sir

[2021-08-09 14:54] #2794 closed

[2021-08-09 19:54] #2779 closed

[2021-08-09 20:32] #2786 closed

[2021-08-10 07:17] Snowapril opened #2825 "Incompatibility for builtin special attribute "__dict__" of functools.partial"
## Feature

In CPython, special attribute `__dict__` of `functools.partial` does not have anything, but RustPython's one have all it's variables.

#### CPython-Side work

[code]

#### RustPython-Side work

[code]

After call `__setstate__` method, CPython's `__dict__` have only `{attr: []}` which is fourth argument(namespace)  of passed tuple but RustPython's one have all its variables as dictiona

[2021-08-10 07:40] youknowone commented on #2721
#2364

[2021-08-10 07:40] youknowone commented on #1217
#2364

[2021-08-10 07:44] youknowone commented on #2825
thanks for detailed analysis

[2021-08-10 07:47] Snowapril commented on #2825
I'm currently working on this issue. Could you assign this issue to me? Thanks!

[2021-08-10 11:07] #2822 closed

[2021-08-10 14:16] fanninpm commented on #2759
I believe 3.8 is the absolute minimum because it's referenced in `.github/workflows/ci.yaml`.

[2021-08-10 14:19] youknowone commented on #2759
we just can change it to 3.9 once we feel it is more convenient. that happened a few times.

[2021-08-10 15:37] youknowone opened #2829 "[RFC] Switch default branch from master to main"
## Summary

Let's set `main` as the default branch

## Detailed Explanation

Long in short, this is how others do. And we don't have any reason not do to that.

- Guideline: https://github.com/github/renaming
- CPython: https://github.com/python/cpython/tree/main

## Drawbacks, Rationale, and Alternatives

## Unresolved Questions

[2021-08-10 17:45] DimitrisJim commented on #2829
Since `master` is insulting to some I see no reason why not. Just a few commands on our part is a *miniscule* price to pay for being more welcoming.

[2021-08-10 19:07] youknowone opened #2832 "dict.{__or__,__ror__,__ior__} with other types should return NotImplemented"
## Feature
The union operator of dict should return `NotImplemented` with other types but for now raising exceptions.

- [ ] __or__
- [ ] __ror__
- [ ] __ior__

Test `test_dunion_other_types` in `extra_tests/snippets/dict_union.py` is also wrong.

## Python Documentation

[2021-08-10 21:00] sobolevn opened #2834 "`collections.deque` does not have `__rmul__` method"
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-10 21:16] DimitrisJim commented on #2834
huh, I missed this in #2812. I'll update the issue there and close this up to keep them all in one spot. Take a look over at it to see I haven't missed anything else (pretty sure I got the rest of them).

[2021-08-10 21:34] DimitrisJim opened #2835 "`deque.__add__`"

[2021-08-10 21:55] DimitrisJim opened #2836 "`collections.deque` doesn't have `__reversed__` method"
## Feature

CPython:

[code]

RustPython:

[code]
`reversed(deque)` currently falls back to a generic iterator instead of having a specific `deque_reverse_iterator` type.

[2021-08-10 21:58] DimitrisJim opened #2837 "`collections.deque` doesn't have a `__bool__` method."
## Feature

CPython:

[code]

RustPython:

[code]

`bool` for `deque`s currently falls back to using `__len__` when it should supply an implementation of `__bool__`.

[2021-08-10 22:01] sobolevn commented on #2834
I am working on this issue right now 🙂
I will submit a PR later tomorrow.

[2021-08-10 22:07] DimitrisJim opened #2838 "`collections.deque` doesn't have `__iadd__` method."
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-10 22:09] DimitrisJim opened #2839 "`collections.deque` doesn't have `__imul__` method."
## Feature

CPython:

[code]

RustPython:

[code]

[2021-08-10 22:23] DimitrisJim commented on #2812
Hey @OhBonsai , pick one of the issues linked and I can assign it to you and guide you through anything you need over there.

[2021-08-10 22:38] sobolevn opened #2840 "`id(a) != id(a * 1)` for `tuple`, str and bytes"
## Feature

CPython:

[code]

RustPython:

[code]

This is also covered by `seq_tests.test_repeat` which is now marked as `unittest.expectedFailure`.

[2021-08-10 22:38] sobolevn commented on #2840
The fix is on its way 🚂

[2021-08-10 23:24] DimitrisJim commented on #2840
Note: similar issue is present for the other immutables that can be multiplied, (`str` and `bytes`). Pick those up too if you're up for it.

[2021-08-11 01:12] voidsatisfaction commented on #2832
May I handle this issue?

[2021-08-11 01:42] architjen commented on #2839
Hi @DimitrisJim, I'm new to open-source, can I take up this issue?

[2021-08-11 01:46] DimitrisJim commented on #2839
@architjen sure! Go for it.

[2021-08-11 04:36] eldpswp99 commented on #2838
Hi, can i take up this issue?

[2021-08-11 04:42] caskercasker commented on #2835
Hello @DimitrisJim  I'd like to look into this issue. can you assign me?

[2021-08-11 06:53] Snowapril opened #2842 "Incompatibility for "__slots__" in customizing attribute access"
## Feature

If `__slots__` is defined in a class object, there must not be auto-generated `__dict__` attribute.
In default python, class object uses `__dict__` attributes to store object's instance attributes.
But, with a `__slots__`, developer can tell the python not to use a `__dict__`.
But in RustPython, `__dict__` is still auto-generated even `__slots__` is defined.

#### In RustPython
[code]

[2021-08-11 06:58] youknowone commented on #2842
I have no idea we are correctly implementing `__slot__` for now. @coolreader18 do you have any idea?

[2021-08-11 07:10] Snowapril commented on #2842
I found there is no auto-generated __weakref__ in RustPython class object. In regardless of __slots__ is defined in object definition, RustPython's class object does not have __weakref__ attribute. But in CPython 3.8.5, there exists __weakref__ attribute if __slots__ is not defined in class definition.

#### RustPython
[code]

#### CPython 3.8
[code]

[2021-08-11 08:01] whgusdn321 commented on #2812
@OhBonsai Hello I'm interested in this issue also. If you don't mind, I would like to contribute some of them. would it be possible? and if it's okay, what are you going to implement among these? I'll implement the ones you don't pick.
 ( collections.deque doesn't have __add__ method #2835
 collections.deque doesn't have a __bool__ method. #2837
 collections.deque doesn't have __iadd__ method. #28

[2021-08-11 08:11] sobolevn commented on #2842
Special case to keep in mind:

[code]

[2021-08-11 08:15] OhBonsai commented on #2812
@whgusdn321  Wows, It's seem like i can ride your coattails 😄 .

I think i could choose add/bool.  It looks simpler~.

[2021-08-11 09:06] youknowone commented on #2832
for reference: other types, especially numeric types returns `NotImplemented` a lot, e.g. `int`, `float` and `complex`.

[2021-08-11 09:09] youknowone commented on #2812
general tip: `list` and `tuple` have similar implementations for similar magic methods.

[2021-08-11 09:43] youknowone commented on #2748
it doesn't look like RustPython issue.

[2021-08-11 09:43] #2748 closed

[2021-08-11 10:11] sobolevn commented on #2840
Yeap, will add `str` and `bytes` support in a moment 💯

[2021-08-11 10:12] OhBonsai commented on #2837
Hi, @DimitrisJim  assign me plz~~

[2021-08-11 10:48] #2838 closed

[2021-08-11 11:02] youknowone commented on #2759
#2831

[2021-08-11 11:02] sobolevn commented on #2759
Related https://github.com/zsol/LibCST/blob/parser/native/libcst_parser/src/grammar.rs

[2021-08-11 11:25] Arnab1181412 commented on #2799
Sir I have created a PR https://github.com/RustPython/RustPython/pull/2846#issue-708751648 Please review it

[2021-08-11 12:01] #2799 closed

[2021-08-11 12:36] #2832 closed

[2021-08-11 14:29] youknowone opened #2854 "Reference version of TryObjectFrom"
TryObjectFrom now take `PyObjectRef` instead of `&PyObjectRef`.

From Python call, it must be PyObejctRef, but not in rust internal call.
We can add another trait to optimize in-rust usage of them.

[2021-08-11 14:58] #2834 closed

[2021-08-11 20:02] sobolevn commented on #2840
Related bug report about missing `str` and `bytes` tests: https://bugs.python.org/issue44891

[2021-08-12 12:12] DimitrisJim commented on #2810
I think #2842 is just `type.__new__` not looking for a `__slots__` present. `__slot__` entries turn into `members` if I remember correctly we just don't currently do it.

[2021-08-12 12:16] youknowone commented on #2810
2. No, we don't have any optimizations for `__slots__`.
4/5. I think we just need `new_getset`. We only use it to create classes and modules. The name just need to show we are creating a getset object. The annotation name is even `#[pyproperty]` which is not property at all, but to fit mental model for people.

[2021-08-12 12:40] #2840 closed

[2021-08-12 15:24] sobolevn commented on #2771
Currently CPython uses [three macros](https://github.com/python/cpython/blob/ecc3c8e4216958d85385bf2467441c975128f26c/Objects/exceptions.c#L430-L476) to define different Exception types:
- SimpleExtendsException
- MiddlingExtendsException
- ComplexExtendsException

These macros copies different parts of `BaseException` attributes. Like `(initproc)BaseException_init` for `SimpleExtendsException` wh

[2021-08-12 15:27] DimitrisJim commented on #2840
I'd also submit a PR @sobolevn. The [devguide](https://devguide.python.org/coverage/#increase-test-coverage) states this at some point. You might want to check that it indeed isn't covered by running gcov but that sounds like overkill in this case.

[2021-08-12 15:30] youknowone commented on #2771
writing functions to match CPython macros, right?
I think we already have similar functions.

adding a doc parameter to `create_exception_type` will be same as `SimpleExtendsException`.
adding a few more for specific usage will be good.

[2021-08-12 16:57] moreal opened #2869 "Added undefined `__new__` method to non-built-in types"
## Feature

Currently, non-built-in types (e.g. user defined class) has its `__new__` method. So they are different with `object.__new__` and it cause error in `inspect._signature_from_callable()`.

### RustPython-side

[code]

### CPython 3.8-side
[code]

## Python Documentation

- https://github.com/python/cpython/blob/fa919fdf2583bdfead1df00e842f24f30b2a34bf/Objects/typeobject.c#L6065-L6083
- h

[2021-08-12 17:05] moreal commented on #2623
This issue is not able to solve until https://github.com/RustPython/RustPython/issues/2869 solved.

`dataclasses` module calls `inspect._signature_from_callable` and it compares `__new__` built-in method.
Though empty class doesn't have additional `__new__` method definition but RustPython implementation always bind new bound method for each types.

## References

https://github.com/RustPython/Rus

[2021-08-12 17:28] youknowone commented on #2771
it seems I didn't catch your idea yet. are you planning to make something like `#[pyexception]` like `#[pyclass]`? or richer version of `extend_class!`?
If we need them to implement things, we need it. `SimpleExtendsException` looked like somewhat we already had to me, but maybe i overlooked the features of them.

[2021-08-12 17:32] sobolevn commented on #2771
This looks easier and more flexible to me right now.

I will show you the code soon 🙂

[2021-08-12 18:28] youknowone opened #2872 "[RFC] Replace `Option<int>` with `optional::Optioned<int>`"
## Summary

Replace `Option<int>` with `optional::Optioned<int>` in native objects to save memory to enhance performance.

## Detailed Explanation

In many cases, our `usize` means `u63`/`u31` rather than `u32`/`u64` because `sys.maxsize` is `isize::MAX`.
Unfortunately, we are not telling this to compiler very well.
For example, `Option<usize>` for `None` or `u63` is a common type in RustPython. B

[2021-08-13 04:31] jamestwebber commented on #2869
I believe solving this would close #2732

[2021-08-13 10:05] sobolevn commented on #2829
Moreover, `main` is the new default for new GitHub projects. https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/

[2021-08-13 14:22] moreal commented on #2869
I agree with it.

[2021-08-13 20:31] DimitrisJim opened #2877 "`frozenset.copy` shouldn't return a new object."
## Feature

CPython:

[code]

RustPython:

[code]

Calling `copy` on a `frozenset` should return itself and not a new object.

[2021-08-13 20:31] DimitrisJim commented on #2877
@whgusdn321 do you want to handle this?

[2021-08-14 02:13] Snowapril commented on #2877
@whgusdn321 There is difference in `id` of frozenset copy between rustpython and cpython.
#### rustpython
[code]

#### cpython
[code]

I think `copy` method work of PyFrozenSet need to be modified.

[2021-08-14 04:04] youknowone commented on #2877
I think this issue doesn't fit for bare new comer. It requires understanding of `PyRef` which doesn't fit to common sense of rust programmer.

[2021-08-14 06:28] #2854 closed

[2021-08-14 07:14] #2869 closed

[2021-08-14 07:30] moreal commented on #2732
I resolved #2869 so I believe this issue is also resolved as I understood. To prove this issue is resolved, I executed `./whats_left.sh` and looked up `sys.__loader__` but I couldn't. But I can't feel sure that this issue was resolved, could you check it? @jamestwebber

[2021-08-14 07:34] whgusdn321 opened #2881 "cargo run with Debug mode generates STACK_OVERFLOW error"
My laptop's OS is Window 10 home with Intel 64 bit CPU.

In terminal if I run `cargo run -- Lib/test/test_math.py` which is **Debug** mode, it generate STACK_OVERFLOW error with these lines:

PS C:\Users\HyunwooJo\Desktop\RustPython> cargo run -- Lib/test/test_math.py
[code]

However, if I run with **Release** mode, it runs well like this :

PS C:\Users\HyunwooJo\Desktop\RustPython> cargo run --re

[2021-08-14 08:05] moreal commented on #2623
Sadly, though #2869 was resolved, it doesn't work because there #2410 is not resolved  😿

[code]

[2021-08-14 08:05] moreal commented on #2410
I will start to work on this issue.

[2021-08-14 08:21] youknowone opened #2882 "Rename `vm/src/stdlib/time_module.rs` to `time.rs`"
It doesn't fit to our naming convention.

[2021-08-14 12:41] Snowapril commented on #2877
I fixed this issue in #2883 by fixing `copy` method in `PyFrozenSet`

[2021-08-14 12:42] Snowapril commented on #2882
I fixed this issue in #2885

[2021-08-14 12:57] #2877 closed

[2021-08-14 13:08] #2882 closed

[2021-08-14 17:46] jamestwebber commented on #2732
Yes, this is fixed! The messages were no longer output by `whats_left` because in #2760 I tweaked the code to remove items defined in other modules (in retrospect perhaps this was too broad, as there are no examples of `__loader__` left to check). But I verified the change in behavior which fixes this issue:

[code]

This has uncovered a new issue: in CPython, `inspect.signature(object)` will retu

[2021-08-14 17:46] #2732 closed

[2021-08-14 17:52] jamestwebber commented on #2732
Oh, the underlying issue is now #2410 which you're already working on 🎉

[2021-08-14 18:13] ShadowJonathan commented on #158
hpy is definitely the way, it's getting increasing support and attention from the python community

[2021-08-14 20:06] #2836 closed

[2021-08-16 03:23] whjpji opened #2889 "`./rustpython -m dis`: No code object available for dis"
## Feature

`dis`: Disassembler for Python bytecode.

I want to should compiled bytecode for a `.py` script, and I got this error:
[code]

In cpython, most of the std module will be pre-compiled during build.

## Python Documentation

https://docs.python.org/3.8/library/dis.html

[2021-08-16 11:56] whjpji opened #2895 "String index not correct"
## Feature

RustPython
[code]

Cpython
[code]

It is probably because the `str.find` in Rust returns the index of byte, instead of the code point.

I'll try fix this.

## Python Documentation

https://docs.python.org/3.8/library/stdtypes.html?highlight=str#str.index

[2021-08-16 18:58] sobolevn opened #2898 "`dict_keys`, `dict_values`, and `dict_items` are missing several methods"
## Feature

CPython:

[code]

RustPython:

[code]

Diff:
- `'__contains__'`
-  `'__and__'`
- `'__rxor__'`
- `'isdisjoint'`
- `'__or__'`
- `'__rand__'`
- `'__ror__'`
- `'__xor__'`
- `'__rsub__'`
- `'__sub__'`
- `'__sizeof__'`

The same is for `dict_values` and `dict_items`

[2021-08-16 19:23] DimitrisJim commented on #2898
Yup, I don't think a macro should be used to generate the types as is currently done. For their respective iterators, the macro seems like a good idea, for the types, not that much.

[2021-08-16 19:25] DimitrisJim commented on #2898
Additionally, though `__contains__` currently works (falling back to iterating), it can be `O(1)` for `keys` and `items` views by keying the dict ref they hold.

[2021-08-17 13:37] AthulMuralidhar commented on #1671
guys, is there something i can do here to help? I believe writing tests will: 1) improve my understanding of the codebase 2) i'll learn alot about both the programming languages!

[2021-08-17 13:38] AthulMuralidhar commented on #2680
this seems pretty straightforward. Can i start working on this on? @youknowone @DimitrisJim ?

[2021-08-17 14:08] DimitrisJim commented on #2680
Go ahead @AthulMuralidhar!

[2021-08-18 12:20] moreal opened #2907 "Implement `__doc__` to except signature"
# Overview

Documentations of methods, types in CPython can have format like below:

[code]

And CPython's `__doc__` property strips the signature through `_PyType_DocWithoutSignature`. Then, when you call `<?>.__doc__`, you will see only `<DOCUMENT>`. But RustPython hasn't implemented it so it should be implemented.

# Example

Let's see the case of `object` type.

The full doc is:

[code]

As hu

[2021-08-18 15:52] youknowone commented on #2907
If this is only adopt to internal doc, we can try to do it better in our derive macros like parsing it from compile time and saving separated variables for `__text_signature__` and `__doc__`

[2021-08-18 16:14] frank-king opened #2908 "[RFC] Primary Design of the GC"
## Summary

This RFC is going to setup a minimal facilities for GC supports.

Here is the goal of this RFC:
* define the data structures and main algorithms of GC,
* give an implementation of GC for "header-only" objects (with dummy payload), which is easy to verify and able to be assembled into the VM.

## Detailed Explanation

### Background

As the design doc of CPython's GC (https://devguide.p

[2021-08-18 18:41] DimitrisJim commented on #2837
bump, any update on this @OhBonsai ?

[2021-08-18 18:42] DimitrisJim commented on #2835
bump @caskercasker , any update on this?

[2021-08-19 09:56] whjpji commented on #2872
Maybe it needs a benchmark?

[2021-08-19 10:49] sobolevn opened #2914 "OSError has invalid `__new__`"
## Feature

Right now `OSError` has a standard `__new__`, which is not correct. Because it is a special case in CPython:

[code]

RustPython:

[code]

## Python Documentation

Source code: https://github.com/python/cpython/blob/ecc3c8e4216958d85385bf2467441c975128f26c/Objects/exceptions.c#L991-L1003

Related #2897
Related #2771

[2021-08-20 09:41] OhBonsai commented on #2837
Hi, @DimitrisJim   I will update in this weekend~

[2021-08-20 14:21] moreal opened #2916 "Special types' `__doc__` property should be readonly"
## Feature

Special types' `__doc__` property should be readonly (i.e. getter) except for user-defined type. But `__doc__` properties of RustPython's special types is writable.

### CPython

[code]

### RustPython

[code]
## Python Documentation

- [`type_getsets` definitions](https://github.com/python/cpython/blob/f5d7a8d29c49ad47254fa098abb7a510e5e7b45e/Objects/typeobject.c#L1035)
- [`type_set_d

[2021-08-20 17:03] #2410 closed

[2021-08-20 23:19] moreal opened #2917 "Support generic class (i.e. `__class_getitem__`)"
## Feature

### CPython-side

[code]

### RustPython-side

[code]

## Python Documentation

- https://www.python.org/dev/peps/pep-0560/
- https://github.com/python/cpython/blob/v3.8.0/Lib/test/test_genericclass.py
- `tp_new` implementation source: https://github.com/python/cpython/blob/fa919fdf2583bdfead1df00e842f24f30b2a34bf/Objects/typeobject.c#L2707-L2720

[2021-08-20 23:28] moreal opened #2918 "Bump `typing` module to 3.8"
## Feature

[Currently](https://github.com/RustPython/RustPython/blob/0834ae3039fac0d39b303201a4096fec172ed30d/README.md), RustPython targets to support Python >= 3.8. But [the `typing` module seems to have stayed in 3.6](https://github.com/RustPython/RustPython/commit/e1bc0b9a8171745f81ab5d1ab929e944ed6671ff#diff-ddb987fca5f5df0c9a2f5521ed687919d70bb3d64eaeb8021f98833a2a716887). It should be bump

[2021-08-20 23:36] moreal commented on #2917
I started to work this one.

[2021-08-20 23:38] moreal commented on #2623
Though #2410 was resolved by #2904, the new bug #2917, #2918 appeared. I started to work on them.

[2021-08-21 03:50] coolreader18 commented on #2918
#2633

[2021-08-21 06:40] Snowapril opened #2919 "Current lock mechanism in container types make rustpython hang"
## Feature
Current container types(`PyList`, `PyDeque`, ..) which use `RWLock` for keeping mutual exclusion cause RustPython **hang** when there exists **write** try while reading elements.

Because of it, Below codes work differently in RustPython and CPython
[code]
#### RustPython
[code]
#### CPython
[code]
I tracked call stack for debugging when hanging is occurred.
During `list::count` method

[2021-08-21 07:26] moreal commented on #2917
I didn't know there is already to resolve this issue. I believe #2633 will resolve this issue.

[2021-08-21 13:26] #2895 closed

[2021-08-21 20:00] #2622 closed

[2021-08-21 20:00] #2658 closed

[2021-08-21 20:01] coolreader18 commented on #2829
I'm also in favor of this change. It's not too hard to switch, should I just do it?

[2021-08-21 21:31] domdfcoding opened #2925 "Rust panicks when indenting in REPL"
Attempting to insert a tab character before some text in the REPL results in a panic.

The sequence of keypresses is:

1. `a` (can be any character)
2. `Home` (or left arrow key)
3. `Tab`

Adding a space instead of a tab works fine.

I'm using the latest Rust version, and built RustPython from the latest commit.

-----

The backtrace is as follows:

<details>

[code]

</details>

[2021-08-22 02:00] oroppas commented on #2622
Thank you!

[2021-08-22 02:29] oroppas opened #2926 "Running tests on Windows gets terminated with STATUS_STACK_OVERFLOW"
### Release

[code]

### Debug

[code]

What's the best way to diagnose this?

[2021-08-22 07:39] moreal commented on #2623
Though #2917 and #2918 seem resolved by #2633 and #2924, a new bug which `<KEY> in <TYPE>.__dict__` try to find `<KEY>` even the base types. I'm trying to fix the bug through #2932.

[2021-08-22 10:24] domdfcoding opened #2936 "isinstance does not support generic types."
## Feature

CPython supports checking whether an object is an instance of one of the abstract types from the typing module, such as `Dict` or `Sequence`:

[code]

These "classes" are actually instances of `typing._GenericAlias` in Python 3.8 (`typing._SpecialGenericAlias` in 3.9).

In RustPython an exception is raised:

[code]

-----

In CPython instance checks with subscripted generics fail:

[co

[2021-08-22 10:39] youknowone commented on #2926
#2881 looks the same issue

[2021-08-22 11:49] #2919 closed

[2021-08-22 12:40] oroppas commented on #2671
https://bugs.python.org/issue36011 may be related.

[2021-08-22 22:19] coolreader18 commented on #2829
Ok, renamed master to main! Run `git branch -m master main && git fetch origin && git branch -u origin/main main` to update in your local repo!

[2021-08-23 00:03] #2917 closed

[2021-08-23 00:03] #2918 closed

[2021-08-23 00:21] moreal opened #2939 "Incompatible `TypeError` message from calling `__init__` method with insufficient arguments"
## Feature

The `TypeError` message from calling `__init__` method with insufficient arguments is incompatible with CPython implementation. I guess this bug occurred from below lines:

https://github.com/RustPython/RustPython/blob/60edbdd427b3d552239b122b903aa89fb1501057/vm/src/builtins/function.rs#L188-L194

### CPython-side

[code]

### RustPython

[code]

[2021-08-23 00:54] moreal opened #2940 "Incompatible `__repr__` magic method"
## Feature

### CPython-side

#### class
[code]

#### local class

[code]

### RustPython-side

#### class
[code]

#### local class
[code]

## Python Documentation

- https://docs.python.org/3.9/library/functions.html#repr

[2021-08-23 10:04] Snowapril commented on #2939
I fixed it in #2941 🥳

[2021-08-23 10:14] Snowapril opened #2943 "`issubclass` does not work on generic types"
## Feature

This issue is almost same as #2936 issue.
Current rustpython implementation does not catch `__subclasscheck__` method defined in class object when call `issubclass` operation.

[code]
#### CPython
[code]
cpython catch `__subclasscheck__` method defined in class G.

#### RustPython
[code]
but current rustpython do not catch  `__subclasscheck__` method defined in class G.

## Python Docu

[2021-08-23 11:12] moreal commented on #2939
Some parts of this issue was fixed by #2941 but there is a typo.

Current execution result is same with below:

[code]

So:
- `arguments` should be `argument` when the length of arguments is one.
- `x` argument should be wrapped with `'`.

Further more, when the arguments are multiple, the last argument should be next on `and` word.

#### RustPython

[code]

#### CPython

[code]

[2021-08-23 12:23] Snowapril commented on #2939
Sorry for make you cumbersome 😂. I thought formatting is far less important than missing method name in error message and there are quite a lot such formatting miss in legacy code

[2021-08-23 16:02] moreal commented on #2939
Thanks to fix this issue. 🙏🏻 I didn't intend to make you feel sorry. 😂 I'm stuck at many issues while resolving A and this issue is also one of them so I left the comment to record my analyze.

Thanks to fix this issue, again. 🙇🏻‍♂️  👍🏻

[2021-08-23 19:59] vprelovac opened #2947 "no matching package named `rustpython-vm` found"
macOS Big Sur, clean install of Rust.

vlad@Vladimirs-MacBook-Air ~ % cargo install rustpython

[code]

vlad@Vladimirs-MacBook-Air ~ % cd /var/folders/yc/2061m39j2bxg37kz2wxb5sl00000gn/T/cargo-installVJRhrB

vlad@Vladimirs-MacBook-Air cargo-installVJRhrB % ls -la
total 8
drwxr-xr-x    3 vlad  staff    96 Aug 23 12:57 .
drwx------@ 152 vlad  staff  4864 Aug 23 12:57 ..
-rw-r--r--    1 vlad  staff

[2021-08-23 20:42] vprelovac opened #2948 "python-speed failing to run"
This is a simple python benchmark:

https://github.com/vprelovac/python-speed

Fails in first test with recursion limit message.

[2021-08-23 22:00] stromberger commented on #2835
Hey there, I tried to implement the `__add__` method in #2949. This is my first issue so I appreciate every feedback that I can get.

[2021-08-24 03:35] DimitrisJim commented on #2948
Could you please elaborate on this? What is the specific test that fails?

[2021-08-24 05:30] #2837 closed

[2021-08-24 06:26] #2925 closed

[2021-08-24 06:27] DimitrisJim commented on #2925
Thanks for the report! This should now be fixed.

[2021-08-24 14:52] ryancinsight opened #2956 "[RFC]"
## Summary

Elaboration on the requirements to use on windows system, improved imports and installation

## Detailed Explanation

cargo install from git and cargo run --release from download fail on windows. There is no error unless you set Rustbacktrace value. There it will tell you it cant import encodings.

The fix is set RUSTPYTHONPATH=D://fork//RustPython//lib

## Drawbacks, Rationale, and Al

[2021-08-24 14:56] davfsa opened #2957 "Missing "annotations" __future__"
## Feature

`from __future__ import annotations`, which converts all annotations into forward references (str) to be evaluated later when needed. This can be used in conjunction with `typing.TYPE_CHECKING` to avoid circular imports in some big libraries.

This will also become standard in Python 3.10, which will drop soon:tm:

Found this while trying out RustPython with a project I'm working (just

[2021-08-24 15:13] fanninpm commented on #2947
Try installing directly from the `main` branch.

[2021-08-24 15:45] vprelovac commented on #2948
rustpython hits a recursion limit which cpython does not. Easiest is to clone the repo and run the test yourself.

[2021-08-24 15:59] DimitrisJim commented on #2948
The issue should contain an example of how the different implementations differ. It shouldn't be required by people who want to help solve this issue to need to clone a different repository and run it, right?

My best guess is this is caused by the fact RustPython's recursion limit is set to 256 and not 1000 as in CPython. See if raising the limit solves it.

[2021-08-24 16:40] vprelovac commented on #2948
That's OK I am takint time to merely report an issue in compatibility with CPython, it's entirely up to you how you want to deal with it.

[2021-08-24 18:22] #2771 closed

[2021-08-25 23:37] bambambey16 opened #2964 "Build error `try_from_object` not found for struct `CString`"
Hi, I'm interested in participating, trying to build the project before that. I have installed in my WSL(Ubuntu), installed rust 1.53, and cloned the project. But when I try building the project, I keep getting error message.

[code]
I'm relatively new to rust and couldn't find direct solution regards to error, couldn't find try_from_object from CString docs.
Any help on this? Thanks in advance.

[2021-08-26 04:49] #2964 closed, assigned to nobody

[2021-08-26 14:18] Cy6er7um opened #2970 "thread 'main' panicked at 'initialization failed;;;ModuleNotFoundError: No module named 'encodings'"
Rustpython did not work successfully on my computer, but it passed the compilation.

![image](https://user-images.githubusercontent.com/70457081/130978771-1f1f5cf5-d826-46d7-9604-92fed234770e.png)

![image](https://user-images.githubusercontent.com/70457081/130977703-a6707710-4611-4605-8c3f-01ae0277d4c4.png)

[code]

After I cloned the project, I used the command cargo build --release to build it

[2021-08-26 14:25] #2970 closed, assigned to nobody

[2021-08-26 16:25] sobolevn opened #2973 "CPython3.8+ does not have `TargetScopeError` exception"
## Feature

## Python Documentation

Source: https://github.com/python/cpython/blob/3.8/Objects/exceptions.c
Discussion: https://www.mail-archive.com/python-dev@python.org/msg106115.html

It should be removed.

[2021-08-27 14:26] HyeockJinKim opened #2979 "storing to `__debug__` should be rejected by compiler."
## Feature

In Cpython, raise syntax error when saving a value to `__debug__`.
[code]

In RustPython, value can be stored to `__debug__`.
[code]

[2021-08-28 02:25] Snowapril commented on #2936
Hi. I fixed this issue in #2952 . Could you check it one more time? 😊

[2021-08-28 22:11] domdfcoding commented on #2936
Yep, seems to have sorted it. Thanks

[2021-08-28 22:11] #2936 closed

[2021-08-29 17:45] DimitrisJim commented on #2881
The difference between debug/release shouldn't raise too many eyebrows.

If a function recurses, which some of the functions in `math` probably do, the debug build will probably require more memory for each function call than the release build. Release will be able to recurse deeper and, as a result, not overflow its stack.

In general, I wouldn't run the tests in debug mode, not only is it slower

[2021-08-30 01:07] whjpji commented on #2908
I have setup a crate of linked list: https://crates.io/crates/cyclic_list. It does not use the tagged pointer, however.

For the GC algorithm, I now prefer one in this paper: https://researcher.watson.ibm.com/researcher/files/us-bacon/Bacon01Concurrent.pdf. It fit the RC system well and have concurrent implementations which might be useful in RustPython. I'm going to start another crate to try som

[2021-08-30 06:40] qingshi163 commented on #2908
Just an idea based on the cpython gc, never work on gc before, maybe I am wrong.

If we could assume:

- on a snap of the gc list, if we find some objects should drop, these objects can never be used in the future;
- on a snap of the gc list, if we find some objects should drop but not been dropped via reference count, means these objects can never drop from outside of the gc because cycling refer

[2021-08-30 07:51] youknowone commented on #2881
It is hard to agree here. We need debug build to gather more information during debug step. Even more, a few bugs are only easier to catch from debug build in Rust, because they remove range or overflow check from release build.
I think this is a caveat of RustPython and should be fixed one day for  future development.

[2021-08-30 14:45] #2829 closed

[2021-08-30 15:47] whjpji commented on #2908
@qingshi163 Yes, you are right. The algorithm described in this paper (https://researcher.watson.ibm.com/researcher/files/us-bacon/Bacon01Concurrent.pdf) does the things you mentioned.

But, there might be no need to worry about references of out of the snapped gc list. It does not snapshot all objects, but only possible objects in cycles, detected by its coloring strategy.

FYI, there have been s

[2021-09-01 10:42] castarco opened #2996 "rustpython cannot be installed via cargo because all rustpython-vm cargo package versions were yanked"
## Summary

See the title.

This is the output for the `cargo install rustpython` command:

[code]

And here we can see how the package versions were yanked: https://crates.io/crates/rustpython-vm/versions

[2021-09-01 12:27] castarco commented on #2996
Oh, it's already documented.

[2021-09-01 12:27] #2996 closed

[2021-09-01 16:40] DimitrisJim opened #3000 "[RFC] Create a benchmarking repository"
## Summary

Move the current code for benchmarking into a dedicated repository and replace it with a slimmer, faster to execute suite.

## Detailed Explanation

Currently, running the benchmarks is dreadfully slow and doesn't really allow us to easily check for differences between branches.

The issue isn't the execution of the tests as much as compiling with `lto` enabled.  Though this seems like

[2021-09-03 20:17] Glitchy-Tozier opened #3004 "Private fields aren't protected"
## Feature
(In the web-demo:)

Private variables in classes aren't recognized. While in the regular terminal `python main.py`, `python3 main.py`, `pypy main.py`, and `pypy3 main.py` throw an error, the web-demo just prints the variable.

[code]
prints this:
[code]
while the terminal says:
[code]

**However, _private methods_ are properly protected.** This throws an error:
[code]

## Python Documen

[2021-09-04 00:02] ConnorTroy commented on #2839
@architjen Are you still working this? If not, @DimitrisJim can I take over?

[2021-09-04 02:22] StackerDesu commented on #2947
Clone this project and compile it with cargo.

[2021-09-04 08:13] DimitrisJim commented on #2839
I last talked with Archit three days or so ago. Maybe give them a day to respond before submitting something just in case.

[2021-09-04 08:19] youknowone commented on #2839
Ah, got it. I didn't know that.

For everyone: we don't have strict rule for assignment of issues. we do that just for easier communication, not to make duplicated effort for same issues. Please note that assignment doesn't mean the responsibility or permission of the issue is owned by the assignees.

[2021-09-04 08:20] DimitrisJim commented on #2839
No prob, I'll try and get a hold of them today on gitter today and ask if they can follow through with it.

[2021-09-04 09:18] architjen commented on #2839
Hii @ConnorTroy, sure you can take over the issue!

[2021-09-04 09:31] DimitrisJim commented on #3004
I might be misunderstanding what you're saying but if you're executing `print(foo.__privMeth())` this should return `"None"` since that's what the method returns (though, yes, it shouldn't be able to execute the method in the first place).

I can't see why this would happen TBH, `vm.compile` does seem to mangle this name as its supposed to. I'm not sure if the fact that `wasm` is using a `0.11` de

[2021-09-04 11:56] DimitrisJim commented on #2947
Yeah, this is documented in the README use:

[code]

Same as #2996

[2021-09-04 11:56] #2947 closed

[2021-09-04 13:12] DimitrisJim commented on #3004
Ok, I realized what this is, the web demo uses an old version of RustPython:

'3.5.0alpha (heads/release:21e0ad6, Dec 14 2020, 19:26:52) \n[rustc 1.48.0]'

this should be update at some point soon.

[2021-09-04 13:30] Glitchy-Tozier commented on #3004
Sounds good to me!  :)

[2021-09-04 19:57] hk1997 commented on #2812
Hi,
Is it still open?

[2021-09-05 10:22] DimitrisJim commented on #2812
Ah, I'm afraid not, the last part of this issue is being worked on by someone atm.

I'll try and see if I can find any other easy issues soon though, so, be on the look-out for them.

[2021-09-05 14:56] davidhewitt opened #3016 "Interaction with PyO3"
Hi,

I'm a maintainer of [PyO3](https://github.com/PyO3/pyo3) and have been vaguely aware of the RustPython project for some time. Unfortunately I'm woefully ill-informed as to your current progress and how much work is needed for RustPython to become a drop-in replacement for CPython. At the moment there's no collaboration between our projects (as far as I'm aware), however it feels like there co

[2021-09-05 15:59] ShadowJonathan commented on #3016
Would love to be able to just "turn on" rustpython as a dependency in pyo3 freestanding and run all python code in safe rust ❤️

[2021-09-05 16:21] youknowone commented on #3016
welcome :) as a user of PyO3, I always expected the future of that.

For now, the only extension RustPython allows is adding `rustpython-vm` as a dependency and loading custom module written in Rust or Python. It sounds similar like "embed a RustPython interpreter directly" as you said, but it will be very different to how PyO3 currently handle CPython or PyPy. Maybe wrapping RustPython objects fo

[2021-09-05 17:06] davidhewitt commented on #3016
Ah great, interesting!

It sounds like there's definitely interest in coordinating between our projects, though of course this will probably be a slow process over time.

There's actually been a longstanding issue to explore HPy support for PyO3 - https://github.com/PyO3/pyo3/issues/1113.

I think the main reason we haven't explored it is it's not clear how much effort is needed for users to be ab

[2021-09-05 17:15] coolreader18 commented on #3016
Ooh, ok, so I've been thinking for a pretty long time about what the best way to allow subclassing in RustPython would be - currently, there's a 1:1 correspondence between payload type (marked by `TypeId`) and object model type (`type(x)`, `PyObjectRef.class()`). Subclasses of `object` can have a different payload type than `PyBaseObject`, but stuff breaks if any subclasses of *that* use a differe

[2021-09-05 17:26] davidhewitt commented on #3016
Oh cool! Note that I actually think there's long-term challenges with `PyTypeInfo` in particular, because it assumes a global type object instantiation which is not really compatible with PEP 489.

There's also some very interesting questions about python class inheritance - at the moment we have a `PyCell` primitive which handles both mutability and inheritence structure. However it has challenge

[2021-09-06 14:39] #2839 closed

[2021-09-06 14:39] #2812 closed

[2021-09-07 05:12] oroppas commented on #2623
It appears https://github.com/RustPython/RustPython/commit/2c3460244af9e00bc24d4af75cd931a66f166030 add enough `dataclasses` support such that we can run basic [rich](https://github.com/willmcgugan/rich)

![image](https://user-images.githubusercontent.com/885380/132287658-c54385e7-041d-4473-a340-3a6136a67d83.png)

This is really awesome! Thank you.

[2021-09-07 05:15] Snowapril commented on #2623
Cool! 😊

[2021-09-07 07:46] #2623 closed

[2021-09-07 14:33] youknowone opened #3022 "TypeError: multiple bases have instance lay-out conflict"
## Feature

[code]

## Expected behaviour

[code]

## Current behaviour

silent

[2021-09-09 12:38] hk1997 commented on #1176
Hi, I would like to contribute to this.
Is it still open?
Are there some methods which need to be implemented?

[2021-09-09 12:40] hk1997 commented on #2581
Hi, is someone picking up this issue?
I can pick it up in such a case. Is there a list of what messages are different?

[2021-09-09 12:40] hk1997 commented on #1175
Hi, is there something left to work on this?
Would like to pick it up.

[2021-09-09 12:55] DimitrisJim commented on #1176
From a quick comparison I see `gethostbyname_ex` missing and a good number of the constants that are exported.

[2021-09-09 13:04] DimitrisJim commented on #1175
Run `whats_left.sh` and take a look at the output for `os`. Pick one of the functions, add a comment here that you've picked up the function so conflicts are minimized and start working on it!

[2021-09-10 21:04] DimitrisJim commented on #2979
The additional cases not covered all appear to be related to function definitions/calls:

[code]

The other un-assignables (`True, False`) all handle this case correctly.

[2021-09-10 21:36] DimitrisJim opened #3034 "Repr value for nan"
In Python:

[code]

while in RustPython:

[code]

slight incompatibility but it is actually tested for in `cmath`.

[2021-09-10 21:43] ShadowJonathan commented on #3034
(TIL NaN is lowercase in repr in python)

[2021-09-10 22:10] DimitrisJim commented on #3034
C also displays it as `'nan'` if I'm not mistaken. I always remember seeing `'NaN'` in Javascript tbh and Rust seems to follow that. Either way, `'NaN'` always seemed weird to me, either capitalize em all or don't, why is `a` being left out like that? No respect for poor `a`.

[2021-09-11 13:40] DimitrisJim opened #3039 "Implement missing `cmath` functions"
The following functions are currently missing:

- [ ] `acos`
- [ ] `acosh`
- [ ] `asin`
- [ ] `asinh`
- [ ] `atan`
- [ ] `atanh`
- [ ] `cos`
- [ ] `cosh`
- [ ] `log`
- [ ] `log10`
- [ ] `sin`
- [ ] `sinh`
- [ ] `sqrt`
- [ ] `tan`
- [ ] `tanh`

Inspiration for how their implementation might look can be found in `Modules/cmathmodule.c` (and `Modules/clinic/cmathmodule.c.h` for argument parsing). `Li

[2021-09-11 13:43] DimitrisJim commented on #2812
@hk1997 see #3039 for a couple more good first issues you could try and take-up.

[2021-09-11 13:47] CTZxVULKAN commented on #3039
Hey i am very new but i would love to contribute could you tell me which files do i have to edit ?

[2021-09-11 14:03] DimitrisJim commented on #3039
Hey @CTZxVULKAN the module is located at `vm/sec/stdlib/cmath.rs`,  you should probably look at other modules (like `math.rs` in the same directory) to get a feel for the type of constructs needed for defining a new built-in function.

After making your changes don't forget to test things out by running the Python tests with `cargo run --release -- -m test` (add `-j8` to the end of that for a fast

[2021-09-11 14:07] CTZxVULKAN commented on #3039
nvm this is too complex for me rn.
i will comebacc later when i am more confident :(

[2021-09-11 14:27] DimitrisJim commented on #3039
You could drop me a message on gitter and I'll walk through most of it with you if you want. Everything is complex until you start doing mistakes with it and learning from them.

[2021-09-11 16:15] hk1997 commented on #3039
@DimitrisJim

Hi I would like to pick up acos and acosh,
Though I'm very new to Rust so might require some guidance on the same.
In the math.rs module I see all the functions already implemented, for example:

[code]

On going through x.acos(), the implementation is:
[code]

Could you please guide me more, on what specifically needs to be implemented and where? This should give me a good heads up

[2021-09-11 16:52] DimitrisJim commented on #3039
Hm, you're currently looking at the implementation of `cos` for `f64`. `cmath` is concerned with complex numbers, `Complex64` in our case from the `num_complex` crate.

`cmath.isclose` is another place you can look. It accepts things that can be transformed to `Complex64` numbers (`IntoPyComplex`), calls `to_complex` to get the actual complex and then operates on it. You'd need to do something sim

[2021-09-13 11:23] Codemonk-adi commented on #3039
@DimitrisJim

Hello there, I would like to work on sqrt, sin and cos.

I have worked with C,Python and JS but have no experience using rust tbh tho.

[2021-09-13 12:41] DimitrisJim commented on #3039
Sure, go for it. If you get stuck at any point you can always drop by on [gitter](https://gitter.im/rustpython/Lobby).

[2021-09-13 12:54] Codemonk-adi commented on #3039
@DimitrisJim
Hey I made a pull request would you please review it?

[2021-09-14 07:13] gdjs2 opened #3052 "The compatible problem for wasm32-wasi"
## Summary

I have just compiled the main branch of RustPython on macOS with wasi-sdk-12.0 and rustc 1.53.0. The compilation can be done correctly, while the standalone packet cannot be run on Wasmer and Wasmtime. :(

I have also tried with the same compiler on Ubuntu 20.04, which is the same result. So I guess that this may be some compatible problem for wasm.

## The backtrace

### Wasmer

[code

[2021-09-14 07:57] theduke opened #3053 "Example for Embedding Library"
I'd like to embed a Python library, similar to how `--freeze-stdlib` works.

It would be great to have an example for that.

[2021-09-14 08:36] theduke commented on #3053
So I managed to cobble this together:

[code]

[2021-09-14 08:36] #3053 closed

[2021-09-14 08:39] theduke opened #3054 "Wasm: Locals Exceed Maxmimum"
I've tried to run RustPython in wasm via `wasmer` and `wasmtime`.

Both give me an error when trying to use this code built with `--target=wasm32-wasi`:

[code]

[code]

This seems to be a WASM validation error, so maybe this is a `rustc` codegen issue?

[2021-09-14 12:45] Codemonk-adi commented on #3039
@DimitrisJim  Hey I implemented sin and cos,
@youknowone  said something about sending a python file and using fetch and rebase instead of pull, can you please help me out,
I am not sure what to do

[2021-09-14 13:00] DimitrisJim commented on #3039
Just make sure you've updated your fork of Rustpython (to include the changes you made in the previous PR) and then base the new branch off that.

I don't see anything about sending a file (maybe the talk was about the test file being edited, which I'll guide you through once you've opened the PR).

[2021-09-14 13:11] Codemonk-adi commented on #3039
@DimitrisJim I updated my fork and created a pull request, Thankyou for being so patient and helpful!

[2021-09-14 15:19] youknowone commented on #3039
I have no idea about sending file. it doesn't sound like something PR-related stuff.

fetch & rebase comment is this one: https://github.com/RustPython/RustPython/pull/3047#issuecomment-918393577
For our workflow, merge commit must be only created by github. If any merge commit appears on PR, something goes wrong. That's commonly happend by git-merge or git-pull(as a shortcut of git-fetch && git-m

[2021-09-14 17:15] fanninpm commented on #3039
The good news is that we can rely on [methods from the `num-complex` crate](https://docs.rs/num-complex/0.4.0/num_complex/struct.Complex.html) for pretty much all of these.

[2021-09-14 19:02] DimitrisJim commented on #3039
I think some (like `log10`?) aren't there but most do just forward the call. That's why they're a pretty good first issue.

[2021-09-15 04:21] Codemonk-adi commented on #3034
@DimitrisJim I would like to work on it
would you pls guide me a bit?

[2021-09-15 12:09] DimitrisJim commented on #3034
Yes! Take a look at float's `repr` function. This calls another function to handle formatting for the different values that might be passed in. Take a look there and try and find out which case `Nan/Inf` fall under and what you'd need to do.

[2021-09-15 18:17] #2973 closed

[2021-09-15 18:38] fanninpm opened #3067 "Automatic push-based CI not triggering due to branch name change"
One of the unintended side effects of #2829's implementation is the breakage of this repo's infrastructure in various parts. In particular, CI is no longer triggered upon merging a PR because GitHub doesn't know to look for pushes to the `main` branch (rather than the old `master` branch). Here is the relevant line that causes this behavior:

https://github.com/RustPython/RustPython/blob/c064118e6

[2021-09-15 20:05] DimitrisJim commented on #3067
It took almost 200 PRs for this to be noticed :smile:. Do you want to fix these up?

[2021-09-15 23:53] #3067 closed

[2021-09-16 13:35] Codemonk-adi commented on #3034
RustPython/Lib/reprlib.py
[code]
repr(float('nan'))
returns the builtin repr function called with float('nan')

I am stuck here...

[2021-09-16 15:39] DimitrisJim commented on #3034
Hey @Codemonk-adi, not sure what you mean here. Are you looking inside the implementation of `repr` for `PyFloat`? You can always fire up a debugger and get through stepping your way until the end (it takes some getting used to but its worth it).

[2021-09-16 17:03] Codemonk-adi commented on #3034
@DimitrisJim  I am sorrry to bother you again, but I am unable to use the debugger, when I run the debug option on vscode it opens an rust python interpreter, and I do enter debugging mode in vscode but the buttons are disabled.

[2021-09-16 18:26] DimitrisJim commented on #3034
@Codemonk-adi hop on over to [gitter](https://gitter.im/rustpython/Lobby) if you can. This way I can help you further w/o notifying watchers.

[2021-09-17 01:57] tony-jinwoo-ahn commented on #3039
Hello, I would like to work on tan and tanh :)
@youknowone @DimitrisJim

[2021-09-17 03:03] cn-kali-team opened #3076 "calling super().__getattribute__() in __getattr__ causes infinite recursion"
[code]
[code]

[2021-09-17 04:49] DimitrisJim commented on #3039
go for it @tony-jinwoo-ahn

[2021-09-17 11:28] moreal opened #3079 "Implement `types.GenericAlias` type"
## Feature

Since CPython 3.9, it started to support [*Type Hinting Generics in Standard Collections*](https://docs.python.org/3/whatsnew/3.9.html#type-hinting-generics-in-standard-collections). So the code like below should be supported.

[code]

The type of `list[int]` evaluation result is `types.GenericAlias`. This should be implemented.

### Memo

- `genericaliasobject.c#PyGenericAlias` type i

[2021-09-17 11:29] moreal commented on #3079
I'm working on this issue to continue #3078 pull request.

[2021-09-18 06:18] mithrandir commented on #2881
I've managed to run this on Windows by adjusting the build option environmental variable

[code]

[2021-09-18 06:18] mithrandir commented on #3076
Probably same issue of #2881

[2021-09-18 07:54] DimitrisJim commented on #3076
On the one hand, yes (because it crashes by stack overflow) on the other hand no because this shouldn't recurse in the first place.

[2021-09-18 07:58] cn-kali-team commented on #3076
Yes, I modified the code to fix it

[code]

[2021-09-18 08:15] DimitrisJim commented on #3076
Oh, this is still a bug with RustPython. I looked a bit at it yesterday and even when I forced CPython to use the pure Python implementation of OrderedDict, this worked (i.e, it didn't recurse).

With RustPython, it did recurse. As such, I'll open it again so I can check it out in more detail at some other point.

[2021-09-18 16:58] fanninpm commented on #2889
See also #367

[2021-09-19 13:14] Suncradle opened #3090 "Embedding without standard library"
Apologies if this has been asked before. Is it possible (or planned to be) to embed rustpython in an application with only a subset of the standard library? The size is a problem for small, portable applications, and most of it is unnecessary or nonfunctional (for example, in sandboxed wasm)

[2021-09-19 15:35] coolreader18 commented on #2889
This is because dis is implemented as a native module, not using cpython's dis.py that's specific to their bytecode format.

[2021-09-20 16:32] #3079 closed

[2021-09-20 18:35] andrew-ld opened #3097 "get-pip.py no longer works on rustpython."
[code]

something seems to be going deadlock.

syscall trace: https://gist.github.com/andrew-ld/86f44239802a414bf00f0f42b601c677

RustPython commit: e6e2204bde78e0c2f78a3b06d2d566fa6277e918
Rust version: 1.55.0 (c8dfcfe04 2021-09-06)
Os: archlinux with linux 5.14

[2021-09-21 12:56] Tetramad opened #3100 "`BuiltinFunctionType` and `BuiltinMethodType` are different"
## Feature

`types.BuiltinFunctionType` must be equal to `types.BuiltinMethodType`.
In other word, types returned by builtin function and types returned by builtin method must be of the same type.

### In CPython
[code]

### In RustPython
[code]

## Python Documentation

[BuiltinFunctionType](https://docs.python.org/3/library/types.html#types.BuiltinFunctionType) and [BuiltinMethodType](https://do

[2021-09-21 13:15] youknowone opened #3101 "Bring documents from CPython"
collecting script and basic adoption: #3098
related issue: #2680

[2021-09-21 16:28] youknowone opened #3102 "[RFC] split rustpython_stdlib from rustpython_vm"
## Summary

Split rustpython_stdlib from rustpython_vm which contains non-necessary rust modules for vm itself.

## Detailed Explanation

Advantages:
- We will have pressure to define public APIs by dogfooding, because rustpython_stdlib cannot access rustpython_vm private.
- Compiling will be faster by deviding crates. At least fot rustpython_stdlib.
- `stdlib` can be a feature. Without it, the bi

[2021-09-21 19:00] fanninpm commented on #3090
See also #3102

[2021-09-22 05:34] youknowone commented on #1175
I added a note to the issue body to check `posix` or `nt` for re-export.

[2021-09-22 20:36] DimitrisJim commented on #3034
closed with #3103

[2021-09-22 20:36] #3034 closed

[2021-09-23 04:46] #2881 closed

[2021-09-23 04:48] youknowone commented on #2926
is this also solved by #3082?

[2021-09-23 04:50] youknowone commented on #2050
test if this is resolved by #3082 would be appreciated

[2021-09-23 05:56] oroppas commented on #2926
@youknowone Yes, the situation gets much improved. The tests can be run on release/debug on msvc/msys.
Thanks!

[2021-09-23 05:56] #2926 closed

[2021-09-23 17:51] mardab commented on #2581
Yes, a list of what's left to be changed would be priceless.

[2021-09-23 18:14] fanninpm commented on #2581
@hk1997 @mardab it's in [`Lib/test/test_named_expressions.py`](https://github.com/RustPython/RustPython/blob/main/Lib/test/test_named_expressions.py)

[2021-09-23 18:44] andrew-ld opened #3122 "cargo install --git https://github.com/RustPython/RustPython no longer works"
[code]

RustPython commit: 0bb0946a
Rust version: 1.55.0 (c8dfcfe04 2021-09-06)
Os: archlinux with linux 5.14

[2021-09-23 23:40] coolreader18 commented on #3122
@youknowone would you be opposed to getting rid of the pre-commit? I've just `rm`'d the hook whenever it gets re-added to the `.git/hooks` directory cause I don't like how it makes `git commit` take multiple seconds to run, and I was nervous about an issue like this popping up when I took a look at `pre-commit`'s source.

[2021-09-24 01:30] youknowone commented on #3122
I think the idea adding precommit hook for fmt is good. It takes only a few seconds but ensure every commit is formatted - once if it is correctly set to add changed files which is not done yet.

On the other side, rust `pre-commit` crate doesn't look working well as expected. I agree to remove it.

cc @eldpswp99

[2021-09-24 01:33] eldpswp99 commented on #3122
yes, it makes many problems than i expected.. i agree to remove it

[2021-09-24 05:16] youknowone opened #3124 "[RFC] iternext and its related functions' return types as `PyResult<PyIterReturn>`"
## Summary

iternext in CPython regards null pointer return as `StopIteration`. This is related to both easier handling during iterator processing and optimization.

## Detailed Explanation

`PyIterReturn` will be defined as:

[code]
probably using `option_like!` macro.

The methods' signatures of `PyIter` will be:
[code]

## Drawbacks, Rationale, and Alternatives

## Unresolved Questions

How can

[2021-09-24 05:28] youknowone commented on #3101
I will leave module and class item for other contributors.
Module will be straight-forward.
Class item can be more complex because the module name or a closure to retain proper document must be delivered to class items.

[2021-09-25 04:52] youknowone commented on #2908
There was a recent discussion about gc in CPython: https://discuss.python.org/t/switching-from-refcounting-to-libgc/1641/37

[2021-09-25 05:56] zetwhite commented on #1755
Is there something left to do in this issue?
I'm interested in it, but it looks almost everything is done.

[2021-09-25 05:58] youknowone commented on #1755
@zetwhite by the comment on #1787, positional only error is not implemented. would you check `Lib/test/test_positional_only_arg.py`

[2021-09-25 06:02] moreal commented on #3101
I'll try to apply the module doc first.

[2021-09-25 06:02] zetwhite commented on #1755
okay. I'll check it.
thank you 😄

[2021-09-25 16:30] qingshi163 commented on #3124
I think PyObjectRef is not implement PyValue at moment, are you going to do it? @youknowone

[2021-09-25 16:35] youknowone commented on #3124
Not now. I even don't have a concrete idea about it yet. Feel free to take it.

I think PyObjectRef is not possible to implement PyValue. So that is my fault.

[2021-09-25 17:22] DimitrisJim commented on #3102
Question on this since #3132 got me thinking.

Doesn't `vm` require minimal support from the `stdlib`? `sys` seems like it defines things that are also used in `vm/`, `importlib` should be around for importing things and `io` and `encodings` also are required if I recall correctly.

I can see how a subset of the stdlib could be separated but not really seeing how _all_ could be yanked and placed i

[2021-09-25 17:25] youknowone commented on #3102
I think modules defined in `sys.builtin_module_names` must be included in vm. Other modules will be splited.

I also think the name `vm::stdlib` doesn't fit anymore.
Maybe `vm::module` include builtin modules (since it is defined in `sys.builtin_module_names`),
and they will be re-exported through rustpython_stdlib again

[2021-09-26 00:58] CoolCat467 commented on #3022
Copy-paste from [stack overflow](https://stackoverflow.com/questions/48136025/typeerror-multiple-bases-have-instance-lay-out-conflict#48136198):

Basically, this doesn't happen here because we're not using CPython

[2021-09-26 12:41] metaperl opened #3146 "[RFC] README documentation link is broken"
In [the README](https://github.com/RustPython/RustPython#documentation) it states:

But the link to " online documentation" is broken

[2021-09-27 03:24] cn-kali-team opened #3148 "ssl load_verify_locations cadata can't work"
## build
[code]
## RustPython
[code]
## output
[code]
## Python
[code]

## SSL
- code
[code]
- output
[code]
- I had to write the certificate to the file system and load it.

[2021-09-27 03:29] cn-kali-team commented on #3148
It works well in Linux, and the above problems only reappear in window.
[code]
- This works well in rustpython.

[2021-09-27 03:31] Snowapril commented on #3148
This code also works in Rustpython with linux
[code]

[2021-09-27 04:39] coolreader18 commented on #3148
Oh, yea, I've known about this for a while and I've tried a couple times to figure out why it doesn't work. No luck so far; I last tried a couple months ago iirc.

[2021-09-27 05:43] oroppas commented on #3148
Could https://bugs.python.org/issue36011 be related?

[2021-09-27 16:40] DimitrisJim commented on #3022
Mostly because it isn't implemented here, yet. Inheriting from multiple built-ins isn't forbidden for other implementations, its just a restriction that CPython has due to the fact that implementing it would shake up too much of their object implementation.

It's probably something we'll also end up doing, it would be interesting to see what other implementations do, though.

[2021-09-27 17:31] coolreader18 commented on #3102
Something I've been thinking about - oh which it seems also @DimitrisJim - some things *should* be core to the interpreter, right? Like `_signal`, or `_weakref`, or `_codecs` - imo, anything that's required to start up `rustpython` (and to be honest, I thought it was a given that `sys`/`builtins` would stay in the vm). CPython makes this distinction via "built-in" modules vs dlls. `_io` is `<modul

[2021-09-27 17:35] coolreader18 commented on #3102
Oh, right - like `sys.builtin_module_names`. These all seem preeetty core to the interpreter, except for things like functools/itertools but those are still very heavily used in all kinds of python code, they aren't like `zlib` which is domain-specific.
[code]

[2021-09-27 17:37] coolreader18 commented on #3102
Maybe the distinction we could have, if we kept these in `rustpython-vm`, is `corelib` instead of `stdlib`? Obviously a different set of priorities than Rust's core vs std, but a similar concept imo.

[2021-09-27 17:42] youknowone commented on #3102
#3129 is now working version

[2021-09-27 18:17] #3122 closed

[2021-09-27 18:23] andrew-ld opened #3154 "./whats_left.sh: NameError: name 'import_module' is not defined"
[code]

RustPython commit: da898a3de242d56d02da86a5228310c115750dd2
Rust version: 1.55.0 (c8dfcfe04 2021-09-06)
Os: archlinux with linux 5.14

[2021-09-27 21:19] coolreader18 commented on #3097
This currently works on my machine as well, there are just some warnings which I fixed in #3158

[2021-09-27 22:35] owenthereal opened #3159 "Error compiling RustPython to wasi"
Clone the project and build with the wasi target:

[code]

[2021-09-28 00:15] Snowapril commented on #3159
Could you test one more time with below command? I cannot reproduce error in my ubuntu20.04 environment
[code]
according to README document, we should add `wasm32-wasi` to target manually

[2021-09-28 01:06] coolreader18 commented on #3159
There should be better documentation for this, I'll work on it at some point.

[2021-09-28 08:37] cn-kali-team opened #3162 "slice multi-byte characters panicing"
- [slicing-strings doc](https://doc.rust-lang.org/book/ch08-02-strings.html#slicing-strings)
[code]
- output
[code]
- parser.py
[code]
- `[i:i+2]`,Unicode is twice as long as `i`
[code]

[2021-09-28 18:23] owenthereal commented on #3159
@Snowapril

I ran the following and go the same result as in the description

[code]

[2021-09-28 18:30] owenthereal commented on #3159
@coolreader18

Would appreciate some pointers on how to point the C compiler to the wasi-sdk toolchain

[2021-09-28 18:57] youknowone commented on #3102
I have another public stdlib api suggestion in #3165

[2021-09-28 22:35] emhagman commented on #3039
@DimitrisJim I'd like to work on `sinh` and `cosh` if possible!

[2021-09-29 02:40] cn-kali-team opened #3166 "missing `sched_ss_init_budget`, `sched_ss_low_priority`, `sched_ss_max_repl` and 1 other field"
- `git clone --depth=1 https://github.com/RustPython/RustPython`
- use x86_64-unknown-linux-musl
[code]

[2021-09-29 10:34] nbykovsky commented on #1176
Hi there, I want to start contributing with something. Are here any methods which needs to be implemented?

[2021-09-29 11:36] DimitrisJim commented on #3039
@emhagman great, work on them!

[2021-09-29 11:57] DimitrisJim commented on #1176
my previous comment still stands, (also, try running `whats_left` and seeing what it reports for socket).

[2021-09-29 17:42] youknowone opened #3167 "Remove `impl TryFromObject for SequenceIndex`"
#3121 will remove almost all use cases of `impl TryFromObject for SequenceIndex`.

For now, this is intended to be used with `PyObjectRef` + `SequenceIndex::try_from_object_for`. Removing this impl will be helpful to prevent misuse

[2021-09-30 09:48] andrew-ld commented on #3097
This currently works on my machine

[2021-09-30 16:48] youknowone opened #3176 "PyIter::check or impl TryFromObject for PyIter compatibility"
## Feature

Our `PyIter` doesn't have `check` corresponds to CPython PyIter_Check

## Python Documentation

https://docs.python.org/3/c-api/iter.html#c.PyIter_Check

## Current status

`impl TryFromObject for PyIter` currently check if it is a PyIter object or not. But it is a little bit weird.
In CPython, it simply checks if it does have `tp_iternext`.
In RustPython, it checks something more than

[2021-09-30 17:01] DimitrisJim commented on #3176
I think these correspond to two different functions, `PyObject_GetIter` and `PyIter_Check`.

The first, `PyObject_GetIter` (i.e our impl TryFromObject for PyIter) checks for `iternext` and, on failure, checks if the object is sequence-like (i.e `PySequence_Check` which we currently don't have and fall back to checking `__getitem__`), it is roughly equivalent to `iter`.

`PyIter_Check` just queries

[2021-09-30 22:47] coolreader18 commented on #3159
Could you try the `wasi-fixes` branch I just pushed? It works for me with
[code]
Also, what version of clang do you have (`clang -v`)? The above works fine for me, without any wasi-sysroot set up, using clang 12.

[2021-09-30 23:25] coolreader18 commented on #3159
#3178

[2021-10-01 04:19] #3176 closed

[2021-10-01 08:50] rishit-khandelwal commented on #3039
Hey I would also love to contribute, what should work on?

[2021-10-01 11:52] DimitrisJim commented on #3039
`acos` and/or `asin` appear to be without anyone currently working on them @rishit-khandelwal

[2021-10-01 13:39] egemengol commented on #3039
I would like to start working on `asin` if it is still not implemented

[2021-10-01 13:41] mdegis commented on #3039
If it is ok, I can try to contribute `cosh` function 👨‍🔬

[2021-10-01 13:46] DimitrisJim commented on #3039
seems like Eric has eyes on `cosh` @mdegis. @emhagman you fine with working with `sinh` while Melih works on `cosh`?

[2021-10-01 13:47] DimitrisJim commented on #3039
@egemengol sure, go for it. @rishit-khandelwal you can pick up `acos` then!

[2021-10-01 13:47] emhagman commented on #3039
I actually just finished both and was going to  submit the PR if that's okay

[2021-10-01 13:49] DimitrisJim commented on #3039
that's fine, I'll try and find another issue for Melih then.

[2021-10-01 13:51] emhagman commented on #3039
Okay thanks 👍🏼

[2021-10-01 14:16] #3124 closed

[2021-10-01 14:39] DimitrisJim opened #3182 "Fix complex.__repr__ handling of nan."
Specifically two related issues:

 - Nan's should be lowercased (similar to #3034)
 - Signs for nan should be included (always `+`), an issue really if the real part of the complex number is != 0.

For example, in Python:

[code]

while in RustPython:

[code]

[2021-10-01 14:40] DimitrisJim commented on #3039
@mdegis see if #3182 is something you'd like to work on

[2021-10-01 14:44] mdegis commented on #3039
sure @DimitrisJim I would like that 👍

[2021-10-01 14:45] mdegis commented on #3182
I think I can work on this 👍

[2021-10-01 17:28] DimitrisJim commented on #3039
99% a rounding error that propagates. Don't worry too much about it, there's other edge cases we currently do not handle in a correct way yet.

Add a `TODO:` in the function body describing the issue in a few words for now and we'll get to it at some later point.

[2021-10-01 18:02] DimitrisJim commented on #3039
Whatever it is, it's pretty weird since using the [log forms](https://en.wikipedia.org/wiki/Inverse_trigonometric_functions#Logarithmic_forms) for calculating it (as `num-complex` uses) yields a similar result:

[code]

Both CPython and RustPython return: `(0.20135792079033082+1.1102230246251565e-16j)`.

[2021-10-01 21:41] secantsquared commented on #2793
Not sure if this will help, but I was finally able to get this to work as expected (both install and ability to the executable to find and import the module) by passing the `--user` flag to the `--install-pip` flag provided in the projects documentation.
Therefore, after building and installing the executable as outlined in the docs, I was able to adjust the pip installation step as follows:

[cod

[2021-10-02 02:27] fanninpm opened #3188 "[RFC] Implement PEP 567 (`contextvars`)"
## Summary

The `contextvars` module, from PEP 567, is necessary to upgrade `asyncio` (and `decimal`) to CPython 3.8. I started #2950 to implement `contextvars`, but the PR has since stalled. (@DimitrisJim urged me to open this issue.)

## Detailed Explanation and Rationale

[PEP 567](https://www.python.org/dev/peps/pep-0567/), implemented in [CPython 3.7](https://docs.python.org/3/whatsnew/3.7.ht

[2021-10-02 03:40] moreal opened #3189 "Deprecate `py_module!` macro"
The CPython doc database is not a part of vm. Only `rustpython-derive` has the database.
`py_module!` macro is defined in vm. There is no way to access to the database.
I think we'd better to deprecate `py_module!` in future for this doc machanism.

_Originally posted by @youknowone in https://github.com/RustPython/RustPython/issues/3145#issuecomment-927322501_

[2021-10-02 05:17] moreal commented on #3189
I'm working on this issue.

[2021-10-02 10:14] andrew-ld commented on #3097
seems to be broken again
commit: 6b1af9a45ecb717225476d1e511dcf91ac5d99df

[code]

[2021-10-02 10:54] rishit-khandelwal commented on #3039
I forgot to checkout the issue yesterday, and acos and asin have been implemented, so which one should I implement now?

[2021-10-02 14:12] DimitrisJim commented on #3039
@egemengol @rishit-khandelwal there's an unfortunate conflict between your PRs (#3198 and #3200). Since we can't push both one is going to have to be closed. I'll be able to find another good issue for the other person to contribute to make up for it.

As it stands, @rishit-khandelwal has the fact that they requested to contribute first which we should respect (though I do believe @egemengol has t

[2021-10-02 15:28] egemengol commented on #3039
Ah, I missed #3198, my bad :)

Although I think communicating a bit more would prevent this duplication of work, no worries.

Thanks @DimitrisJim for sincere consideration. I'm definitely willing to contribute more, see you guys in different threads :)

[2021-10-02 16:43] DimitrisJim commented on #3039
Yup, I agree there.

I'll try and find a new issue for you though. If you have any particular interests, of course, you can grep for `TODO: RUSTPYTHON` in test files that interest you and try and tackle something from there (though I can't guarantee it will be easy :smile:)

[2021-10-02 18:14] muscar commented on #2979
Hi there 👋🏻 I think https://github.com/RustPython/RustPython/pull/3203 should cover all the cases. It looks like the GH workflow needs approval before it can run.

[2021-10-02 18:43] #3167 closed

[2021-10-03 03:13] coolreader18 commented on #3148
Oh, lol, I actually fixed this back in June but I just forgot and never opened a PR; to be fair I left for summer camp a couple days after I got it working but still 😅

Could you check if #3210 works?

[2021-10-03 03:37] cn-kali-team commented on #3148
I recompiled the test and passed.
It works. Thank you for your help.

[2021-10-03 04:39] #2240 closed

[2021-10-03 14:29] youknowone opened #3212 "compatibility for dict.__or__, dict.__ior__, dict.__ror__"
## Feature

See `test_dunion_other_types` in  `extra_tests/snippets/dict_union.py`.
The test is wrong and not fit for CPython.

## Python Documentation

[2021-10-03 17:07] DimitrisJim commented on #2979
Additional cases (some present in `test_syntax.py` and `test_compile.py`):

 - Calling a function accepting arbitrary kwargs: `def foo(**kwargs): pass; foo(__debug__='ok')`
 - Setting `__debug__` on `builtins` (tested in `test_compile.py`):

[code]

 - Wrong error message (implementation probably checks if args match before checking if arg name is ok):

[code]
 - Attribute assignment. Currently no

[2021-10-03 20:22] youknowone opened #3213 "`import time` and `_imp.create_builtin(FakeSpec("time"))` is not identical anymore since python 3.9"
https://github.com/RustPython/RustPython/pull/2831/commits/0c862f740b9cb0fb552f83c4435e036c4b542335

[2021-10-04 00:06] pheki opened #3214 "Increasing recursion depth without adding frames"
I'm trying to fix the list test_repr_deep test at [Lib/test/list_tests.py#L65](https://github.com/RustPython/RustPython/blob/c1679d807417aca593debeb019b6c3d48ed8e99a/Lib/test/list_tests.py#L65) and I've realized that the problem is that the recursion depth is currently only the number of frames (which can be seen at [`VirtualMachine::check_recursive_call`](https://github.com/RustPython/RustPython/

[2021-10-04 04:14] DimitrisJim commented on #3214
This is another case of #2796. Recursions currently performed purely in Rust won't bump the recursion depth since, as you mention, frames aren't added for it. (this is the reason why a seg fault is the result, `check_recursive_call` just doesn't see the call stack increasing).

We can take the discussion there and, obviously, you're more than welcomed to open a PR for it.

[2021-10-04 04:14] #3214 closed

[2021-10-04 05:14] youknowone opened #3216 "Set __doc__ lazy"
https://github.com/python/cpython/pull/28704

[2021-10-04 07:22] DimitrisJim opened #3217 "Fix collection(s) repr to correctly handle subclasses"
In CPython:

[code]

While in RustPython:

[code]

This needs to be applied for `set`, `frozenset` and `bytearray` too.

Prior similar work: #3137

[2021-10-04 07:23] DimitrisJim commented on #3039
@egemengol see if #3217 might interest you.

[2021-10-04 09:06] Snowapril commented on #3217
currently, rustpython's `repr` is hardcoded with its name. maybe fix it with `slots.name` can be work.

[2021-10-04 15:45] muscar commented on #3217
I think this addresses the issue: https://github.com/RustPython/RustPython/pull/3219/files.

[2021-10-04 16:03] DimitrisJim commented on #3217
Please request to work on issues and then someone can assign you. #3218 and #3219 are in conflict. @muscar if possible, alter your PR to only fix the classes other than deque. This way both PRs can be merged!

Please do request things though, it makes it easier for everyone involved :smile:

[2021-10-04 16:07] youknowone commented on #3217
well, claims will be respected but generally it is not necessary. (at least, we were not using that workflow before.)

If there is no claim, first PR will be preferred to be merged without special reasons.

[2021-10-04 16:11] DimitrisJim commented on #3217
Oh sure, I'm not saying otherwise. Requesting things just makes it easier and doesn't result in one of the PRs being closed (and possibly disheartening new contributors).

[2021-10-04 16:20] DimitrisJim commented on #2793
Is pip workable on macos then? #3158 maybe solved it.

[2021-10-04 17:13] youknowone commented on #2793
Instead of silent failing, it shows error messages. So it is not solved but progressed!
[code]

[2021-10-04 20:43] pheki commented on #2796
Sorry I didn't see this issue!

I can imagine 3 "simple" solutions:

1. Add a `recursion_depth` private property to `VirtualMachine` and increment/decrement it manually on `with_frame` and `with_recursion`. This is the way CPython does it and would require a new `with_recursion` method which would need to be manually called by all potentially recursive rust functions.
2. Add an `external_recursion

[2021-10-04 23:38] oroppas commented on #2671
After #3210, I see

[code]

[2021-10-05 01:22] oroppas commented on #2671
`appdirs` is replaced by `platformdirs`

https://github.com/pypa/pip/commit/ae6cf66c79734924544c4d5312dc0ca6072f324b#diff-8ff5175fdf2eb404b6eb6288021f0d4f1e33d7526c80b0ba471682208f26e293

[2021-10-05 06:59] DimitrisJim commented on #2796
The complexity here appears when you hit the limit since you'd like to handle the `RecursionError` gracefully when you've possibly run out of stack space. I think there's a crate called `stacker` that might help with that (but this can be a follow up issue after basic handling of recursion is added).

The first solution is definitely the best approach, an attribute macro that basically does what `

[2021-10-05 08:13] muscar commented on #3217
Fair enough :) Will as on any future ones.

[2021-10-05 15:18] #2816 closed

[2021-10-05 18:38] owenthereal commented on #3159
I tried building with the `wasi-fixes` branch and got the same result:

[code]

My clang is:

[code]

[2021-10-05 18:52] owenthereal commented on #3159
I downloaded the [wasi-sdk](https://github.com/WebAssembly/wasi-sdk/releases/tag/wasi-sdk-12), overrode the local clang, and was able to build it successfully with the same cargo build command!

[code]

Wasmer workers find. However, wasmtime yields no result for a simple print:

[code]

[2021-10-05 20:40] sunfishcode commented on #3159
A common cause for this in Wasmtime is applications not checking the return value from `write` to see how many bytes were written. I'm not familiar with RustPython's codebase, but it might be something like [this `print` implementation](https://github.com/RustPython/RustPython/blob/main/vm/src/stdlib/builtins.rs#L667), which might be calling something like [this `write` implementation](https://git

[2021-10-06 08:05] youknowone commented on #3100
Roughly, adding `zelf: Option<PyObjectRef>` to `PyBuiltinFunction` and replacing `PyBoundMethod` to `PyBuiltinFunction` will solve it.

It looks like a good next-step issue for who understand how python binding works and finished a few good first issues.

[2021-10-06 10:49] youknowone opened #3232 "make PyType::name return type `&str`"
`PyType::name()` is a commonly used internal api.
Even though it can return `&str`, it returns a `String` for now.

[2021-10-06 10:59] #3217 closed

[2021-10-06 11:41] Snowapril commented on #3232
As it is annotated with `pyproperty`, it cant return &str directly. Is it better to make new method, such as `_name`, which return &str and use it in the other codes?

[2021-10-06 11:47] youknowone commented on #3232
Yes, but I think `name()` for `&str` and `__name__` for `#[pyproperty]` is better.

[2021-10-06 12:31] Snowapril commented on #3232
Oh gosh. it is cool 😊 Could I work on this issue?

[2021-10-06 13:07] muscar commented on #2916
I can have a look at this.

[2021-10-06 13:29] youknowone commented on #2916
I didn't looked in this issue very well, but I guess `PyTypeFlags` would be related. If proper flag doesn't exist, one from CPython tp_flags would be needed to be added here too.

[2021-10-06 15:23] #3212 closed

[2021-10-07 14:07] youknowone opened #3244 "Implement protocols (Abstract obejcts layer)"
- [x] Object protocol
  - https://docs.python.org/3/c-api/object.html
  - This protocol will not be a type or trait. `impl PyObjectRef` in `vm/src/protocol/object.rs` will be enuogh
  - [x] Py_RETURN_NOTIMPLEMENTED (PyArithmeticValue::NotImplemented)
  - [ ] PyObject_Print
  - [x] PyObject_HasAttr / PyObject_HasAttrString (has_attr)
  - [x] PyObject_GetAttr / PyObject_GetAttrString (get_attr)
  -

[2021-10-08 07:03] DimitrisJim opened #3251 "Add `_statistics` module containing `_normal_dist_inv_cdf`"
This should be _relatively_ easy. `_statistics` needs to be defined as a built-in module and `_normal_dist_inv_cdf` should be added as its sole function.

`_normal_dist_inv_cdf` is pretty straight-forward to implement with the [C version](https://github.com/python/cpython/blob/main/Modules/_statisticsmodule.c#L29) being a pretty direct translation from the [Python version](https://github.com/RustP

[2021-10-08 07:08] DimitrisJim commented on #3251
Basic scaffold for the module (to be placed in `stdlib/src`):

[code]

it then needs to be exported in `stdlib/src/lib.rs` in a similar way to other modules.

[2021-10-08 07:55] DimitrisJim commented on #2445
This currently completes just fine for me (Albeit, slowly! :smile:). I'll be closing for now, feel free to open if it won't finish for you.

[2021-10-08 07:55] #2445 closed

[2021-10-08 20:31] aDotInTheVoid opened #3253 "`compile::tests::test_nested_double_async_with` fails"
[code]

Bisecting now

[2021-10-08 21:50] aDotInTheVoid commented on #3253
Bisected to 54ab9cb54

It looks like the tests just need to be reblessed.

Not sure why CI didnt catch this

[2021-10-10 02:11] varun-krishnan commented on #1176
if no one has taken gethostbyname_ex, can I take a crack at it?

[2021-10-10 05:58] #3253 closed

[2021-10-10 06:01] youknowone opened #3260 "Fix CI to run all test"
not to make regression like #3253 again

[2021-10-11 07:05] DimitrisJim opened #3268 "Add `__contains__` for `dict_keys`"
Similar change can be seen in #3259.

The change should be along the same lines, for `dict_keys`, `__contains__` can probably just forward the call to `dict.__contains__` and return whatever that returns.

[2021-10-11 17:37] youknowone commented on #3268
closed by #3271

[2021-10-11 17:37] #3268 closed

[2021-10-12 10:49] DimitrisJim commented on #3232
closed by #3261

[2021-10-12 10:49] #3232 closed

[2021-10-12 20:08] youknowone opened #3284 "[RFC] Rust name or Python name?"
## Summary

This is only about python objects like `#[pymodule]`, `#[pyclass]`, `#[pyfunction]`, `#[pymethod]` and `#[pyproperty]`.
Sometimes python names are not fit for rust naming convention.

1. Though we can specify the name with `(name = "")` attributes, we also need to decide how we give names for its rust side API.
2. There are also python names conflict to rust keywords. They also need a

[2021-10-13 09:32] LiarPrincess opened #3289 "Using RustPython ‘extra_tests’ in Violet - Python VM written in Swift."
Hi,

This is just a simple question: can I use your [extra_tests](https://github.com/RustPython/RustPython/tree/main/extra_tests) in [Violet - Python VM written in Swift](https://github.com/LiarPrincess/Violet)?

The tests would be placed in our [PyTests/RustPython directory](https://github.com/LiarPrincess/Violet/tree/main/PyTests/RustPython).

Ofc. We don’t want to steal your code without approp

[2021-10-13 21:33] kesmit13 opened #3294 "[WASM] Run RustPython WASM from another language?"
I would like to be able to load the RustPython WASM file into another language to execute Python code and retrieve Python results. I've looked at the WASM module produced by the following, and it appears the only export is the `main` function.
[code]
Is `main` the only way to interact with the WASM module, or is there another way to use it that allows you to get results back from a function call?

[2021-10-14 09:25] youknowone commented on #3294
Did you build `rustpython-wasm` crate?

`cd wasm/lib` and try to build there. I never tried wasm stuff myself but it must have more stuffs.

cc @coolreader18

[2021-10-14 12:00] DimitrisJim opened #3298 "Handling sets in cmp for dict view types"
Currently, sets are not handled in comparisons with dict views:

In Python:

[code]

while in RustPython:

[code]

In CPython, the corresponding implementation (`dictview_richcompare`) calls another function that iterates through the view and continuously calls `__contains__` on the other object (see `all_contained_in` function).

[2021-10-14 17:37] #3294 closed

[2021-10-15 16:01] Leonardofreua opened #3315 "[RFC] Add libs that are not yet present"
First of all, I would like to say that this project is very cool, congratulations. I find out the project recently and I would like to know if there is a possibility to contribute adding the Libs that are not yet present in the project? Like tkinter and sqlite.

[2021-10-15 17:33] Leonardofreua commented on #3315
@youknowone thanks for the response, I found everything I needed where you indicated. The `what_left.sh` file helped a lot too.

[2021-10-15 17:33] #3315 closed

[2021-10-15 23:52] Leonardofreua opened #3318 "[RFC] Difference between CPython version in README and wasm .toml file"
At the beginning of the README file, it is being informed that the CPython version is `>= 3.9.0`:
![image](https://user-images.githubusercontent.com/11354911/137565193-61770c91-3603-4c9c-8206-831b24597430.png)

But, on the RustPython website a different version is being displayed  (>= 3.5.0):
![image](https://user-images.githubusercontent.com/11354911/137565166-e4938986-054d-4667-82b2-e2428a3a66c3

[2021-10-16 06:52] youknowone opened #3319 "Add os.SCHED_* for macos"
https://github.com/RustPython/RustPython/pull/2997#issuecomment-911555605

libc didn't have them at that time but now they have them

[2021-10-16 10:09] DimitrisJim commented on #2668
Also ref: #3097

Can we close these issues or is the hanging still triggered in some way?

[2021-10-16 15:27] #3319 closed

[2021-10-16 17:58] youknowone commented on #3189
`ast` will be better to wait for #3096.
Once it is done, I will push the macro out to wasm crate - because wasm crate doesn't have CPython document anyway.
They can be refactored later.

[2021-10-16 18:18] youknowone opened #3324 "Relocate object protocol implementation from vm"
For now, Object protocol methods are (mostly) thin wrapper of matching vm functions. Because we don't need to have duplicated functions for same features, they need to be moved from vm to object protocol functions.

- `vm` path: `vm/src/vm.rs`
- object protocol path: `vm/src/protocol/object.rs`

The matching vm functions are easy to find because object methods are calling it.

- [x] get_attr #3331

[2021-10-18 03:22] #2957 closed

[2021-10-18 08:26] davfsa opened #3333 "Attempting to install pip raises URLError"
[code]

Version: RustPython 0.1.2 (pulled from git SHA: 7f6e01652601644ce3bf4d8f2e5ef4ae81cb04d8)

[2021-10-19 18:57] fanninpm opened #3348 "[RFC] Consolidating RustPython's annotations in the CPython test suite from interleaved annotations to single blocks"
## Summary

Currently, tests in `Lib/test` that are erroring/failing are marked as failures or skips in various ways. I propose that, for each `test_*.py` file in `Lib/test/**`, we collect most (if not all) instances of skipped tests into a single section at the bottom of the test file.

## Detailed Explanation and Rationale

Often, when someone adds a CPython test to `Lib/test`, function decorati

[2021-10-20 04:17] AP2008 commented on #3324
So, that function can be called from `vm/src/protocol/object.rs` as `vm.call_special_method` ?

[2021-10-26 10:00] 5aitama opened #3379 "Stop the interpreter"
Hi, I would like to know if we can stop the vm on runtime and if so how to stop it ? Thanks

[2021-10-27 15:41] #3298 closed, assigned to zetwhite

[2021-10-27 17:42] DimitrisJim opened #3382 "Time module functions for Windows"
See #3381 for the PR for Unices.

The `time` module for Windows is currently missing the following (among other things):

 - [ ] `get_clock_info`
 - [ ] `monotonic`/`monotonic_ns`
 - [ ] `perf_counter`/`perf_counter_ns`

(note that the last two set of functions are there but they aren't implemented correctly)

Not sure how easy/hard these might be, but, I'd be willing to help as best as I can thro

[2021-10-30 09:58] Snowapril commented on #3382
I'm currently working on `monotonic`/`monotonic_ns` 😊

[2021-10-30 10:35] DimitrisJim commented on #3382
I want to say that `monotonic` and `perf_counter` share the same clock for windows too but I haven't checked the source. In unices, they both use `CLOCK_MONOTONIC`.

[2021-10-31 23:10] youknowone commented on #935
Probably we need another str kind presented by `&[u32]`

[2021-11-01 08:11] #2258 closed

[2021-11-01 22:52] #3382 closed

[2021-11-02 01:41] coolreader18 commented on #3379
Hm, that's a good idea, and shouldn't be too hard to implement! It should mostly just be hooking into the existing check_signals function to allow custom "signals". The only thing is it might be hard to *fully* stop the vm, since right now all exceptions just bubble up normally, and there could be user code that's doing
[code]
(which is why bare `except:` is considered bad practice)
But otherwise,

[2021-11-02 03:22] coolreader18 commented on #3379
@5aitama LMK if #3399 fits your use case

[2021-11-03 08:11] 5aitama commented on #3379
@coolreader18 #3399 fit great my case. Thank's !

[2021-11-04 08:54] alexprengere opened #3411 "random.seed does not accept floats"
On CPython/PyPy, this works:

[code]

[2021-11-06 05:24] #3411 closed

[2021-11-06 07:41] moreal opened #3418 "Introduce `_collections.OrderedDict` type (a.k.a. `collections.OrderedDict`)"
## Feature

When you see the `collections` module,  there are two versions of `collections.OrderedDict`, pure Python implementation and implemented in CPython C code.

To check compatibility, run the below lines:

[code]

It is not incompatible in public exposed APIs so you can close this issue if it is useless.

## Python Documentation

- https://github.com/python/cpython/blob/v3.10.0/Objects/odi

[2021-11-06 07:53] moreal opened #3419 "Allow writing union types as `X` | `Y`"
## Feature

Since CPython 3.10 version, it became to allow writing union types as `X | Y` (e.g. `int | str`).

## Python Documentation

- https://www.python.org/dev/peps/pep-0604/
- https://github.com/python/cpython/blob/a4774f42e35861c4bb16928cffb011c2d8a285ac/Objects/unionobject.c
- https://github.com/python/cpython/blob/2c045bd5673d56c3fdde7536da9df1c7d6f270f0/Objects/typeobject.c#L4359-L4361

[2021-11-07 14:51] rtpg commented on #3419
I'm kinda curious about this one, have you started looking at this one already? If not I'll take a shot

[2021-11-07 17:13] moreal commented on #3419
@rtpg No, I didn't. I opened this issue as a task card. You can take this one. 😉

[2021-11-08 08:40] alexprengere opened #3429 "Failed to create virtualenv using RustPython"
When I want to test alternate Python interpreters, I usually create a virtualenv using:

[code]

`virtualenv` is installed system-wide through pipx.

Then I run the test suite of some projects I maintain to report incompatibilities (like I did with #3411). When I use this pattern with RustPython, I get an immediate error:

[code]

[2021-11-08 14:01] DimitrisJim commented on #3429
Can you currently get it working with interpreters other than CPython and PyPy?

The reason I'm asking is, after a quick glance, it seems like handling is done by certain Creator classes for which I only see implementations for CPython and PyPy (`virtualenv/create/via_global_ref/builtin`) and so I'd be interested to see how other implementations handle it.

[2021-11-08 14:10] alexprengere commented on #3429
CPython and PyPy/PyPy3 are the only interpreters I use every day. I have tried Pyston too, but I cannot remember if I had similar issues or not.

[2021-11-08 14:22] alexprengere opened #3430 "etree.XML raises TypeError on valid XML"
`etree.XML` does not look like it is working.
[code]
This code runs fine on CPython and PyPy.

[2021-11-08 16:30] DimitrisJim commented on #3430
Yup, `expat.rs` is still quite bare-bones (the args, even if parsed correctly, aren't currently used).

[2021-11-10 20:25] #3379 closed

[2021-11-14 17:32] nandhinianandj commented on #2680
https://github.com/RustPython/RustPython/pull/3435 -- very first commit.. just getting used to process here.

[2021-11-15 09:27] youknowone commented on #2680
how about closing this issue by preference for #3101?

[2021-11-15 19:22] trsh opened #3440 "Wamp install doesn't seem to work with windows"
[code]

Windows 10 x64

[2021-11-15 19:28] trsh opened #3441 "Slow an crashing on windows 10 with wamp"
[code]

Windows 10 x64

[2021-11-15 19:49] trsh commented on #3441
And
[code]

[2021-11-16 08:44] trsh opened #3443 "Problems installing PIP on windows 10 x64"
[code]

[2021-11-16 09:05] Snowapril commented on #3443
duplicate here #2671 😢

[2021-11-16 19:39] coolreader18 commented on #3440
You need to give access to the directories, since WASI is sandboxed. Try `.\wapm.exe run --dir C:\ rustpython C:\Projects\kaka.py` or maybe `.\wapm.exe run --dir ..\..\..\.. rustpython ..\..\..\..\Projects\kaka.py` if that doesn't work.

[2021-11-17 08:03] trsh commented on #3440
Sorry but I don't get it. WAMP is a package manager and when `rustpython` is installed with it, it should run as standalone like the doc/README points out. So why `--dir C:\ rustpython` ? Anyway, check also this https://github.com/RustPython/RustPython/issues/3441

[2021-11-17 17:13] coolreader18 commented on #3440
WebAssembly is sandboxed, and only has access to the directories you give it. If you want a full rustpython interpreter, build from source (it'll be up to date, too, the wapm version is pretty old).

[2021-11-17 17:13] #3440 closed

[2021-11-21 23:43] #2381 closed

[2021-11-22 03:27] xiaxinmeng opened #3456 "Appending list too many times crashes RustPython"
Description:
In test.py, we define a empty list buf, and then we append a piece of code into the list with format i = buf. RustPython crashes.

test.py
[code]

Reproduce:

run " rustpython test.py " and it reports:
[code]

Version: Rust Python 0.1.2 interpreter on Ubuntu 16.04

[2021-11-22 15:39] andrew-ld commented on #3456
this code does not work even with cpython, after a while it is killed by the oom killer

[2021-11-26 16:52] youknowone opened #3458 "marshal module is imcomplete"
## Feature

[marshal](https://docs.python.org/3/library/marshal.html) dumps and loads are incomplete

## Python Documentation

https://docs.python.org/3/library/marshal.html

[2021-11-28 03:35] youknowone commented on #3419
`__or__` and `__ror__` needs to be implemented in `type`. `type` is defined in `vm/src/builtins/pytype.rs` as `PyType` struct.
Other types `__or__` implementation will be useful. it can be found in any type implementing `|` operator, like `int`, `set` and other types. For those types, search for `fn or` in  `vm/src/builtins/<typename>.rs`.

By looking at links of the the issue, CPython seems to im

[2021-11-28 04:13] youknowone commented on #3324
this is done! thank you everyone who contributed in this issue!

[2021-11-28 04:13] #3324 closed

[2021-11-28 04:51] youknowone opened #3467 "Add `usedforsecurity` optional keyword argument to hashlib functions"
https://docs.python.org/3/library/hashlib.html

We can handle this in 2-steps.

1. Adding an optional parameter `usedforsecurity` everywhere.
2. Actually use the value.

[2021-11-28 05:26] youknowone opened #3468 "SaturatedSliceIter::next has overflow bug"
[code]

Probably introduced in #3340

[2021-11-28 06:01] Snowapril commented on #3468
[code]
above one also panicked by same reasom

[2021-11-28 06:02] Snowapril commented on #3468
[code]
These line make panicked

[2021-11-28 06:33] youknowone commented on #3456
I am going to close this by @andrew-ld

[2021-11-28 06:33] #3456 closed

[2021-11-28 06:36] youknowone commented on #3076
is this bug of super or getattribute?

[2021-11-28 06:42] youknowone commented on #2898
is this done? can we list up what's done and left?

[2021-11-28 06:44] youknowone commented on #2889
I think we can move our native dis module to `_dis` and create our own `dis.py` with `_test` in CPython `dis.py`

[2021-11-28 07:00] youknowone commented on #1755
done by #3420

[2021-11-28 07:00] #1755 closed

[2021-11-28 07:03] Snowapril commented on #3468
`SaturatedSliceIter` used for both set_slice and del_slice, but del_slice seems required different condition for iterating.
`set_slice`(`subscript` in cpython) loop with condition on slice length, but `set_slice`(`ass_subscript` in cpython) check current `index` is over `stop` or not.

[2021-11-28 07:29] youknowone commented on #447
fixed by #1124

[2021-11-28 07:29] #447 closed

[2021-11-28 07:34] TeamTamoad commented on #3467
I'll take this issue

[2021-11-28 09:21] youknowone commented on #2889
I expect `cargo run -- -m dis x.py` works like `python -m dis x.py` after resolving this issue

[2021-11-28 09:30] tai271828 commented on #2889
@youknowone thanks for #3469 , for me it is working like

[code]

[2021-11-28 11:04] #3468 closed

[2021-11-28 11:45] hrchu commented on #3419
Take this one in PyCcon APAC 2021 sprint

[2021-11-28 20:35] Asliibnu opened #3478 "Hargaysa"
## Feature

## Python Documentation

[2021-11-28 20:35] Asliibnu commented on #3478
Hi

[2021-11-30 00:19] #3478 closed

[2021-11-30 00:24] #2889 closed

[2021-11-30 05:23] rvsampson94 commented on #2898
I think __sizeof__ is the last one that needs to be merged. After that it should be done.

[2021-11-30 06:15] cohix opened #3485 "How to support the project?"
For reference, I'm looking to use RustPython to power our Python language support for [Atmo](https://github.com/suborbital/atmo)

I want to see if there are any ways we can support the project, specifically the WASI target. If there are any sponsorships we can do, or even contracts for any of the maintainers who are familiar with WASI environments, I'd love to chat.

[2021-11-30 10:14] Hunter2807 opened #3487 "Packaging the apps"
Sorry if this issue is duplicate or if this has been asked before, but is it possible to properly hide the Python source code and then compile it to an exe, unlike Pyinstaller with which anyone can see the underlying code?

[2021-11-30 12:51] TeamTamoad commented on #3467
The first step is completed and merged. #3474

Anyone can take this issue and continue working on the second step

[2021-12-01 13:59] canewsin opened #3490 "Build for Android Failed"
Error Log

          rustpython_stdlib.3a992c79-cgu.3:(.text._ZN13rustpython_vm8function16IntoPyNativeFunc9into_func28_$u7b$$u7b$closure$u7d$$u7d$17h52115ebfb708e746E+0x58): undefined reference to `sethostname'
          /home/pramukesh/RustPython/target/aarch64-linux-android/release/deps/librustpython_vm-b669f5e5086379a6.rlib(rustpython_vm-b669f5e5086379a6.rustpython_vm.8ab1d6e2-cgu.4.rcgu.o): In

[2021-12-01 16:28] Asliibnu opened #3491 "ZAAD"
[-ZAAD SHILLING-] Tix: 4665450107, SLSH 5,000 ayaad u dirtay MAXAMED  YUSUF CABDILAHI SHEER(634556533) Tar 01/12/21 19:15:25, Hadhaagaagu waa SLSH 1,401.11.

[2021-12-01 16:28] Asliibnu commented on #3491
252634555415

[2021-12-01 19:56] #3491 closed

[2021-12-03 08:42] youknowone opened #3493 "MemoryError"
## Feature

Rust 1.57 added Fallible allocation.
It will be easy to implement MemoryError than before

[2021-12-03 20:50] coolreader18 commented on #3493
Well I'm working on this now I suppose :grin: I was gonna just test some stuff out for a bit but now I've been doing it for an hour and I'm on the way to an implementation lol

[2021-12-04 00:15] coolreader18 commented on #3493
This could probably serve as a tracking issue of things to switch over to fallible allocations, with checkboxes and stuff (at some point), since this should be a fairly easy thing for people to work on as a first contribution (hopefully).

[2021-12-06 12:37] dswij commented on #3458
Would love to work on this, but I'm new to RustPython. Would appreciate some guidance if possible :slightly_smiling_face:

[2021-12-11 06:54] dralley opened #3498 "Benchmarks use `PyParser_ASTFromStringObject`, which is removed from Python 3.10"
Benchmarks fail to compile on a system with Python 3.10, in my case, Fedora 35.

[code]

https://github.com/python/cpython/pull/25001

https://github.com/dgrunwald/rust-cpython/commit/7bcf2d305851b5bd22f20c070e0dd75e71ebd388#diff-3a5720e55119ee77dd2db4a0e191e513099d227760a8c40891a9f78872b46982R91

[2021-12-13 22:42] Keithcat1 opened #3501 "Error when building Rustpython using the freeze-stdlib feature"
Rust 1.56, Windows 10 X64, Rustpython master

Steps to reproduce:
git clone https://github.com/RustPython/RustPython
cd RustPython
cargo build --features=freeze-stdlib
...
error: Error listing dir "C:\\py\\git\\rustpython\\vm\\pylib-crate\\Lib": The system cannot find the path specified. (os error 3)

[2021-12-13 22:56] Snowapril commented on #3501
Did you set the environment variable `RUSTPYTHONPATH`?

[2021-12-14 05:44] hamzamohdzubair opened #3502 "Error while installing RustPython on CentOS 7"
[code]

[code]

[2021-12-14 05:56] hamzamohdzubair commented on #3502
UPDATE:

New Error after updating rustc
[code]

[code]

[2021-12-14 14:15] 5aitama opened #3504 "Memory leak ?"
When I run the code below, the memory growth infinitely. Am I using it wrong ?

[code]

<img width="840" alt="image" src="https://user-images.githubusercontent.com/44070842/146012957-14b7dd01-b142-4ee7-af1e-2df74e43fb40.png">

* Running on a **MacBook Air M1, 2020**
* **OS** used : **macOS** Monterey *(v12.0.1)*
* **Rust** version used : **1.57.0** *(f1edd0429 2021-11-29)*

[2021-12-16 05:37] dralley commented on #3502
The original one is not a bug because the compiler version pre-dates 2021 edition.

The second one occurs because the glibc in CentOS 7 pre-dates the introduction of the `getrandom()` call and it looks like RustPython isn't implementing proper feature detection.

https://github.com/RustPython/RustPython/blob/38513cb468473634b3da3513206ca77a6553451a/vm/src/stdlib/sysconfigdata.rs#L22

So that one i

[2021-12-17 09:16] coolreader18 commented on #3502
Mmm, I don't think that sysconfigdata is actually the issue here, since we use the getrandom crate to implement urandom, this is actually a bug in that (I think). If you make a new project and just add `getrandom = "0.2"` as a dependency, (maybe have `fn main() { println!("{:?}", getrandom::getrandom(&mut [0u8; 8])) }` to make sure it's not compiled out) does that build?

[2021-12-18 06:13] dralley commented on #3502
Yes, that snippet works fine on CentOS 7.  With that said, you're right, it has nothing to do with that one line.  The actual issue is here: https://github.com/RustPython/RustPython/blob/main/vm/src/stdlib/posix.rs#L1990

I'm assuming it ought to go through the `getrandom` crate instead of calling libc directly?

[2021-12-18 18:32] coolreader18 commented on #3502
Oh, yeah, that's probably it. Although maybe just copy getrandom's feature detection because we shouldn't fall back to /dev/urandom I don't think

[2021-12-18 19:37] Keithcat1 commented on #3501
Not originally. I did a clean build now and set RUSTPYTHONPATH to the directory containing my Python distributions standard library and there is no difference. However as far as I understand it RUSTPYTHONPATH doesn't matter when using the freeze-stdlib feature, because the freeze-stdlib feature embeds a vendored copy of the Python standard library into Rustpython and doesn't actually find it on yo

[2021-12-19 08:39] jakearmendariz commented on #3458
Hi, I was looking at this issue (new to this project) and I am struggling a bit.

I assume the primary changes would be made to the [marshal.rs file](https://github.com/RustPython/RustPython/blob/main/vm/src/stdlib/marshal.rs). My first thought is that we would add more cases the loads and dumps match statements to handle `PyStr`, `PyInt`, `PyFloat` etc. However, the `loads` function [expects](htt

[2021-12-19 16:07] youknowone commented on #3458
Your approach is correct. The return type can be changed to `PyObjectRef` to include any type of python object. The most common way to convert `PyCode` or other types into `PyObjectRef` is using `into_pyobject`

[2021-12-29 10:31] nadavkluger commented on #2898
Hey I want to start working on it but it seems like part of it is already implemented:
![image](https://user-images.githubusercontent.com/27895842/147653023-59f46d30-41ae-4b28-a82a-267c4fdb84a8.png)

![image](https://user-images.githubusercontent.com/27895842/147653062-31286407-c2f0-4421-a2db-3e3e2fe120e0.png)

[2021-12-29 23:26] phorward opened #3509 "Where is #[pymethod] defined?"
Hi folks,

can you please shortly direct me to the place where the pymethod-macro (or isn't this a macro?) is defined?
I wasn't able to do so, but it's used in several places, as `find . -type f -exec grep -nsH pymethod {} \;` reports.

Thanks a lot!

[2021-12-30 06:26] youknowone commented on #3509
`pymethod` itself is an annotation but not a macro. The upper `pyclass` is a proc-macro and it consumes inner `pymethod` annotations. To look in pyclass macro, See https://github.com/RustPython/RustPython/blob/main/derive/src/pyclass.rs
Telling us the purpose why you are looking for it would be helpful to find answers for your needs. If you are looking for the rules to use them, this document woul

[2021-12-30 19:44] phorward commented on #3509
@youknowone thank you very much for the hint and clarification. Well, I currently study parts of RustPython for better understanding in its details, therefore I don't have a direct usage for the annotation.

[2021-12-30 19:44] #3509 closed

[2021-12-31 02:34] chengongpp opened #3511 "CPython does not support some emojis as variable name while RustPython does"
## Feature

on CPython 3.10:
[code]

on RustPython 0.1.2:
[code]

According to python doc, valid identifiers are defined as:
[code]

While Ferris-chan 🦀 (U+1F980) is not included above, it should probably not be considered a valid variable name?

## Python Documentation

[Lexical Analysis: Identifiers](https://docs.python.org/3/reference/lexical_analysis.html#identifiers)

[2021-12-31 11:16] nadavkluger commented on #2898
I want to work on it

[2022-01-05 11:09] KernelErr opened #3513 "Unsatisfiable env.time import for target wasm32-wasi"
Hi, I cloned latest code(db3b3127df34ff5dd569301aa36ed71ae5624e4e) and used following commands to compile:
[code]
However, it seems there's an imported function `env.time` that wasmtime/wasmedge/wasmer all could not satisfy.

[code]

[2022-01-09 00:09] JamieSlome opened #3515 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-01-10 08:34] youknowone commented on #1940
as a pure python project, https://github.com/Pylons/waitress

[2022-01-11 00:31] coolreader18 commented on #3515
Hmm, we don't really have a unified method of communicating to us. That.. would probably be a good idea to set up? In the meantime you could email me at coolreader18@gmail.com (which I just made cause I realized I should probably have an oss email) and I can share it with the other core devs.

[2022-01-15 16:45] FoxNerdSaysMoo opened #3519 "Error on wasm build: `there is no argument named meta_indent`"
[code]
Occurred when running
[code]
(I already ran `rustup target add wasm32-wasi`)

Platform information:
[code]
[code]
This is using the latest version of RustPython.

[2022-01-15 17:07] tyoc213 commented on #3519
Same here

[code]

[2022-01-16 12:35] besok commented on #3519
Actually, The named parameters work properly on the latest version of rust. Try to update compiler:
[code]

[2022-01-16 17:43] fanninpm commented on #3511
Is this a bug in RustPython… or a deficiency in CPython? 🤔

[2022-01-16 19:05] tyoc213 commented on #3519
Well on main page it says this

[code]

Also `1.57` is just behind a little of `1.58`

[2022-01-17 20:22] fanninpm commented on #3504
It's (most likely) not you. I ran into the exact same problem trying to get the benchmarks to work. #2380 should give you a little more context.

[2022-01-18 05:19] coolreader18 commented on #3511
This is really strange, we do use xid_start/continue for this, and `unic_ucd_ident::is_xid_start('\u{1f980}')` does return false, I'm not sure why this would be happening.

[2022-01-18 05:31] coolreader18 commented on #3511
Ah, looks like it was actually on purpose: ca11e7dea7

Honestly not sure about this, while IMO there's nothing wrong with supporting single-emoji identifiers even if cpython doesn't, this *does* bring in a `unic` crate that isn't strictly necessary, which can bloat things.

[2022-01-18 07:24] windelbouwman commented on #3511
This was more of a gimmick in the old days, a sort of easter egg, but if it reduces bloat it can be removed. I'm not emotionally attached to the thing 😄 .

[2022-01-22 07:10] BasixKOR commented on #2050
This issue seems to be fixed now! Closing.

[2022-01-22 07:10] #2050 closed

[2022-01-22 07:43] youknowone opened #3524 "CI CPython version to 3.10?"
Python 3.10 is officially releasesd.

[2022-01-22 07:57] youknowone commented on #2050
thank you for confirming!

[2022-01-22 21:03] fanninpm commented on #3524
It was released in October 2021. See also #3225

[2022-01-22 21:07] FoxNerdSaysMoo commented on #3519
Updating the compiler fixes the problem

[2022-01-22 21:07] #3519 closed

[2022-01-26 19:59] #3513 closed

[2022-01-28 11:30] matklad commented on #3054
Yeah, facing the same issue. I *think* we are hitting the following limit here:

https://github.com/bytecodealliance/wasm-tools/blob/ac9028a4c52dbf1b0e78b24be33b7e5ce9618ca6/crates/wasmparser/src/limits.rs#L29

This is not a spec limit, its an implementation limit.

I, however, only hit this in debug mode. If I compile in release, then I hit some runtime error.

[2022-01-30 16:52] pwnorbitals commented on #2378
It's been a while now, so bumping this issue for triage :) may have been fixed in the meantime though

[2022-02-01 01:22] fanninpm opened #3531 "Bad f-string, causing CI issues"
## Feature

### Toy Example (adapted from `extra_tests/snippets/fstrings.py`, lines 47-48)
#### Code
[code]

#### CPython
[code]

#### RustPython
[code]

### Real-world Example (adapted from CPython 3.9's `Lib/test/test_fstring.py`, lines 581-584)
#### Code
[code]

#### CPython
[code]

#### RustPython
[code]

## Python Documentation

https://docs.python.org/3/reference/lexical_analysis.html#gramma

[2022-02-02 09:15] gboutry opened #3533 "Using keyword arguments with itertools.combinations fails"
## Feature

I've stumbled onto an incompatibility why trying out RustPython (built at bd295e0), where `itertools.combinations` fails when using keyword arguments:

Code:
[code]
Stacktrace:
[code]

Using only keyword arguments also fails:
[code]
Using only positional argument works perfectly.

## Python Documentation

https://docs.python.org/3.9/library/itertools.html#itertools.combinations

[2022-02-03 13:40] gavindsouza commented on #3531
I just tried `rustpython get-pip.py` on latest HEAD (bd295e0f44870d534565ffa7cb1be9c93b11c7e1) and it threw

[code]
---

Extracted example:

On CPython 3.9.9:

[code]

On Rust Python 0.1.2:

[code]
---

@fanninpm Does your PR fix this too?

[2022-02-03 22:37] youknowone commented on #3531
Once this is fixed, #3535 need to be reverted

[2022-02-06 03:04] #3533 closed

[2022-02-06 05:20] clinuxrulz opened #3539 "rustpython-vm all versions yanked"
All versions of rustpython-vm have been yanked from crates.io and it is a dependency of rustpython. Cargo won't let me try out RustPython, because of that issue.

[2022-02-06 19:59] fanninpm commented on #3524
This should be resolved thanks to #3538.

[2022-02-06 21:38] fanninpm commented on #3539
Currently, the only way to run RustPython is to git-clone this repo's `main` branch. If you want a release on crates.io, @coolreader18 and @youknowone would have a better idea about if/when that would happen.

[2022-02-06 21:50] youknowone commented on #3524
@fanninpm thanks!

[2022-02-06 21:50] #3524 closed

[2022-02-07 06:48] Ehsan404 opened #3542 "can't install on termux android"
target 'aarch64-linux-android' not found in channel.

[2022-02-07 09:39] fiplox commented on #3542
On my termux install (proot arch) I successefully compiled from source and run it.

[2022-02-07 17:39] coolreader18 commented on #3542
I can compile fine in vanilla termux, can you post the full error?

[2022-02-08 05:34] chunkybanana opened #3544 "Pip installation issue on MacOS 12.0.2"
The error message is quite long, so here's the last bit:

[code]

This happens whether I build a version with `ssl` or run `get-pip.py` normally.

[2022-02-08 17:31] fanninpm commented on #3544
Installing pip used to be part of RustPython's CI suite, but it had to be disabled because pip vendors dependencies that RustPython currently doesn't support. The specific problem that you're running into is solved by #3532, but that by itself won't get pip up and running. (The next step along that journey, by the way, is adding `mmap` to RustPython, tracked in #2059.)

[2022-02-10 07:39] RudolfVonKrugstein opened #3546 "Should the hello_embed.rs example print something?"
Hi,

when running the hello_embed.rs example on windows, it works fine but I don't see the output `Hello World!` (which I would expect from the python statement `print("Hello World!")`). Should rustpython print to stdout when python calls print? Or do I have to redirect that somehow?

Thanks!

[2022-02-10 10:31] #3531 closed

[2022-02-10 10:33] youknowone commented on #3539
I don't have any permission to crates. @coolreader18 will check it

[2022-02-18 12:06] DurkelTheDonkey opened #3556 "rustpython VM storing defined functions across interpreter calls."
Hi, I'm using the rustpython VM and I'm trying to define some functions in one call and then at a later time I'd like to call those functions an arbitrary amount of times. The trouble I'm running into is saving the state across those calls to the interpreter and I end up trying to call functions that are not defined.
[code]
This will print `PYTHON MODULE INIT` as it should when `MAIN` is compiled.

[2022-02-18 15:33] coolreader18 commented on #3556
I'm not exactly sure what you mean by passing it to the interpreter, but I'd assume you're later calling `Interpreter::default().enter()` multiple times? Cause the solution for that is to just save the interpreter instead of recreating it every time, `let interp = Interpreter::default(); for _ in _ { interp.enter(|vm| { .. }); }`

Alternatively, you could just move your whole program into the `ent

[2022-02-19 21:03] coolreader18 commented on #3556
Well in this you never have the `from mylib import *` bit, so there's not `init()` in scope. If you want to preserve that you should save `scope` as well and then it'll all happen in the same scope.

[2022-02-19 21:38] DurkelTheDonkey commented on #3556
Thank you, that clears up a lot of confusion, sorry for the inconvenience :)

[2022-02-19 21:38] #3556 closed

[2022-02-23 16:17] youknowone commented on #2059
nothing known progress

[2022-02-28 10:53] leapofazzam123 commented on #2362
bincode 2 should support no_std by disabling the default features or disabling the `std` feature

[2022-02-28 16:02] allsey87 commented on #2362
@leapofazzam123 what is the current relationship between [pravega/bincode2](https://github.com/pravega/bincode2) and [bincode-org/bincode](https://github.com/bincode-org/bincode)? At a glance, the [Cargo.toml](https://github.com/bincode-org/bincode/blob/trunk/Cargo.toml) in [bincode-org/bincode](https://github.com/bincode-org/bincode) seems to indeed support a no_std configuration.

[2022-02-28 17:24] coolreader18 commented on #2362
It looks like bincode-v2 has been merged back to bincode-org but it's still in beta? That's what I glean.

[2022-03-09 22:27] dimpolo opened #3565 "Augmented assignment loads the assignment target twice"
The following code prints "here" twice. CPython only prints it once.
[code]

Relevant code:
https://github.com/RustPython/RustPython/blob/48fa217c4303993ef9cb00acb655d7b7eabaedad/compiler/src/compile.rs#L766-L773

[2022-03-10 08:27] youknowone commented on #2059
not working, but #3564

[2022-03-11 12:02] dimpolo opened #3567 "Boolean expression performs redundant bool check"
[code]

CPython optimizes this check in:
https://github.com/python/cpython/blob/54ab9ad312ea53db40e31712454272e1d4c0315f/Python/compile.c#L8708-L8721

[2022-03-12 07:14] #3565 closed

[2022-03-12 08:32] youknowone commented on #3419
@moreal is this done?

[2022-03-12 14:25] moreal commented on #3419
@youknowone As I know, I believe it is done.

[2022-03-12 14:26] #3419 closed

[2022-03-17 18:45] bit-garden commented on #3546
[code]

results in

[code]

[2022-03-18 19:13] djrmarques commented on #3251
SO this is no longer necessary since the merge made above right?

[2022-03-20 13:42] pwnorbitals commented on #1060
Probably this issue can be closed now ;) @windelbouwman

[2022-03-29 18:03] canewsin commented on #3490
Build now succeeding.
Tested with https://github.com/RustPython/RustPython/commit/7466d17dfde415657196c465f9dd15f94e894144

[2022-03-29 18:03] #3490 closed

[2022-03-30 03:01] youknowone opened #3586 "Optimize dict.fromkeys"
- #3585
- `_PyDict_FromKeys` from https://github.com/python/cpython/blob/main/Objects/dictobject.c

Current implementation is handling general way but missing optimization for specific conditions.

[2022-03-30 03:15] dieterplex commented on #3586
Do you the cases that `dictresize` occurs when the keys are  dict/set ?

[2022-03-30 10:47] Snowapril commented on #3586
It seems if given `iterable` is exact `set` type or exact `dict` type(it means, the class that inherits dict or set is not the case), preallocate the memory for dict with the given length of `iterable`.
But I cant find the case when that `(PyDictObject *)d)->ma_used` does not have value 0.
`d` is result of `_PyObject_CallNoArg` of given type thus there may not exist the case that the given type is

[2022-03-30 11:16] dieterplex commented on #3586
[code]
Would this be the a valid case?

[2022-03-30 11:56] dieterplex commented on #3586
Ah, that must be exact `dict`.

[2022-03-30 11:59] Snowapril commented on #3586
@dieterplex Oh yes that is exactly the case that result of `_PyObject_CallNoArg` of given type is exact `dict` type and not empty,  `__new__` of `x` return the non-empty exact `dict`. I checked it with debugger in cpython 😊

[2022-03-30 12:30] dieterplex commented on #3586
In other words, it should be preallocate when meet conditions. But is there such a concept we could be preallocate for entries, a.k.a. `DictContent`?

[2022-03-31 03:02] dieterplex commented on #3586
Implementing CPython like `dictresize` seems need  put some effort to it. Alternatively, just route to`merge_object`  for specific conditions and add a TODO to follow up with a separate issue? @youknowone
And where should I place the unit test file?

[2022-03-31 13:34] lastmjs commented on #2378
I will be starting a project with RustPython in a couple months and I just want to preemptively prepare for that. I am going to need to compile RustPython to wasm32-unknown-unknown without any of the normal web dependencies that some Wasm projects depend on.

I hope RustPython will be able to compile and run in a very bare-bones Wasm environment

[2022-03-31 14:56] youknowone commented on #3586
@dieterplex that sounds good. I don't feel like we necessarily need tests for the case, but you can put any original tests in `extra_tests/snippets` directory. Then CI will run every tests inside the directory.

[2022-04-07 02:06] Snowapril commented on #3586
@dieterplex Hi. Are you currently working on this issue? If not, I'll use this issue for the next sprint this weekend. Please tell me freely.

[2022-04-07 02:18] dieterplex commented on #3586
Not yet, just go ahead no problem.
I look into it and think about is there a way to replace `entries` without bulk insert?

[2022-04-07 02:22] Snowapril commented on #3586
Thank 😊. If not used, I'll tell you again in this thread.

[2022-04-07 15:52] youknowone opened #3588 "Add code coverage report to CI"
https://blog.rust-lang.org/2022/04/07/Rust-1.60.0.html#source-based-code-coverage

[2022-04-08 07:55] youknowone opened #3589 "Enhance proc-macro #[pymodule] to generate `__all__`"
rather than manually adding function based attribute every module, there will be a better way.

[code]

[2022-04-08 10:17] yashgorana opened #3592 "Cannot build wasm demo. Build fails at wasm-bindgen"
When building the WASM demo app, I'm getting this error

[code]

Unsure about the root cause of this error, but it looks like `C:\Projects\RustPython\target\wasm32-unknown-unknown\debug\rustpython_wasm.wasm` is too big (170+MB) and hence wasm-bindgen is failing with `locals exceed maximum (at offset 18929596)`. This error results in an empty `pkg` directory that breaks `import('rustpython') in `in

[2022-04-14 01:44] youknowone opened #3607 "Change PyAttributes type to IndexMap"
For now it is implemented with HashMap. But to keep the insertion order, it need to be changed to IndexMap.

[2022-04-14 04:08] sum12 opened #3608 "[RFC] _queue is missing"
## Summary
https://rustpython.github.io/pages/whats-left says _queue is missing. The module does not supply much apart from the native implementation. I would like to give it a try and replicate it here.

## Detailed Explanation

## Drawbacks, Rationale, and Alternatives
Not sure if it add any value, since the rustpython implementation seems good enough ?

## Unresolved Questions

[2022-04-14 09:10] youknowone opened #3609 "Add `aiter` and `anext` builtin function"
## Feature

- [ ] `builtins.aiter`: https://docs.python.org/3/library/functions.html#aiter
- [ ] `builtins.anext`: https://docs.python.org/3/library/functions.html#anext

## Python Documentation

[2022-04-14 09:15] youknowone commented on #3608
Hi, welcome to the project. For now, it falls back to pure python implementation, which is also a part of official CPython library. If you add `_queue`, it will enhance the performance. That's the value.
There is already a working version and we lack of many other features, so it is not the first-grade prioritized, but at the same time, no reason to not to do. If you are motivated by that, go fot

[2022-04-14 09:24] Snowapril opened #3610 "Add `__self__` and `__self_class__` property accessor for `super`"
## Feature
Add `__self__` and `__self_class__` for `PySuper`. Please refer this PR #3601
For now, `obj` field in RustPython have both for `obj` and `obj_type` in cpython. See below link

## Python Documentation
https://github.com/python/cpython/blob/main/Objects/typeobject.c#L8755-L8772

[2022-04-14 09:27] Snowapril commented on #3609
`builtins.aiter` can be implemented quite easy with just a few codes.
but for `builtins.anext`, it seems `anext_awaitable` must be implemented first.
[code]

[2022-04-14 11:18] Snowapril opened #3611 "Implement missing `__reduce__` and `__reduce_ex__` for several types"
## Feature
Many existing test cases check that `pickle.dumps` and `pickle.loads` of a given type return the exact same value. Almost failed pickle test in RustPython, lack `__reduce__` method.

- [x] `arrayiterator.__reduce__` (test_array::test_iterator_pickle) — #3868
- [x] `filter.__reduce__` (test_builtin::test_filter_pickle) — #3732
- [x] `map.__reduce__` (test_builtin::test_map_pickle) — #373

[2022-04-14 11:18] Snowapril opened #3612 "Array iterator name is different from CPython"
## Feature
The name of `array.array` iterator has to be `array_iterator` but `arrayiterator` in RustPython.

## Python Documentation
https://github.com/python/cpython/blob/3.8/Modules/arraymodule.c#L2993

[2022-04-14 22:33] ShreyasB92 commented on #3607
Hi, I am a beginner. Can I contribute to this?

[2022-04-14 23:40] youknowone commented on #3607
If you have basic Rust experiences, yes. I guess this is not deeply related to RustPython architecture. Just by replacing the type from HashMap to IndexMap and fixing the following errors, it will work.

[2022-04-15 02:26] fanninpm opened #3614 "RustPython no longer compiles on Nightly or 1.61 Beta"
According to the GitHub Actions logs, this incompatibility got introduced sometime between the 2022-03-26 nightly and the 2022-03-21 nightly. Using `cargo-bisect-rustc` on my M1 macbook resulted in the following (I have also reproduced this result on my x86_64 laptop running Manjaro):
___

searched nightlies: from nightly-2022-03-26 to nightly-2022-03-31
regressed nightly: nightly-2022-03-28
searc

[2022-04-15 08:57] youknowone commented on #3614
I fixed it in #3615, but now it is more looking like a bug.

See:
https://github.com/RustPython/RustPython/pull/3615/files#diff-4231786211df4730d5d5dae029df9d477b4310fc6333e7dc95169e808d04cda1L902

when using `item.span()` in `quote_spanned!`, it makes error. when not using it, it works. I think it is breaking orthogonality of the functions.

[2022-04-15 09:03] petrochenkov commented on #3614
I fixed a very similar regression in https://github.com/rhaiscript/rhai/pull/540, same case of definition and use of some variable being incompatible due to being generated with different hygienic contexts.

[2022-04-15 09:05] youknowone commented on #3614
@petrochenkov you mean, this is a regression but not a bug?

[2022-04-15 09:14] petrochenkov commented on #3614
The change in rustc is not a bug it's intentional, rustpython-derive had a "sleeping" mistake that was exposed by it.
Definition and use of `slots` happened to have the same context before the change, but not the after.

[2022-04-15 09:34] youknowone commented on #3614
@petrochenkov Thanks a lot. I am not getting how it is working different macro inside and outside, but I am now getting what was the problem of `slots` there little bit.
@fanninpm Thank you, If you didn't find regressed commit, I would never find the problem myself.

[2022-04-15 10:46] #3614 closed

[2022-04-15 18:44] youknowone opened #3619 "Refactor `__format__` calling"
While CPython is reusing `PyObject_Format` for `__format__` calling, RustPython is handling it for 3 different places.

Search for `"__format__ must` to find current places.

[2022-04-17 15:04] youknowone opened #3629 "Upgrade clap to v3"
clap v2 and v3 have different APIs