[2019-08-07 14:47] windelbouwman commented on #1211
@Thrimbda thanks for reporting! Please check if the issue was fixed. It should be fixed.

[2019-08-07 14:55] windelbouwman commented on #1216
Is this related to the fact that `import os` does not work on the demo site?

[2019-08-07 17:12] Lynskylate opened #1218 "RustPython object truth value not compact for Cpython"
RustPython judgment doesn't use \_\_len\_\_.
[code]

[Cpython Document](https://docs.python.org/3/library/stdtypes.html#truth-value-testing),

When VM eval JumpIf, just convert the PyObject to bool,  We need to increase the judgment of the length
[code]

[2019-08-07 17:35] silmeth commented on #1218
A very small nitpick – to really test compliance with the documentation in this case I think your `Test` class should rather return `0` and not `False` in its `__len__()`.

But, on the other hand, testing for `__len__()` returning `False` probably is an interesting edge-case test for compatibility with CPython too (even if the docs don’t explicitly mention this case).

[2019-08-07 18:39] Lynskylate commented on #1218
Sorry, It `s my mistake. CPython's PyObject_IsTrue downcast res to int, so this result can also be reproduced with 0.

[2019-08-09 05:07] windelbouwman commented on #1190
@moreati is this something you would like to document in the readme file?

[2019-08-09 06:22] moreati commented on #1190
will do

[2019-08-09 16:25] #1218 closed

[2019-08-09 22:54] coolreader18 opened #1224 "%f formatting is missing"
## Feature

`'%f'` printf-style formatting formats floats, including both sides of the decimal point and an optional precision argument. It should just be adding a format_float function in `cformat.rs`.

## Python Documentation

https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting

[2019-08-10 22:03] yjhmelody opened #1228 "int('0b100', base=0) panic!"
## Feature

`objint.rs`:
[code]

When I run it in ubuntu 18.04, it will panic.
Not handling error correctly when out of ranges.

[2019-08-10 22:06] yjhmelody commented on #1228
[code]
It should return normally. It should trim before converting.

[2019-08-10 22:23] yjhmelody commented on #1228
And where is ValueError object?
[code]

[2019-08-10 22:31] yjhmelody commented on #1216
I even can't load `os` module in my win10 and ubuntu. Ah, though not the same problem with you.

[2019-08-11 00:14] coolreader18 commented on #1216
Have you set `RUSTPYTHONPATH=.../RustPython/Lib`?

[2019-08-11 08:49] Lynskylate opened #1230 "__new__ should be a static method"
In RustPython, \_\_new\_\_ is bound method but it should be a static method.

[code]
 super().__new__(cls, *args, **kwargs) will pass two same ype class(args[0] is same as cls).

[object \_\_new\_\_ Python docuemtion](https://docs.python.org/3/reference/datamodel.html#basic-customization)

[2019-08-11 15:25] corona10 commented on #1212
I am looking now this issue.

[2019-08-11 19:33] andrew-ld opened #1235 "[RFC]"
## Summary

make a separate crate for all things that are related to the target operating system
for example some functions inside os are implemented specifically for windows or unix

## Detailed Explanation

the idea is to create the crate vm-sys that could be divided by creating a folder for each module (so for example "stdlib/os/") and inside we put a file for unix and one for windows

so we'll

[2019-08-12 05:08] coolreader18 opened #1237 "[RFC] Change match_class macro to take an actual match expression"
## Summary

`match_class` would go from

[code]
to
[code]

## Detailed Explanation

The matching would be pretty much the same, except we could match on a [`block`](https://doc.rust-lang.org/reference/macros-by-example.html#metavariables) to detect when there wouldn't need to be a comma following the expression, like the real match expression.

## Drawbacks, Rationale, and Alternatives

The main r

[2019-08-12 05:32] #1212 closed

[2019-08-12 06:20] posutsai commented on #1176
Hi, I would like to contribute to extending the socket module. Are there any remaining methods which are not assigned to anybody? Should I open another issue and specify which method I want, preventing others from doing the same thing? Or which method is the first priority?

[2019-08-12 06:39] windelbouwman commented on #1176
@posutsai you could add a series of checkboxes in this issue, and mention what you implement. There is not a fixed list, but there is a helper script to determine the missing methods, called [`whats_left.sh`](https://github.com/RustPython/RustPython/blob/master/whats_left.sh)

I think it is good to mention here what you will start on.

[2019-08-12 11:52] mpajkowski commented on #1214
resolves #1240

[2019-08-12 12:33] #1214 closed

[2019-08-12 15:30] windelbouwman commented on #1235
This idea crossed my mind, but I do not think a seperate crate would be a good idea. I think you will end up having two tightly interdependent crates, which is not handy. I would rather go the route of feature flags, so that you can customize the `rustpython-vm` crate to suit your needs.

A subfolder with platform specific files would make sense to me, like you suggested the `os` subfolder of the

[2019-08-13 05:08] windelbouwman commented on #1228
@yjhmelody can this issue be closed now?

[2019-08-13 15:49] palaviv commented on #1176
I would recommend trying to implement the methods needed by `socketserver` as it is something that would be great to add. From a quick look we should add:

- [ ] gettimeout
- [ ] setsockopt
- [ ] shutdown

[2019-08-13 21:08] cthulahoops commented on #1230
I think this is probably a duplicate of #778 . Just trying to get this stuff fresh in my mind so I can review the work here.

[2019-08-14 08:14] cthulahoops commented on #1230
I've been considering this a problem with ```super``` as it works in the examples without ```super``` but finally got a simple example that shows the difference without using ```super```:

CPython:

[code]

RustPython:

[code]

[2019-08-14 12:17] windelbouwman opened #1247 "property.__doc__ cannot be assigned"
Given a property like this:

[code]

In CPython I can do this:

[code]

In Rustpython I cannot:
[code]

The testcase is already present (and commented out) in the file `tests/snippets/property.py`.

[2019-08-14 17:23] windelbouwman opened #1250 "Implement __sizeof__ properly"
As discussed in PR #1172 , implementing `__sizeof__` correctly is far from trivial. It might be an option to create a memory usage querying interface in the rust `std` crate, but this might be a long shot.

Any other ideas?

[2019-08-14 18:19] Lynskylate commented on #1230
I try to fix RustPython/RustPython#1241, but I met some trouble. I simplified the code in enum.py that caused the error.
[code]

[2019-08-15 02:54] corona10 opened #1254 "[PyCon Sprint KR Good first bug] Ellipsis.__reduce__() not working"
## CPython
[code]

## RustPython
[code]

[2019-08-15 03:52] yjhmelody commented on #1228
@windelbouwman
[code]
Some cases did not be fixed.

[2019-08-15 05:04] #1190 closed

[2019-08-15 05:06] #1247 closed

[2019-08-15 05:16] pbzweihander commented on #1254
I will take a look! :hand:

[2019-08-15 05:53] coolreader18 opened #1263 "[good first issue] implement os.access"
## Feature

`os.access` lets you check to see whether a user has access to a file or not. It is used by a few libraries in the standard library, namely `webbrowser`, which is depended on by `antigravity`, which is just a fun one IMO.

## Python Documentation

https://docs.python.org/3/library/os.html#os.access

## Implementation

You can look at using [`std::fs::Permissions`](https://doc.rust-lang

[2019-08-15 06:16] pbzweihander opened #1264 "Cannot import `__importlib_util` while running `pytest`"
[code]

While running `test_cpython_whats_left_modules` test case, my cpython fails to import `__importlib_util`.

I'm using Arch Linux with Python 3.7.4. I don't think this is RustPython's bug, but it's little annoying that not all test cases pass.

[2019-08-15 06:35] coolreader18 commented on #1264
Interesting. Have you set your `PYTHONPATH` or `RUSTPYTHONPATH` environment variable to the RustPython `Lib` directory? And did you make sure that your python environment was clean when you ran `whats_left.sh` or `tests/not_impl_gen.py`? And, can you see if `__importlib_util` is in the generated file `tests/snippets/whats_left_modules.py`?

[2019-08-15 06:55] pbzweihander commented on #1264
My environment variables were clean:

[code]

Running `pytest` with `RUSTPYTHONPATH` variable also fails.

- `RUSTPYTHONPATH=Lib pytest` fails
- `RUSTPYTHONPATH=../Lib pytest` fails
- `RUSTPYTHINPATH=/absolute/path/to/rustpython/Lib pytest` fails, too.

When I set `PYTHONPATH` to `Lib`, it fails too:

[code]

[2019-08-15 06:57] coolreader18 commented on #1264
Ah, I'm having the same issue. I'll look into it on my machine then.

[2019-08-15 07:00] coolreader18 commented on #1264
Ah, it's that it's specifically importing the absolute path of the RustPython module. I can just push a quick fix to master to try/except the `__importlib_util` module and otherwise `import importlib.util as __importlib_util`.

[2019-08-15 07:08] coolreader18 commented on #1264
Hmm, nevermind. It looks like it just doesn't like there being a module that is in RustPython's Lib dir and not CPython's, as it tries to import every single module that is in `RustPython/Lib` by name rather than path. I believe @youknowone is working on importlib now, though, so this should be a short-lived problem and we should be able to get rid of the `__importlib_util` hack.

[2019-08-15 07:21] HyeonuPark opened #1269 "Determinism and compatibility of random module"
Should `random.random()` always be same when same `random.seed()` is applied? Should this be same across interpreter process? Should this be same across RustPython version? Should this be same with how CPython does?

Python document states this in https://docs.python.org/3/library/random.html#notes-on-reproducibility

`random.seed()` takes `version` argument which can be 1 or 2.

[2019-08-15 11:12] Nimpruda commented on #1263
Hi,
I'd like to try and implement this but i'm not sure how to proceed and where to put it. I guess it's in vm/src/stdlib/os.rs ?

[2019-08-15 17:16] #1254 closed

[2019-08-15 17:36] Lynskylate commented on #778
I met same trouble as you when I try to import enum.py. I simplify the code.
[code]

[2019-08-15 18:16] Nimpruda commented on #1263
https://github.com/Nimpruda/RustPython/commit/6f78bca8ee41e33728ceaa180bb455050931b343
Would something like that do the trick for the R_OK and F_OK? I'm not sure how I am supposed to use vm tho.

[2019-08-15 22:03] mahmoud opened #1279 "ReferenceError instead of NameError?"
## Feature

When toying around with the demo, I saw that `ReferenceError` is raised when referring to an undefined variable.

[code]
## Python Documentation

While on the surface this reads fine, `ReferenceError`s are raised in the context of `weakref` references which "go away". ReferenceError's docstring says: "Weak ref proxy used after referent went away."

CPython3 (and 2) uses NameErrors:

[c

[2019-08-15 23:35] coolreader18 commented on #1279
Ah, no, it's because `rustpython_wasm` converts errors to Javascript errors when they're thrown, and the demo just displays those errors. The `ReferenceError` there is actually a Javascript ReferenceError ([mdn](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ReferenceError))

[2019-08-15 23:41] mahmoud commented on #1279
Ah, I was guessing something similar might be in effect.

[2019-08-16 01:38] kluid commented on #1263
@Nimpruda If you feel free, Can I try to implement os.access function roughly?

[2019-08-16 15:31] Lynskylate commented on #1230
Incompact example code for RustPython object's\ _\_new\_\_.
[code]
RustPython:
[code]
CPython
[code]

[2019-08-16 21:59] #1263 closed

[2019-08-17 14:53] corona10 opened #1295 "MacOS build fail due to getgroups"
[code]

[2019-08-17 14:53] corona10 commented on #1295
I am working on this issue.

[2019-08-18 09:12] #1295 closed

[2019-08-18 09:16] windelbouwman commented on #778
I stumbled upon the implicit `__class__` variable. This page might be related: https://www.python.org/dev/peps/pep-3135/

[2019-08-18 18:25] youknowone opened #1300 "try-else without except clause is illegal"
## Feature

The code is SyntaxError in cpython, but legal in RustPython

[code]

## Python Documentation

https://docs.python.org/3/tutorial/errors.html#handling-exceptions

[code]

[2019-08-18 21:02] youknowone opened #1302 "Name resolving error for methods"
## Feature
[code]

this is working for CPython but stack overflow(caught by `assert (not hits)`) in RustPython

[2019-08-18 21:58] coolreader18 commented on #1302
I think this is because we very simply treat a class as a scope, rather than as a store for attributes in the build class stage but not when you're using methods.

[2019-08-19 06:37] windelbouwman commented on #1300
Nicely spotted! I fixed it in the grammar file.

[2019-08-19 06:39] windelbouwman commented on #1302
Agreed, this is a scoping thing which is obviously wrong.

[2019-08-19 07:18] windelbouwman opened #1306 "try-return-finally does not behave properly"
This code does not behave as expected:

[code]

Should print bar, but it does not.

[2019-08-19 08:14] windelbouwman commented on #1302
@cthulahoops what is your view on this?

[2019-08-19 15:50] #1300 closed

[2019-08-19 17:52] Lynskylate opened #1310 "getfileno error before connect or bind"
## Feature
The socket object is actually initialized after using connect or bind function, so we can't get fileno directly. And this brings some trouble for adding setsocketopt method.
e.g:
[code]
Maybe we should create a raw socket,  and convert it to TcpListener when calling bind method.

[Socket2](https://github.com/alexcrichton/socket2-rs) looks great, but it's not very popular.

[2019-08-22 05:20] posutsai commented on #1176
@palaviv
I start with `setsockopt` function. However, I meet issues at the beginning and I can't find a great existing solution on google. I would like to hear your comment or any suggestion.

According to the document on the official [Python website](https://docs.python.org/3/library/socket.html#socket.socket.setsockopt), `setsockopt` takes three or four arguments. However, as I know, Rust doesn'

[2019-08-22 10:24] pradyunsg opened #1317 "Suggestion: Look at Beeware's Ouroboros"
https://beeware.org/project/projects/libraries/ouroboros/ is an implementation of a substantial portion of the Python standard library, in Python.

[2019-08-23 14:52] windelbouwman commented on #1176
Hi @posutsai ,

Your best option at this point would be to use `OptionalArg` in some way like this:

[code]

We did not yet build function polymorphism macros into rustpython, and rust does not support it, so this is currently the way to go forwards.

[2019-08-23 15:12] #1228 closed

[2019-08-25 17:28] windelbouwman commented on #1317
Hi @pradyunsg ,

Thank you for this suggestion! We already have a reference to this project in the readme file. For now, we take the approach of copy paste from the cpython library.

I will close this issue for now, thanks for your suggestion! Feel free to re-open if you think this needs to be discussed further.

[2019-08-25 17:28] #1317 closed

[2019-08-27 11:26] cthulahoops commented on #1302
Yes, definitely a scoping bug, here's the simple example:

[code]

It's weird because we end up with two different scopes, the one captured by ```def``` and ```class```, and the one used by other code.

[2019-08-27 20:19] #1306 closed

[2019-08-27 20:51] windelbouwman commented on #1302
It appears the scope which is used during runtime is different then the scope used during construction of the class.

[2019-08-28 07:07] cthulahoops commented on #1302
I think the fix is to tag the scope as an attribute scope and then the function/class/lambda def can check and remove it from the scope for the function.

I was wondering if we can have the compiler generate slightly different code for declarations inside classes and avoid the work at runtime, but I don't think that works:

[code]

[2019-08-28 12:03] windelbouwman commented on #1302
I think the trick is to assign proper tags to scopes.

This documentation gives a hint already: https://docs.python.org/3/library/symtable.html?highlight=symtable#symtable.symtable

I will check it out further.

[2019-08-30 05:41] windelbouwman commented on #1302
I tried to search through cpython, micropython and gpython, but I could not find where this behavior is implemented. Should it be implemented in the compiler, bytecode, during runtime?

[2019-08-30 05:54] windelbouwman commented on #1302
Maybe the trick lies within the build_class builtin method?

[2019-08-30 14:08] seeeturtle commented on #1058
Anybody working on it?

[2019-08-30 14:47] coolreader18 commented on #1058
We do have a `re` module, but it uses the Rust `regex` crate to do Regex and is incompatible with Python's Regex engine, `sre`. There is a branch `coolreader18/sre`  where I began to translate the C code to Rust, but it's not at all close to done yet. If you'd like, you could contribute to translating there, or if you have your own idea or method of translating CPython's `_sre.c` then you could do

[2019-08-31 09:01] cthulahoops commented on #1302
I don't think the built in can do it alone. I think it has to be in the runtime handling of function def (etc.), but I'm not sure.

[2019-08-31 14:34] cthulahoops opened #1333 "RustPython infers global scope when scope should be unknown."
RustPython

[code]

CPython
[code]

[2019-08-31 14:35] cthulahoops commented on #1333
(Issue reporting things incompatibility == feature?)

[2019-08-31 15:57] Riey opened #1335 "rustpython-vm compile failed with cursive"
![Screenshot_20190901_005242](https://user-images.githubusercontent.com/14910534/64066310-f5848c80-cc52-11e9-80d5-e3d12e8c80dd.png)

Is it possible to raise the chrono version to 0.4.7?

[2019-09-01 15:41] coolreader18 commented on #1333
@cthulahoops I made that label, I figured that incompatibilities represent _Python_ features that we need to add/fix.

[2019-09-01 15:42] coolreader18 commented on #1302
What if we checked the type of the surrounding scope in the `MakeFunction`  instruction?

[2019-09-03 23:15] Tom1380 commented on #1335
What reasons might stop us from raising it?

[2019-09-03 23:16] Tom1380 commented on #1335
I ran the tests with crono set to 0.4.7 and they pass.

[2019-09-04 00:17] coolreader18 commented on #1335
Sorry for not looking into this issue earlier; you should be able to bump the chrono version. Feel free to make a PR for it if you want, otherwise I could do it in a bit.

[2019-09-04 02:37] Tom1380 commented on #1335
This should be closed @coolreader18.

[2019-09-04 03:28] #1335 closed

[2019-09-05 14:58] vazrupe opened #1342 "module 'sys' has no attribute '_framework' (mac)"
## Feature
<img width="223" alt="스크린샷 2019-09-05 오후 8 58 13" src="https://user-images.githubusercontent.com/4777069/64339899-e9684880-d01f-11e9-8c32-ebe5d79202a1.png">

[code]

RustPython and system Python have the following attributes:
[code]

## Python Documentation

This attribute represents the name of [the framework bundle](https://en.wikipedia.org/wiki/Bundle_(macOS)#macOS_framework_

[2019-09-06 14:10] Riey opened #1345 "'is' keyword not working"
## Feature

[code]

In CPython this is True but I get False in RustPython

## Python Documentation

[2019-09-06 17:31] coolreader18 commented on #1345
This is because we don't have [string interning](https://docs.python.org/3/library/sys.html#sys.intern), which is done by default for string less than 20 characters in length, I believe.

[2019-09-06 18:57] cthulahoops commented on #1345
I'd add that this is an implementation detail, so there's no requirement that we match CPython behaviour here. We probably will want string interning, but we don't have to.

[2019-09-06 20:48] #1345 closed

[2019-09-06 23:11] isidentical opened #1346 "PEP 487 (__init_subclass__, __set_name__)"
## Feature

`__init_subclass__`, `__set_name__`

## Python Documentation

https://docs.python.org/3/reference/datamodel.html#object.__init_subclass__
https://docs.python.org/3/reference/datamodel.html#object.__set_name__

[2019-09-06 23:12] isidentical commented on #1147
for `range.__init_subclass__`, check #1346

[2019-09-06 23:13] isidentical commented on #736
for `bytes.__init_subclass__`, check out #1346

[2019-09-06 23:56] isidentical opened #1348 "Seek Flags"
## Feature

`os.SEEK_SET`, `os.SEEK_CUR`, `os.SEEK_END`

## Python Documentation

https://docs.python.org/3.9/library/os.html#os.SEEK_SET

[2019-09-07 02:25] #1348 closed

[2019-09-07 09:45] HyeockJinKim opened #1351 "list += operator generates Error"
## Feature

[code]
The code above generates the following error:
(list += operator)
### actual
[code]
### expected
[code]

[2019-09-07 09:46] HyeockJinKim commented on #1351
If this is issue is valid, can I take this issue?

[2019-09-07 14:16] coolreader18 commented on #1351
Sure thing!

[2019-09-08 01:18] HyeockJinKim opened #1353 "When call global twice for the same variable, SyntaxError occurs."
## Feature

[code]
The code above generates the following error:
(when call global twice for the same variable, an error occurs.)
### Actual result
[code]
### Expected result
[code]

[2019-09-08 01:19] HyeockJinKim commented on #1353
If this issue is valid, can I take it?

[2019-09-08 02:04] coolreader18 commented on #1353
Yup!

[2019-09-08 03:59] #1351 closed

[2019-09-08 15:02] HyeockJinKim opened #1356 "locals() dict share actual local variable"
## Feature

[code]
The code above generates the following error:
(locals dict share actual local variable)

### Actual Result
[code]
### Expected Result
[code]

[2019-09-08 15:03] HyeockJinKim commented on #1356
If this issue is valid, can I take it?

[2019-09-08 22:01] corona10 commented on #1353
@coolreader18, @windelbouwman  cc @youknowone

FYI, @HyeockJinKim is a mentee of OSS program named `Contributhon` of Korea government.
It's a similar program like GSoC.
I am mentoring @HyeockJinKim for a month.

There are also some people(6-10) who want to contribute RustPython project for the first time.
so they need our help too.

If the members of RustPython project members are okay
Can we add

[2019-09-08 22:19] coolreader18 commented on #1353
That sounds great, I'll add it right now.

[2019-09-09 14:47] corona10 opened #1358 "[Contributhon2019] Implement sys._git"
sys._git is not implemented yet.
This feature can be easily implemented by using
`option_env!("RUSTPYTHON_GIT_HASH")``

[code]

p.s  @coolreader18 @youknowone
This issue needs a `contributhon 2019` label.

[2019-09-09 14:52] ChJR commented on #1358
May I take this issue?

[2019-09-09 14:54] corona10 commented on #1358
@ChJR Please go a head

[2019-09-09 15:55] coolreader18 commented on #1358
You could also use the [`version`](https://github.com/RustPython/RustPython/blob/master/vm/src/version.rs) module in `rustpython_vm`.

[2019-09-09 16:11] isidentical commented on #1346
`__init_subclass__` => #1357

[2019-09-10 13:00] HyeockJinKim opened #1360 "nonlocal declaration doesn't generate syntax error"
## Feature
[code]
This code generate syntax error, but RustPython doesn't.
(nonlocal declaration for variable in upper scope problem)

### Expected Result
[code]
### Actual Result
[code]

[2019-09-10 13:00] HyeockJinKim commented on #1360
If this issue is valid, can I take this?

[2019-09-10 13:49] coolreader18 commented on #1360
Yep!

[2019-09-10 14:27] corona10 opened #1361 "Implement rest of itertools API"
## Feature
There are some APIs does not implement yet.
Let's implement them

## Python Documentation
https://docs.python.org/3/library/itertools.html

[2019-09-10 14:28] seeeturtle commented on #1361
can i try it?

[2019-09-10 14:31] corona10 commented on #1361
@seeeturtle
Sure go ahead.
But please leave a comment which API you will work with so that rest of APIs can be implemented by other Contributhon2019 participants.

[2019-09-10 14:33] corona10 commented on #1361
@coolreader18
 Can you assign this issue to @seeeturtle ?
(There may be additional mentees who want to work with)

[2019-09-10 14:38] coolreader18 commented on #1360
Nevermind, it should be as simple as moving the name registration for functions to after processing the body

[2019-09-10 14:38] seeeturtle commented on #1361
sure, i'll try to implement `Combinatoric iterators`.

[2019-09-10 18:00] #1342 closed

[2019-09-11 14:19] HyeockJinKim opened #1363 "Overflow problem of slice function of type range"
## Feature
[code]
When slice of range overflows, the entire range is returned.

### Expected result
[code]

### Actual result
[code]

[2019-09-11 14:21] HyeockJinKim commented on #1363
If this issue is valid, can I try it?

[2019-09-11 14:43] coolreader18 commented on #1363
Yep, go ahead!

[2019-09-11 16:52] HyeockJinKim opened #1365 "unsupported operand type of str type make panic"
## Feature
[code]
unsupported operand type of str type make panic.
I think it should generate only TypeError, not panic.

### Expected Result
[code]

### Actual Result
[code]

[2019-09-11 16:53] HyeockJinKim commented on #1365
If this issue is valid, Can I try it?

[2019-09-11 17:04] coolreader18 commented on #1365
Yep!

[2019-09-11 17:05] #1360 closed

[2019-09-11 21:24] rls1004 opened #1368 "Non-default arg that follow default arg make panic"
## Feature
[code]
A panic occurs when a non-default argument follows the default argument.
I think it should generate SyntaxError, not panic.

### Expected Result
[code]

### Actual Result
[code]

[2019-09-11 21:29] rls1004 commented on #1368
Can I try it?

[2019-09-11 21:31] coolreader18 commented on #1368
Yep, go ahead! Are you also with Contributhon 2019?

[2019-09-11 22:43] #1365 closed

[2019-09-12 07:33] rls1004 commented on #1368
no, I'm not

[2019-09-13 08:56] xarus01 commented on #116
I'd like to give a try on this issue.
I guess constructor for PyFuncArgs needs to check if the key already exists and raise SyntaxError

[2019-09-13 09:07] #1046 closed

[2019-09-13 12:26] coolreader18 commented on #116
I think because it's a syntax error, you should do it in the compiler.

[2019-09-13 14:24] coolreader18 commented on #1264
Ok, should be fixed now. Try rerunning `whats_left.sh` and then `pytest` .

[2019-09-14 00:58] xarus01 opened #1373 "[::-1] returns wrong index for 'range' type"
## Code
[code]

## Expected
[code]

## Result
[code]

[2019-09-14 01:36] xarus01 opened #1374 "Infinite recursion cause segfault, not RecursionError"
## Code

[code]

## Expected
[code]

## Result
[code]

[2019-09-14 20:55] fprijate opened #1379 "wrong str.format()"
i=1
print(f'{i:04d}')

prints 1 instead of 0001

[2019-09-16 03:33] #1363 closed

[2019-09-16 05:01] #1264 closed

[2019-09-16 07:08] lntuition opened #1382 "str.format() error with iterable object"
# Feature
[code]

str.format is not working with iterable object.

# Actual result
[code]

# Expected result
[code]

[2019-09-17 08:45] Thrimbda commented on #1361
hello, can I try `itertools.groupby`?

[2019-09-17 12:30] coolreader18 commented on #1361
Yep, go ahead!

[2019-09-17 17:53] #1353 closed

[2019-09-17 23:01] HyeockJinKim opened #1385 "Indentation Error does not occur when no value is entered after for"
## Feature
### Expected Result
[code]

### Actual Result
[code]

In the python3 shell, if no value is entered when `Indentation` is required, (such as for: or if: or def, etc...), an `IndentationError` should be raised.

[2019-09-18 00:28] coolreader18 commented on #1385
Hmm, maybe we could check if the previous syntax error was in the same place as the current one, and if it was then give an error?

[2019-09-20 10:01] HyeockJinKim opened #1389 "__eq__ of range problem"
## Feature
### Expected Result
[code]

### Actual Result
[code]

The __eq__ function of range is invalid.
It is not enough just to compare start, stop, and step values.

[2019-09-20 10:01] HyeockJinKim commented on #1389
If this issue is valid, can I try this issue?

[2019-09-20 13:45] coolreader18 commented on #1389
Yep, go ahead!

[2019-09-20 14:18] rls1004 opened #1390 "Display issue of Unsupported Characters in chr()"
## Feature

### Expected Result
[code]

### Actual Result
[code]

In Python 3, unsupported characters are output as hexadecimal values.

[2019-09-20 14:52] rls1004 opened #1391 "ValueError for strings containing whitespace in float()"
## Feature

### Expected Result
[code]

### Actual Result
[code]

If the string contains `whitespace`, a ValueError occurs even though it can be converted to a float.

[2019-09-20 18:33] rls1004 opened #1394 "memoryview hash problem"
## Feature

### Expected Result
[code]

### Actual Result
[code]

The hash should be defined as hash(m) == hash(m.tobytes())

[2019-09-21 14:41] #1391 closed

[2019-09-21 14:45] #1389 closed

[2019-09-21 19:03] immersinn opened #1395 ""entry level" contributor issues?"
Saw the project and wanted to contribute. Was wondering if there were some easier issues in the tracker that a new contributor could work on to become familiar with the project. Perhaps an issue label for these types of issues?

[2019-09-21 19:19] dralley commented on #1395
Yes, please.  This is something that the Servo project does extremely well.  It's a great way to draw in new contributors.

[2019-09-21 19:29] palaviv commented on #1395
Hi @immersinn and @dralley, We have a few issue tagged with the ["good first issue"](https://github.com/RustPython/RustPython/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) tag. In case you would like some more guidance please join the gitter channel and we would gladly help :smiley:

[2019-09-22 02:30] dralley commented on #1373
Another slightly more complicated example:

RustPython

[code]

CPython

[code]

I'd love to work on this as a first issue, if others wouldn't mind.

[2019-09-22 06:08] sanxiyn opened #1396 "sys.version_info should return target CPython version, not RustPython version"
Currently `sys.version_info` returns "0.1.0", which is a version of RustPython. This is incorrect, it should be `sys.implementation.version`, see https://docs.python.org/3/library/sys.html#sys.implementation.

Practically speaking, widely used `six` library uses `PY3 = sys.version_info[0] == 3` to test whether an implementation is Python 2 or 3. RustPython is currently detected as not being Python

[2019-09-22 06:09] vazrupe commented on #1373
can I take this?

[2019-09-22 06:42] sanxiyn opened #1397 "struct.pack should support repeat count"
`struct.pack('3B', 65, 66, 67)` should return `b'ABC'`. Currently it raises `ValueError: Illegal format code '3'`.

[2019-09-22 07:28] corona10 commented on #1361
I am working on `itertools.cycle` :)

[2019-09-22 07:29] pitachips commented on #1361
I am working on `itertools.compress`

[2019-09-22 10:33] rls1004 opened #1401 "panic at bytes()"
## Feature

### Expected Result
[code]

### Actual Result
[code]

Code to check for negative size should be added.

[2019-09-22 13:09] jithendaraa opened #1403 "Problem running `cargo run demo.py`"
I followed the README.md to get this project working on my laptop, however I got around 7 errors after executing cargo run demo.py

 I am new to Rust, can someone help resolve this problem?

**error[E0616]: field `value` of struct `obj::objstr::PyString` is private**
   **--> vm\src\stdlib\os.rs:856:35**
    **|**
**856 |     let ret = match fs::metadata(&dst.value) {
    |

[2019-09-22 13:45] rls1004 opened #1404 "An error occurs when deleting an attribute of a class."
## Feature

### Expected Result
[code]

### Actual Result
[code]
Can't delete attribute of class.

[2019-09-22 15:34] dralley commented on #1373
I've already started but if I'll let you know if I give up on it.  I know where the problem is, though - ```PyRange::getitem```

[2019-09-22 16:23] Riey commented on #1403
I've made PR for this issue #1399 and waiting for answer

[2019-09-22 16:39] Riey commented on #1403
My PR has merged I believe this issue is solved

[2019-09-22 18:41] dralley commented on #1373
Making progress.  Found another range slicing bug which I will also try to fix.

RustPython

[code]

CPython

[code]

[2019-09-22 19:21] immersinn commented on #1395
Awesome, thanks for the pointer!

[2019-09-22 19:21] #1395 closed

[2019-09-22 19:30] coolreader18 commented on #1403
Yep, try pulling from master and running again @jithendaraa.

[2019-09-23 00:43] vazrupe commented on #1401
can I take this?

[2019-09-23 06:41] lntuition opened #1405 "int type casting with negative base value do not raise valueError"
# Feature
[code]

if base is negative value, it should be valueError

# Actual result
[code]

# Expected result
[code]

[2019-09-23 11:43] lntuition opened #1408 "int type casting with radix and larger base value is wrong"
# Feature
[code]

If base is large value, radix should be considered value.
With above example, it is b1 with base 12(not 1 with base 2)

# Actual result
[code]

# Expected result
[code]

[2019-09-23 14:56] coolreader18 commented on #1401
Yep, go ahead!

[2019-09-23 17:53] immersinn commented on #1175
I'm going to take a stab at `chown` and `chroot`.

Also, as a general question, is the current goal to match [CPython functionality here?](https://github.com/python/cpython/blob/3.8/Lib/os.py)

[2019-09-23 18:24] coolreader18 commented on #1175
Because Rust's cross-platform support is so much better than C's, we decided to implement a single `_os` module rather than the separate `posix` and `nt` modules that CPython has.

[2019-09-23 18:29] immersinn commented on #1175
Ah, gotcha..so for `chown` and `chroot` methods, i'd reference the functionality and behavior in `posixmodule.c`

[2019-09-23 18:32] coolreader18 commented on #1175
Yep, and you can use the `#[cfg(unix)]` attribute to make sure they're only available on unix.

[2019-09-23 18:42] immersinn commented on #1175
cool cool, thanks!

[2019-09-23 20:33] dralley commented on #1373
@vazrupe Sorry!  But, I would love for you to review my PR :)

[2019-09-23 21:54] dralley commented on #251
It looks like, currently, as per the results of ```dir()```:

Python 3.7 ```list()``` has these methods that RustPython does not have or expose:

'__init_subclass__',
 '__reduce__',
 '__reduce_ex__',
 '__sizeof__',

And RustPython ```list()``` has these methods that CPython does not have or expose:

'__bool__',
 '__dict__',

Although, obviously Python 3.7 lists can be interpreted as bools so I'm n

[2019-09-24 02:49] dralley commented on #1361
What is "taken" and who it is assigned to.  I will try to keep this updated including what gets completed.

## Infinite Iterators

- [ ] ```itertools.count()```
- [x] ```itertools.cycle()``` @corona10
- [x] ```itertools.repeat()``` @dralley

## Iterators terminating on the shortest input sequence

- [x] ```itertools.accumulate()``` @j30ng
- [ ] ```itertools.chain()```
- [ ] ```itertools.chain.from

[2019-09-24 04:11] dralley opened #1411 "Replace uses of mem::uninitialized() with MaybeUninit<T>"
```mem::uninitialized()``` is being deprecated in Rust 1.38 for being able to cause undefined behavior

https://doc.rust-lang.org/std/mem/fn.uninitialized.html

[2019-09-24 04:16] coolreader18 commented on #1411
This is difficult, because we're using `mem::uninitialized` in a place where it can't easily be replaced with `MaybeUninit`, and the benefits we'd gain from maybe figuring out some way around it (a duplicate PyObject type but with `MaybeUninit` for fields?) wouldn't necessarily be worth it.

[2019-09-24 04:34] dralley opened #1412 "Use string internment for constant strings"
CPython and many other VMs do this, as it can save memory.  Mostly it is a feature, but it results in slightly different behavior of the ```is``` keyword between RustPython and CPython.  Theoretically if someone were relying on that behavior (not terribly common I would imagine, but I'm sure some people do) then their would not work the same on RustPython.

https://medium.com/@bdov_/https-medium-c

[2019-09-24 16:06] #1373 closed

[2019-09-24 23:39] dralley commented on #322
Looks like it's fixed for strings, specifically, but the messages are still different in general

CPython:
[code]

RustPython

[code]

[2019-09-24 23:40] dralley commented on #322
Maybe change the name of this issue to match?

[2019-09-25 07:55] #1237 closed

[2019-09-25 07:58] palaviv commented on #1216
@coolreader18 I think this was fixed. Can we close this?

[2019-09-25 07:58] #1090 closed

[2019-09-25 08:06] #659 closed

[2019-09-25 08:07] #669 closed

[2019-09-25 12:18] lntuition opened #1415 "int type casting which number has radix and front underscore is fail"
# Feature
[code]

if some number has radix and front underscore, type casting fail

# Actual result
[code]

# Expected result
[code]

[2019-09-25 12:22] lntuition commented on #1415
I think this issue should be fix same part as #1408. So I will make one PR for fix #1405 and #1408 both.

[2019-09-25 13:42] coolreader18 commented on #1216
Yeah, this was fixed a while ago.

[2019-09-25 13:42] #1216 closed

[2019-09-25 13:55] windelbouwman commented on #1412
In general I think this is a good idea. Both for performance reasons as well as for CPython compliance. Is there any limit to the amount of strings which are interned?

[2019-09-25 15:15] #1405 closed

[2019-09-26 02:19] dralley commented on #578
Rust uses a sorting algorithm that is basically a variation of Timsort.

https://doc.rust-lang.org/std/primitive.slice.html#method.sort

[2019-09-26 02:31] dralley opened #1416 "Wrong error message when calling a non-callable object"
CPython

[code]

RustPython

[code]

[2019-09-26 03:29] dralley commented on #1412
I don't think so.  I have not looked deeply at the CPython implementation yet, but it seems like the vast majority of compile-time constants (apart from some exceptions) are interned.  I'm not sure if *any* strings are interned at runtime.

https://rushter.com/blog/python-strings-and-memory/

[2019-09-26 03:38] dralley opened #1417 "Unicode string indexing differences"
Courtesy of the ["big list of naughty strings"](https://github.com/minimaxir/big-list-of-naughty-strings/):

CPython

[code]

RustPython

[code]

[2019-09-26 03:41] dralley commented on #1417
Courtesy of the ["big list of naughty strings"](https://github.com/minimaxir/big-list-of-naughty-strings/):

CPython

[code]

RustPython

[code]

[2019-09-26 03:47] coolreader18 commented on #1412
Strings passed to `sys.intern()` are, but the VM doesn't decide to intern any strings other than constants.

[2019-09-26 03:50] coolreader18 commented on #1417
I think the issue is that we're slicing at graphemes instead of `char`s, e.g. the Hebrew vowels and consonants are separate chars but a consonant with a vowel is a single grapheme.

[2019-09-26 03:52] coolreader18 commented on #1417
e.g. `len(str[n])` should always be `0`.

[2019-09-26 04:19] vazrupe opened #1419 "Unpack multiple dicts with the same key should be a TypeError"
## Feature
[code]

## CPython
[code]

## RustPython
[code]

[2019-09-26 08:45] #1401 closed

[2019-09-26 14:14] dralley commented on #1412
Good point https://docs.python.org/3/library/sys.html#sys.intern

[2019-09-26 14:46] lntuition opened #1421 "No argument with float function do not return 0.0"
# Feature
[code]

If no argument is given, float function have to return 0.0

# Actual result
[code]

# Expected result
[code]

[2019-09-26 14:51] lntuition commented on #1421
Wrong label, but i do not have auth. If someone who can change label see this issue, please change label `RFC` to `feat`. thank you

[2019-09-26 15:18] HyeockJinKim opened #1422 "Integer problem starting with 0"
## Feature
[code]

Integer starting with 0 should raise SyntaxError.
I think it should be fixed in lexer.rs

### Expected Result
[code]
### Actual Result
[code]

[2019-09-26 22:30] dralley commented on #1421
Addressed in PR

[2019-09-26 23:26] dralley commented on #1422
lexer.rs sounds right.

Here is the CPython code that handles it https://github.com/python/cpython/blob/master/Parser/tokenizer.c#L1441

[2019-09-27 02:25] dralley opened #1425 "Implement the help() builtin"
## Expected

Brings up a docs page for the object passed in

[code]

## Actual

[code]

## Python Documentation

https://docs.python.org/3/library/functions.html#help

[2019-09-27 02:51] lntuition commented on #1421
Oh, I was going to start now. But someone take this issue :)

[2019-09-27 03:04] coolreader18 commented on #1425
This is added by the site module on startup (which we have), we just aren't able to import `pydoc` yet so it doesn't work.

[2019-09-27 03:08] dralley commented on #1417
@coolreader18 I'm going to start working on this.  It's more than just indexing, it's slicing too.  Could you validate my approach before I use it in more places?

https://github.com/RustPython/RustPython/compare/master...dralley:fix-strings

[2019-09-27 04:10] coolreader18 commented on #1417
Yep, LGTM, I was thinking `.chars()` as well.

[2019-09-27 04:10] #1421 closed

[2019-09-27 08:06] #116 closed

[2019-09-27 20:05] #1379 closed

[2019-09-28 07:24] lntuition opened #1427 "int.from_bytes is not working with argument keyword"
# Feature
[code]

int.from_bytes is not working with argument keyword

# Actual result
[code]

# Expected result
[code]

[2019-09-28 07:31] sanxiyn commented on #1419
Note that this is an error only for calls. The specification is [PEP 448: Additional Unpacking Generalizations](https://www.python.org/dev/peps/pep-0448/).

In particular, this is not an error.

[code]

[2019-09-28 07:37] lntuition commented on #1427
While resolving this issue, I also find `int.to_bytes` have similiar problem. So I will make another patch for resolving error in `int.to_bytes`

[2019-09-28 19:08] #1422 closed

[2019-09-28 19:09] windelbouwman commented on #1425
So the challenge becomes to import pydoc?

[2019-09-28 20:29] coolreader18 commented on #1425
Yep!

[2019-09-29 02:37] HyeockJinKim opened #1431 "Implement slice method"
## Feature
Currently, the `__repr__`, comparison, and` indices` functions are not implemented in slice.

### Expected result
[code]

### Actual result
[code]

[2019-09-29 04:33] kluid commented on #1382
Here.
https://github.com/RustPython/RustPython/blob/8ac743dd6ecc3bedcbf44cab4289583e3187ddde/vm/src/format.rs#L514-L546

Literlal `0[0]` and `0[1]` retruned as `FormatPart::KeywordSpec("0[0]", "")` and `FormatPart::KeywordSpec("0[1]", "")`.

[2019-09-29 05:09] kluid commented on #1382
Here.
https://github.com/RustPython/RustPython/blob/af10174cf8ae66ccd7704f295247261268a5c38e/vm/src/format.rs#L514-L546

format expr `{0[0]}` is passed as parameter, this function returns `Ok(FormatSpec::KeywordSpec("0[0]", ""))`.
I think `{0[0]}` should be parsed to IndexSpec, and `[0]` is evaluated by '__getitem__'.

[2019-09-29 05:53] Space0726 commented on #1361
Hello, Can I try itertools.zip_longest()?

[2019-09-29 06:12] lntuition commented on #1382
thank you for your comment :) I was considered that we need to make another spec...
I will resolve this issue after resolving other issue from `objint`

[2019-09-29 06:30] pitachips commented on #1416
Can I fix the message?

[2019-09-29 06:32] Writtic commented on #1358
@ChJR
How is it going? I suppose this issue is little bit dragged, So may I take this issue?

[2019-09-29 06:37] ChJR commented on #1358
The PR of this issue will be added today. I am working on some minor issues of this.

[2019-09-29 07:36] #1427 closed

[2019-09-29 10:11] lntuition opened #1437 "int.from_byte do not working with array.array byte like object"
# Feature
[code]

int.from_bytes argument bytes must either be bytes-like object(bytes, bytearray, array.array)
but do not working at passing array.array byte like object

# Actual result
[code]

# Expected result
[code]

[2019-09-29 14:46] #1358 closed

[2019-09-30 12:29] dralley commented on #1416
Sure!

[2019-09-30 12:34] lntuition opened #1440 "int.__new__ with keyword do not working"
# Feature
[code]

`int.__new__` with keyword `x` do not working

# Actual result
[code]

# Expected result
[code]

[2019-09-30 12:34] lntuition commented on #1440
Same as float, bool :)

[2019-10-01 01:44] HyeockJinKim opened #1442 "Many objects do not implement `__ne__`."
## Feature
Many objects implement `__eq__` but do not implement `__ne__`.

### Expected result
[code]

### Actual result
[code]

[2019-10-01 16:39] dralley commented on #1361
No need to ask, just say you're working on it so that others know and don't duplicate work

[2019-10-01 18:09] #921 closed

[2019-10-01 21:35] #1396 closed

[2019-10-01 21:46] dralley opened #1448 "Implement a better __repr__ in impl_pystruct_sequence"
The ```impl_pystruct_sequence``` proc macro needs to implement a custom ```__repr__``` to match CPython.

### Expected
[code]

### Actual
[code]

[2019-10-02 00:01] #1417 closed

[2019-10-02 09:58] HyeockJinKim opened #1450 "Comparison of list does not return an error."
## Feature
Comparison of list does not return an error.

### Expected result
[code]

### Actual result
[code]

https://github.com/RustPython/RustPython/blob/d9cdb32e49f0d18ef58ce0b94bdda1a9b6b9a4a3/vm/src/vm.rs#L1175-L1197

https://github.com/RustPython/RustPython/blob/d9cdb32e49f0d18ef58ce0b94bdda1a9b6b9a4a3/vm/src/obj/objsequence.rs#L305-L343

_ge, _gt, _le, and _lt return errors, but seq_ge, se

[2019-10-02 15:27] #1408 closed

[2019-10-02 15:27] #1415 closed

[2019-10-02 17:14] #1440 closed

[2019-10-02 19:36] dralley commented on #1385
Right now it looks like there is no ```IndentationError``` at all.  Likewise, ```TabError``` doesn't exist.

[2019-10-02 19:58] dralley opened #1453 "SyntaxError is returned instead of TabError"
[code]

### Expected

[code]

### Actual
[code]

[2019-10-02 20:13] dralley commented on #1385
Using the following input from StackOverflow

[code]

### Expected

[code]

### Actual

[code]

[2019-10-02 20:20] dralley opened #1454 "UnboundLocalError is not returned"
[code]

### Expected

[code]

### Actual

[code]

This might be related to #1333

[2019-10-03 02:20] sanxiyn commented on #1440
Ugh, can we revert this? Because `int(x=1)` working is in fact a bug and Python 3.7 fixed it.

[2019-10-03 02:32] coolreader18 commented on #1440
Dang, that sucks. I guess we could just revert the merge of #1444. Sorry @lntuition :slightly_frowning_face:

[code]

[2019-10-03 02:34] coolreader18 commented on #1440
#1456

[2019-10-03 03:18] dralley commented on #302
Maybe I'm missing something, but I can no longer find references to a GIL, interpreter lock, etc. in the RustPython source code.  It's only used in benchmarks.

[2019-10-03 03:20] coolreader18 commented on #302
Yes, the GIL was only referenced when calling to the CPython API for the benchmarks and previously to convert between CPython/RustPython bytecode (but that project is no longer active). In addition, the question of a GIL is a while off since we don't even have multithreading yet. This issue could probably be closed

[2019-10-03 03:21] coolreader18 commented on #302
Discussion for this topic can be found in #362.

[2019-10-03 03:21] #302 closed

[2019-10-03 03:24] dralley commented on #304
The current list is just

[code]

[2019-10-03 03:26] dralley commented on #356
Current status is just

[code]

[2019-10-03 03:27] dralley commented on #567
What's the story here?  I see source code for the OS module but I can't import it.

[code]

[2019-10-03 03:28] dralley commented on #945
Looks like this can be closed

[2019-10-03 03:29] #945 closed

[2019-10-03 03:32] dralley commented on #508
Page is dead :(

Close issue?

[2019-10-03 03:33] dralley commented on #736
Current status, only these are missing

[code]

[2019-10-03 03:34] coolreader18 commented on #567
Have you set your `RUSTPYTHONPATH` environment variable to `.../RustPython/Lib`? Other than that, `os` is fairly compatible I don't think an issue to track the whole module is necessary anymore.

[2019-10-03 03:34] #567 closed

[2019-10-03 03:35] dralley commented on #567
I have not, I somehow missed that part of the readme.  Thanks!

[2019-10-03 03:35] coolreader18 commented on #508
That sucks, @windelbouwman should we close this?

[2019-10-03 04:32] lntuition commented on #1440
Sorry for confusion. I should have tested at python 3.7

[2019-10-03 10:36] windelbouwman commented on #508
Agreed, let's close this issue for now. We can re-open / create a new issue later.

[2019-10-03 10:36] #508 closed

[2019-10-03 10:44] sanxiyn commented on #1368
I took this and fixed it myself because there was no action for three weeks. Hope that's okay.

[2019-10-03 14:48] #1368 closed

[2019-10-04 08:33] jithendaraa opened #1464 "Not able to import modules like numpy or pandas"
I tried importing some stuff like numpy or pandas to parse some kaggle code, but I get errors like No module name `numpy`. Doing a `!pip install numpy` like I would normally do on jupyter notebook doesn't seem to work either. Is there provision to install libraries using pip or any other package manager? Can someone please help with this? Thanks.

[2019-10-04 08:55] #1394 closed

[2019-10-04 09:29] windelbouwman opened #1465 "[RFC] Compress bytecode"
## Summary

We could use gzip like compression on the bytecode to save disk space.

## Detailed Explanation

Right now, we serialize bytecode using the bincode crate. We could use gzip / zlib to compress this data.

I did a local test and was able to compress sunau.rustpython-01.pyc from 73826 bytes to 10494 bytes using gzip.

Benefits for doing this:
- disk usage reduction.
- We embed some byteco

[2019-10-04 11:45] coolreader18 commented on #1464
This project is a work-in-progress Python interpreter written in Rust, and we've barely started gaining enough compatibility with CPython to use the standard library, let alone complex packages like `pandas` or `numpy`. I think you may have found the wrong repository to open your issue in?

[2019-10-04 14:07] #1419 closed

[2019-10-04 18:07] makarchuk commented on #1390
So the actual problem is `__repr__` implementation for `str`, which is different.
`chr` behaves the same, but charachter is represented in shell differently in `cpython` and `Rustpython
cpython:
[code]
RustPython:
[code]

[2019-10-04 18:16] makarchuk commented on #1390
So, the actual implementation of `__repr__` in `cpython` is pretty convoluted: [/Objects/unicodeobject.c#L12701](https://github.com/python/cpython/blob/c02b41b1fb115c87693530ea6a480b2e15460424/Objects/unicodeobject.c#L12701), but I think I will try and make somewhat compatible implementation.

[2019-10-05 01:31] sanxiyn opened #1472 "Code coverage is not being updated"
#1081 disabled per-PR code coverage job, but it seems the intent was to continue to run it, "maybe once a week cron job". But such cron job was never set up and there was no coverage run since, see https://codecov.io/gh/RustPython/RustPython.

cc @coolreader18 @windelbouwman

[2019-10-05 02:38] coolreader18 commented on #1472
I noticed that recently as well, I could set up a cron job right now to run every week; I was thinking that the beginning of the weekend would be good for Redox tests (#1208) and for this as well.

[2019-10-05 02:40] coolreader18 commented on #1472
Alright, the cron job should run right now every week (~02:30 Saturday UTC).

[2019-10-05 02:41] coolreader18 commented on #1472
I'll close this once codecov is updated.

[2019-10-05 03:25] coolreader18 commented on #1472
Alright, [codecov](https://codecov.io/gh/RustPython/RustPython) is updated to the latest commit!

[2019-10-05 03:25] #1472 closed

[2019-10-05 07:18] #1450 closed

[2019-10-05 09:09] makarchuk commented on #1390
I submited a PR (#1470). That was pretty easy thanks to Rust awesomeness in strings manipulation and nice unicode libs

[2019-10-05 13:05] HyeockJinKim opened #1475 "`list += iterable` generate TypeError"
## Feature
In python 3.6, iterable values can be taken as arguments to the `__iadd__` function of the list.
However, Rustpython currently generates an TypeError when `list += iterable` is executed.

### Expected result
[code]

### Actual result
[code]

[2019-10-05 13:56] lntuition opened #1476 "str.format with underscore format is not working"
# Feature
[code]

str.format with underscore format is not working.

# Actual result
[code]

# Expected result
[code]

[2019-10-05 18:54] #1453 closed

[2019-10-05 19:03] makarchuk commented on #1442
Should this be closed?

[2019-10-06 05:29] #1476 closed

[2019-10-06 05:32] #1390 closed

[2019-10-06 06:16] HyeockJinKim commented on #1442
In addition to the objects mentioned above, there are some objects that __ne__ is not yet implemented. (such as float, complex, ...)

[2019-10-06 06:46] #1475 closed

[2019-10-06 07:07] HyeockJinKim opened #1481 "[RFC] Add wiki on how to analyze rustpython using uftrace"
## Summary
I would like to write a way to analyze Rustpython using uftrace.
Where can I write it?

## Detailed Explanation
uftrace is a tool for tracing and analyzing the execution of programs written in C / C ++.

However, it currently support these features for Rust.

We can use uftrace to analyze the execution of RustPython.
https://github.com/namhyung/uftrace/wiki/uftrace-for-RustPython

I wou

[2019-10-06 07:29] HyeockJinKim opened #1482 "hash of range object is not deterministic."
## Feature
Currently, hash of range is not deterministic.
The range's `__hash__` is not implemented, so the object's `__hash__` is called. (it returned id of object)

### Expected result
[code]

### Actual result
[code]

[2019-10-06 08:06] HyeockJinKim commented on #1482
In cpython, use `__hash__` of tuple.
https://github.com/python/cpython/blob/65dcc8a8dc41d3453fd6b987073a5f1b30c5c0fd/Objects/rangeobject.c#L470-L510

I will implement `__hash__` the same way as cpython.

However, Since the hash value of tuple is different from the value of cpython,
the hash value of range seems to be different from the value of cpython.

[2019-10-06 12:05] #1003 closed

[2019-10-06 16:14] coolreader18 commented on #1481
I think the wiki would be a good place for it.

[2019-10-07 01:33] #1437 closed

[2019-10-07 09:45] silmeth commented on #1465
If compression/decompression speed is important, it might be a good idea to look at projects like [zram](https://en.wikipedia.org/wiki/Zram) – used to create virtual compressed swap in RAM to compress it – to increase the amount of available memory in a system (I don’t know other projects like that, but probably there are more).

Since such projects are used to compress and decompress currently us

[2019-10-07 14:55] #1416 closed

[2019-10-07 17:23] HyeockJinKim opened #1490 "mro doesn't have own class"
## Feature
The mro function is an array containing the order in which the functions are checked.
This should include own class.
However, it is not currently included in Rustpython.

### Expected result
[code]

### Actual result
[code]

[2019-10-07 17:30] HyeockJinKim commented on #1490
https://github.com/RustPython/RustPython/blob/c0456370addee7ed37e25cb413e46a14f434600a/vm/src/obj/objtype.rs#L468-L499
My idea is to add the generated PyClass object to its mro vector.
But currently, mro is not mutable and can't be added.

[2019-10-07 17:40] #1482 closed

[2019-10-07 18:55] windelbouwman commented on #1465
Allrighty, I made a concept in #1491 .

[2019-10-08 12:33] HyeockJinKim commented on #1481
Do I have permission to write to the wiki? I can't find the new page button on the wiki.

How can I write a wiki?

[2019-10-08 19:16] #1490 closed

[2019-10-09 03:59] libkluid opened #1495 "Some mixin methods are not implemented in IOBase"
While implementing csv module, I could not test with file object.
Because a file object that returned by open methos is not iterable.
'\_\_iter\_\_' and other mehtods to be implemented

https://docs.python.org/3/library/io.html?highlight=iobase#class-hierarchy

[2019-10-09 10:53] HyeockJinKim opened #1498 "`_` after ` .` of a float does not raise an error."
## Feature
`_` after ` .` of a float does not raise an error.
In cpython, it raises SyntaxError

### Expected result
[code]

### Actual result
[code]

[2019-10-10 12:58] cactorium commented on #1217
I'm down for trying to implement this one! It looks like `libloading` is probably a good place to start

[2019-10-10 22:04] yashaslokesh commented on #1361
I'll work on `itertools.count()`

[2019-10-11 02:15] sanxiyn commented on #1465
Can this be closed?

[2019-10-11 02:43] #1465 closed

[2019-10-11 06:32] #1356 closed

[2019-10-11 08:37] sanxiyn commented on #1385
I implemented IndentationError, but it does not resolve the original issue.

[2019-10-11 10:17] sanxiyn commented on #1454
In fact, there is no UnboundLocalError defined at all.

[2019-10-11 10:50] sanxiyn opened #1513 "Use caret diagnostics for SyntaxError"
Like this:

[code]

Current status:

[code]

[2019-10-11 15:39] #1498 closed

[2019-10-11 15:44] #1404 closed

[2019-10-12 05:10] yashaslokesh commented on #1361
I’ll work on `itertools.chain.from_iterable()` then

[2019-10-12 15:19] alanjds commented on #1132
I proposed a very crude fix on #1514, to be replaced later when needed.

[2019-10-13 10:25] janrg opened #1520 "string representation of floats doesn't use scientific notation"
in cPython:
[code]
in RustPython
[code]

[2019-10-13 11:33] janrg commented on #1520
Also, numbers <~ 1e-16 are formatted as 0.0 by RustPython

[2019-10-13 13:20] janrg opened #1523 "Objects inherit docstring from object if not overwritten"
in CPython, if an object doesn't have a docstring assigned, its `__doc__` is set to `None`, in RustPython, it inherits `the most base type` from `object`

[2019-10-13 13:53] dan-fritchman commented on #1175
PR #1524 has an implementation of `os.system`.

[2019-10-13 18:48] HyeockJinKim commented on #1481
I have written a wiki like this.
https://github.com/RustPython/RustPython/wiki/uftrace

[2019-10-13 18:48] #1385 closed

[2019-10-13 19:04] coolreader18 commented on #1481
This is really useful, thanks!

[2019-10-14 00:40] HyeockJinKim commented on #1481
I will close this issue. Thanks!

[2019-10-14 00:40] #1481 closed

[2019-10-14 00:53] HyeockJinKim commented on #1520
In python 3.6
[code]

In RustPython
[code]

In addition, when displaying `1e-n` as compared to python3.6, the value is displayed as `0.0` even when n is relatively small(-324 in python3.6, -16 in RustPython).

[2019-10-14 01:00] HyeockJinKim opened #1527 "float('0_0') raise ValueError"
## Feature
float('0_0') should return 0.0, but it raise ValueError

### Expected result
[code]

### Actual result
[code]

https://github.com/RustPython/RustPython/blob/d42d422566f64f48311cc7e7efb4d0ffcefb0297/vm/src/obj/objfloat.rs#L588-L599

In my opinion, `lexical :: try_parse` does not handle` _` properly.

[2019-10-14 08:19] HyeockJinKim opened #1531 "The deletion of the dict does not affect the size of the vector"
## Feature
https://github.com/RustPython/RustPython/blob/d42d422566f64f48311cc7e7efb4d0ffcefb0297/vm/src/dictdatatype.rs#L21-L25

As you can see in the code above, Dict stores the values ​​in a Vector.
However, when deleting a value, dict simply decrease size, but the size of the vector continues to grow.

[code]
If running the code above, the vector will continue to grow in size and take longer t

[2019-10-15 03:47] ashermancinelli commented on #304
I'd love to try at `int.__sizeof__`. Would anyone be willing to give some direction?

[2019-10-15 04:27] coolreader18 commented on #304
See, you *think* it'll be that simple :smile:. We've had two previous attempts at implementing int.__sizeof__, #1172 and #1426, the latter of which is currently open. There's also a discussion topic on __sizeof__ at #1250. If you want to give it a shot based on my comment (https://github.com/RustPython/RustPython/pull/1426#discussion_r329327681), feel free to, as #1426 has stagnated a bit.

[2019-10-15 07:08] emmanuelantony2000 commented on #1527
Should I just remove the `_` and then try to parse?

[2019-10-15 08:10] HyeockJinKim commented on #1527
It doesn't seem to simply remove `_`.

[code]

The above code should raise ValueError.
However, using the `replace` or `retain` function to remove all `_` will not raise ValueError in the above situation.

[2019-10-15 09:41] emmanuelantony2000 commented on #1527
So I can think of a 'not so good' solution.
Split the string by `.`
If there are more than two substrings throw an error
If there are two substrings then each of those substrings should not

1. Start with an `_`
2. End with an `_`
3. Iterate through the string, if we find an `_` then that `_` should not succeed or precede by an `_`

Please tell me a better solution.

[2019-10-15 10:06] HyeockJinKim commented on #1527
https://github.com/RustPython/RustPython/blob/67f005e9f78075bffb5787b3dd622f3e235e6b85/vm/src/obj/objint.rs#L791-L837

I don't know if it's a better way, but in `objint.rs`, `str_to_int` is implemented as above.
See `validate_literal`.

https://github.com/RustPython/RustPython/blob/67f005e9f78075bffb5787b3dd622f3e235e6b85/vm/src/obj/objint.rs#L839-L860

[2019-10-15 14:28] seeeturtle commented on #1361
@dralley , can you remove me from taking combinatoric iterators except `product`?

[2019-10-15 15:30] seeeturtle commented on #1523
I'll try it.

[2019-10-15 17:25] #1397 closed

[2019-10-15 22:02] ashermancinelli commented on #1531
https://github.com/RustPython/RustPython/blob/a1e3fe4e63cc21fb60093c0d43dd2cd8f56b09b6/vm/src/dictdatatype.rs#L69-L72
Could we free some memory here?

[2019-10-19 03:32] dralley commented on #1279
Should this be closed then?

[2019-10-19 16:28] mahmoud commented on #1279
@dralley I'm still not sure if the behavior incidental or by design. Probably worth a line in some documentation somewhere. If it's by design and already documented, then feel free!

[2019-10-19 22:32] Lynskylate commented on #1454
In fact this is because the generated bytecode is wrong.
[code]
RusyPython bytecode Load x from free scope,  it means that  load variables globally when reading from a local scope fails.
In cpython, it just load variable from locals.
[code]

[2019-10-20 04:31] HyeockJinKim commented on #1527
Can I take over this issue?

[2019-10-20 07:52] seeeturtle commented on #1523
the same problem in function should be fixed too.

[2019-10-20 19:14] #1520 closed

[2019-10-21 05:02] emmanuelantony2000 commented on #1527
Yeah sure..

On Sun, 20 Oct, 2019, 10:01 AM HyeockJinKim, <notifications@github.com>
wrote:

[2019-10-21 13:07] lifthrasiir opened #1554 "`round(number, digits)` is incorrect for non-zero `digits`"
`round` with non-zero digits is [notoriously hard to implement correctly](https://news.ycombinator.com/item?id=20816827), and I think #1521 underestimates the difficulty. The following script produces a lot of counterexamples in RustPython but none in Python 3 (at least after 10M trials):

[code]

Example output in RustPython:

[code]

It should be noted that the string representation of `round(nu

[2019-10-21 13:16] lifthrasiir opened #1555 "Nested formatting string for `__format__`"
## Feature

Given the following code:

[code]

Python 3 prints:

[code]

While RustPython prints:

[code]

It will require some parser changes, as one can't simply prescan the format string to the next `}`.

## Python Documentation

The example above is copied straight from <https://docs.python.org/3.8/library/string.html#format-examples>.

[2019-10-22 14:08] seeeturtle commented on #1523
It seems the problem of function and the problem of class is a bit different.
Function doesn’t have doc attribute at all but class inherits the doc attribute of object

[2019-10-23 01:51] tekknolagi commented on #1448
I'd like to work on this. Where can I find info on defining methods without `pymethod`? It looks like that's not available in the proc macro.

[2019-10-23 02:05] tekknolagi commented on #1147
Looks like `range` doesn't implement `__reduce_ex__` (which is correct) but the `object` implementation of it in RustPython is a little buggy:

[code]

[2019-10-23 02:10] tekknolagi commented on #356
`__reduce__` and `__reduce_ex__` look implemented

[2019-10-23 08:12] xarus01 commented on #736
bytes.__sizeof__ seems to be missing.

[2019-10-23 09:17] vazrupe opened #1558 "panic when using a value other than int, string and collection in bytes()"
## Feature
### Expected result
[code]

### Actual result
[code]

[2019-10-23 09:35] yanganto opened #1560 "bug in replacement bytes with more than one byte"
CPython can replace with bytes
[code]

RustPython
[code]

[2019-10-23 15:13] #1560 closed

[2019-10-24 12:02] #1558 closed

[2019-10-26 01:59] #1531 closed

[2019-10-26 04:41] rls1004 opened #1566 "The sys module does not have stderr in frozen"
## Feature
[code]
[code]

Although `sys.stderr` is implemented, the `stderr` attribute does not exist in the `sys` module when the `_verbose_message()` function is called.

The problem seems to be caused by `sys.stderr` being implemented in `_sitebuiltins.py` rather than `sysmodule.rs`.

[2019-10-26 05:30] HyeockJinKim opened #1568 "class conversion is not possible"
## Feature
Converting __class__ in Python to change to another class is not currently supported in Rustpython.

### Actual Result
[code]

### Expected result
[code]

[2019-10-26 05:58] rls1004 opened #1569 "Unsupported format string for bytes"
## Feature

### expected result
[code]

### actual result
[code]

Format string does not work for bytes.

## Python Documentation

PEP 461 - percent formatting support for bytes and bytearray
https://docs.python.org/3/whatsnew/3.5.html#pep-461-percent-formatting-support-for-bytes-and-bytearray

[2019-10-26 08:33] JimJeon commented on #1058
I think PR #1455 fixes this issue.

[2019-10-26 12:56] #1058 closed

[2019-10-26 20:45] #1527 closed

[2019-10-29 03:41] coolreader18 opened #1575 "str.isupper and str.islower are not implemented properly"
## Feature

`str.isupper` should return `True` if all the characters that *can* be multiple cases in a string *are* uppercase. However, the current implementation just uses Rust's `char::is_uppercase`, which does not distinguish between 'cased' and 'non-cased' characters. The same goes for `str.islower`.

## Python Documentation

https://docs.python.org/3/library/stdtypes.html#str.isupper

## Impl

[2019-10-29 05:41] Regexp96 commented on #1575
can I contribute this issue?
it's my first issue and I think I can do this

[2019-10-29 10:39] Regexp96 commented on #1575
that commit is my mistake sorry

[2019-10-29 12:32] coolreader18 commented on #1575
Yep, go ahead!

[2019-11-01 04:22] sanxiyn commented on #1269
In CPython, `random.seed` version handling and stuffs are implemented in Python in `random.py`, which uses `_random` C module. Current RustPython implementation is reimplementing `random`, not `_random`, so can't share Python part.

#1571 is an effort to fix it which should help this issue.

[2019-11-01 12:32] andrew-ld opened #1579 "wrong float.fromhex implementation"
float.fromhex is case sensitive in rustpython implementation

## rustpython result

[code]

## cpython result

[code]

[2019-11-02 17:18] #1523 closed

[2019-11-03 07:03] Writtic commented on #1579
I solved the problem with PR #1552

[2019-11-03 17:13] #1579 closed

[2019-11-04 20:09] #1575 closed

[2019-11-06 13:48] QGB opened #1583 "sys.getdefaultencoding() ;sys.stdout.encoding Not Implement"
#1514

## Feature
[code]
## Python Documentation
https://docs.python.org/3/library/sys.html#sys.getdefaultencoding

[2019-11-06 18:23] adolfogonzalez3 opened #1584 "math.floor and math.ceil don't return integer values"
## Feature

The math functions math.floor and math.ceil return floating point values which causes an error when trying to run:

[code]

This works in python 3.7.

## Python Documentation

The documentation mentions the return type being Integral.
https://docs.python.org/3.5/library/math.html

[2019-11-07 16:18] adolfogonzalez3 opened #1586 "Implement input()"
## Feature

Rustpython is missing the input() builtin method. This can be implemented by moving readline methods into the vm as was suggested in the gitter.

## Python Documentation

Documentation of input() for python 3.5
https://docs.python.org/3.5/library/functions.html#input
And the code from cpython
https://github.com/python/cpython/blob/master/Python/bltinmodule.c#L1924

[2019-11-07 20:05] silmeth opened #1588 "fetch snippet broken in wasm demo: '_browsers' is not a built-in module"
On the [wasm demo](https://rustpython.github.io/demo/) the `fetch` snippet currently errors with the `Error: "'_browser' is not a built-in module"` message.

At least on Firefox 70.0.1 on Linux, but I guess it’s not a browser-related issue but rather some regression related to built-in modules changes.

[2019-11-13 16:14] #1431 closed

[2019-11-15 13:55] palaviv opened #1596 "[RFC] Add CPython tests"
## Summary

Now that we can run `unittest` ( #1587 ) I think we should start running the CPython tests (Lib/test) to test RustPython.

## Detailed Explanation

My suggestion is to do the following:

1. Copy all tests that can compile and run from CPython Lib/test to RustPython Lib/test.
2. Mark all the failed test with `@unittest.skip("TODO: fix RustPython")`.
3. Add a job for both linux and windo

[2019-11-17 02:18] dralley commented on #1361
@corona10 Are you still working on ```itertools.cycle()```?

@Thrimbda Are you still working on ```itertools.groupby()```?

@Space0726 Are you still working on ```itertools.zip_longest()```?

[2019-11-18 01:46] coolreader18 commented on #1596
I think this is a good idea; we should probably start with copying over only the test files we want and the required modules, so that we don't end up with a diff of 1000+ added files like in #1587. We also have to have a way to filter out the test files from the `py_compile_bytecode` macro, so that we don't include unwanted modules that are useless at Python runtime.

I think so; it would certainl

[2019-11-18 02:14] coolreader18 opened #1600 "[RFC] Use a pure-Python implementation of the `io` module"
## Summary

Replace, to some extent, the built-in Rust `io` module with a Python implementation taken mostly from CPython's `_pyio.py`

## Detailed Explanation

I already have a working implementation locally and the explanation is pretty much the summary. It requires a few changes to builtin types and modules, but not *that* many. It'd be possible to use a Python `io` in `importlib._bootstrap_ext

[2019-11-19 00:26] yanganto commented on #1569
issue update:
- support percent formatting for byte
- percent formatting for bytearray is not ready

[code]

[2019-11-19 14:45] vks commented on #1269
I think it is best to use a modern RNG by default (i.e. `rand::rngs::StdRng`), possibly falling back to the Mersenne Twister when reproducibility is required (i.e. when `seed` is called).

[2019-11-21 17:28] Space0726 commented on #1361
Yes, I still working on `itertools.zip_longest()` and I had finished it once.
It works fine but it was working a bit differently than CPython's `itertools.zip_longest()`, so I was thinking about it. Should I send a PR first?

[2019-11-22 16:38] dralley commented on #1361
@Space0726 Yeah, probably just put a PR up, and maybe the issues can be found during review.  If it's got test snippets for the ways in which it isn't working properly, then it won't be merged until it passes the CI anyways.

[2019-11-24 19:33] knowsuchagency opened #1609 "Does RustPython support interoperability with rust code/crates?"
I'm just curious whether or not it would be possible to call rust code from within the RustPython interpreter.

Also I just want to say that I'm excited to start testing out this project, thanks for all the hard work of the contributors!

[2019-11-25 02:01] yanganto opened #1610 "[WASM] default stdout dose not work as README"
# Features
Browser devtools work as guided by the following instructions in the documentation.

## Expected Result
[code]

## Actual Result
Firefox 70.0.1（64 位元）
[code]

Chromium 78.0.3904.97 (正式版本) Arch Linux (64 位元)
[code]

[2019-11-25 04:11] yanganto commented on #1610
Update:
These methods work.
`rp.pyEval('print("a")',{stdout: (s) => console.log(s)})`
or
`rp.pyEval('print("a")',{stdout: (s) => alert(s)})`

[2019-11-25 06:01] coolreader18 commented on #1609
Do you mean Rust code compiled to a shared library and imported into RustPython at runtime, or Rust code added into the binary at compile-time? The latter we have, and it's how much of our [standard library](https://github.com/RustPython/RustPython/tree/master/vm/src/stdlib/) is implemented. The former is a WIP, as it requires a stable [Rust ABI](https://internals.rust-lang.org/t/when-is-the-abi-s

[2019-11-26 04:09] yanganto opened #1612 "[WASM] pyEval does not return JsValue"
# Description
pyEval should return the `JsValue`, as the run function of wasmvm proposed,
```fn run(&self, source: &str, mode: compile::Mode) -> Result<JsValue, JsValue>```,
but there is something missing such that the return value is always `undefined`.

## Expected Result
[code]

## Actual Result
[code]

[2019-11-27 06:44] #1610 closed

[2019-11-27 11:02] lovasoa opened #1613 "automatic integer to floating point conversion in format strings"
## Feature

Format codes such as 'e', 'f', and 'g' are supported in format strings for integers in CPython, but not in RustPython

### in cpython

[code]

### in RustPython

[code]

## Python Documentation

https://docs.python.org/3/library/string.html#formatspec

[2019-11-28 04:06] yanganto commented on #1588
There is a hacky way to work around on this issue.

Before import `browser`, fix the the tuple of builtin module first.
[code]

This may be close to the root cause, it will be fixed when the processes of injecting the browser module and the js module are corrected.

[2019-11-28 05:57] coolreader18 commented on #1588
Yeah, rustpython-wasm can definitely use a lot of work. I had plans to flesh out a lot of the Python/JS interop, but I never got around to it. There's still a lot more work to be done on the `JsValue` class (first and foremost that it should probably be called `JSValue`, looking back on it), including formalizing how security/sandboxing should work: right now, if you have access to just one `JSVal

[2019-11-28 07:00] yanganto commented on #1588
This may not easy to implement perfectly at once, but sounds interesting.  I am willing to try and may ask some questions on Gitter when running into problems. Thank @coolreader18 .

[2019-11-29 20:04] cedric-h commented on #1609
Is there a documentation for pursuing the latter in Rust projects?
Can you instantiate, pass around, and manipulate Rust structs/types from Python?

[2019-12-05 00:30] brettcannon opened #1622 "[RFC] Rename LineContinationHandler to LineContinuationHandler"
## Summary

I believe `LineContinationHandler` is misspelled and meant to be `LineContinuationHandler` (notice the `u`).

## Detailed Explanation

## Drawbacks, Rationale, and Alternatives

Would break backwards-compatibility for anyone using the `rustpython-parser` crate.

## Unresolved Questions

[2019-12-05 03:03] yanganto commented on #1588
I got an idea of sandboxing.
Maybe we can construct an option to decide python code to access the javascript object

In the following option provided, the VM will allow Python code to access the javascript obj, and the flag is true by default.
[code]

[2019-12-05 05:18] coolreader18 commented on #1622
This sounds good! We aren't really too concerned with a stable API for our crates yet, so there shouldn't be a problem with changing the name.

[2019-12-06 22:31] #1584 closed

[2019-12-12 09:47] Riey opened #1624 "Can't build on windows"
[code]

[2019-12-12 16:45] coolreader18 commented on #1624
Yeah, I thought this might be confusing. You can run `scripts/symlinks-to-hardlinks.ps1` to fix it.

[2019-12-12 17:47] Riey commented on #1624
@coolreader18 It looks like should be run to build  then why it doesn't included in build script?

[2019-12-12 17:58] coolreader18 commented on #1624
That sounds like a good solution. It might not be great to have that be in the `rustpython-vm` script, since it might not be necessary when it's published on `crates.io`. @palaviv what do you think?

[2019-12-12 17:59] coolreader18 commented on #1624
Oh, and this is from #1576; there's some discussion there already.

[2019-12-13 06:25] TejasUmeshShastry commented on #1609
I think what he’s asking is whether it is possible to use regular rust crates from RustPython. If I got it wrong please correct me. Also, I have the same doubt.

[2019-12-13 09:46] palaviv commented on #1624
That sounds good to me as long as it runs only on windows. My concern is our need to support this script. What versions of Powershell is the script supporting? Would this script work on all windows versions?

[2019-12-13 19:00] coolreader18 commented on #1609
Sorry for not responding earlier, it is certainly possible to store Rust structs in PyObjects and we do that quite a bit in the codebase; you can look in the `vm/src/stdlib` subdirectory for some examples, specifically `socket` for a module that's centered almost completely around a built-in class.

[2019-12-14 07:27] Riey opened #1629 "Compile failed on android target"
![Screenshot_20191214_161820](https://user-images.githubusercontent.com/14910534/70845076-c0144f80-1e8d-11ea-8eba-d22788442819.png)

It's libc issue but I made workaround patch #1628

[2019-12-14 14:42] #1629 closed

[2019-12-15 05:05] dralley commented on #1411
Fixed by https://github.com/RustPython/RustPython/pull/1591

[2019-12-15 05:05] #1411 closed

[2019-12-16 10:42] silmeth commented on #1411
I still am very unsure about the fix, it effectively just replaced `mem::uninitialized()` with `MaybeUninit::uninit().assume_init()` which doesn’t remove any possible previous undefined behaviour.

As I commented on that PR:

[2019-12-16 14:14] coolreader18 commented on #1411
I've been thinking about this recently, and I agree with you @silmeth that this isn't ideal. Do you know if it would be undefined behavior if we initialized `Rc<MaybeUninit<PyObject>>`s, `ptr::write` the type and mro, and then casted them to `PyObjectRef`s?

[2019-12-16 14:19] andrew-ld opened #1635 "mangled globals doesn't work"
[code]

# expected result
`True`

# current result
[code]

[2019-12-16 15:45] silmeth commented on #1411
@coolreader18 Not sure, when I was replying to that PR back then I was thinking about something like that:
1. create **`mut`** (?) `Rc<MeybeUninit<PyObject<…>>>`,
2. clone it as `cloned`,
3. create a `PyObject` with `typ` initialized to `PyRef { obj: cloned as Rc<PyObject<…>> }`,
4. `ptr_write` that py object as the content of the `mut Rc` from 1. and call it a day.

But point 3 still smells a bit

[2019-12-16 16:24] coolreader18 commented on #1411
I've been playing around in the playground with this and I think I've figured it out. [Here's](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=1f790814f660859c8e87c58f80e8eb97) a basic recreation of what we have now, and `miri` does indeed fail if you try to run it. [Here's](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c92c36bda23469500451b9cf080f

[2019-12-16 17:57] silmeth commented on #1411
Looks good. Clever, you cast pointer to `typ` to `*mut Rc<MaybeUninit<…>>` before writing to it, that should work – an obvious solution to initialize that value I didn’t think of.

As for leaking memory – you create a cycle of ref-counts here, leak is the expected and *intended* behaviour.

I am only unsure about the casts between mutable and immutable pointers from immutable `Rc`.

[2019-12-16 19:38] coolreader18 commented on #1411
That is slightly violating Rust's safety rules, but I don't think it's that bad. We know that `type_type` and `object_type` are only used here and that there are no immutable references to it that are being read from. We actually might want to put a `Cell` in there though, as just the existence of immutable references to the value you're writing to might be sorta undefined behavior.

[2019-12-16 20:23] silmeth commented on #1411
@coolreader18 by the way, you don’t need to clone the `object_type` on line 24 in your solution in the playground, as you use it only once. The last `type_type` clone on line 37 is also unnecessary.

The `ptr::write()` on line 43 could also hypothetically unnecessarily leak memory from never-dropped `Vec` that has been used to initialize `type_type`’s `mro` – but since that vec is empty it doesn’t

[2019-12-17 19:27] MeirShpilraien opened #1637 "Failed running rustpython on wasmer"
Thank you for creating this project!!!!

I tried to run rustpyton on wasmer and got this error:
[code]

I built it with the following command using rust stable:
`cargo build --release --target wasm32-wasi --features="freeze-stdlib"`

Any idea how to solve it?

[2019-12-17 19:36] coolreader18 commented on #1637
Oh right, I got this a little bit ago and I made a PR chronotope/chrono#365 to resolve it in an upstream dependency. They haven't cut a release yet since it was merged, but you can fix it locally by changing the `chrono` dependency in `vm/Cargo.toml` to be `chrono = { git = "https://github.com/chronotope/chrono" }`

[2019-12-18 09:32] MeirShpilraien commented on #1637
Thanks, it worked.

[2019-12-18 09:32] #1637 closed

[2019-12-19 20:07] rafaelcaricio commented on #1637
I am getting similar error even after changing the `chrono` version. I am not sure if that is an issue in the `wasmer` side now that cannot identify the version of wasi to link.

[code]
Any ideas?

[2019-12-19 21:33] rafaelcaricio commented on #1637
To help anybody that might get the same error I described in my previous comment. I was using rustc nightly version to compile RustPython and that was the reason. I compiled now with stable Rust (rustc 1.40.0 (73528e339 2019-12-16)) and it works fine.

[2019-12-21 09:30] #1622 closed

[2019-12-24 14:56] dralley commented on #1361
I'll take ```cycle``` and ```groupby``` unless someone else wants to (re)claim them. @corona10 @Thrimbda

[2019-12-24 14:59] corona10 commented on #1361
@dralley Please go a head :)

[2019-12-26 11:31] windelbouwman commented on #1624
Hmm, symlinks are troublesome without doubt. Is there a better way to solve this issue? Can we do without symlinks and powershell scripts? Maybe it makes sense to split off the frozen modules into a seperate crate? Does anyone have a good idea on how to approach this?

[2019-12-30 20:39] dralley opened #1652 "Issues with set iterators"
### Expected

[code]

### Actual

[code]

[2019-12-30 20:39] dralley commented on #1652
I'll work on this

[2020-01-01 16:50] doyshinda commented on #1613
Issue update:

`:f` is now supported for integers:
[code]

Remaining work is to implement `e` and `g` format codes.

[2020-01-02 12:10] youknowone commented on #251
now the only unimplemented method is `list.__init_subclass__`, so this issue seems practically done.

[2020-01-02 12:10] #251 closed

[2020-01-02 12:12] youknowone commented on #190
`str` class is now practically done.

[2020-01-02 12:12] #190 closed

[2020-01-02 12:15] youknowone commented on #304
`__getnewargs__` is a pickle feature and `__init_subclass__` is metaclass support. (maybe we'd better to have metaclass issue for this)
So it seems `int` is now practically done.

[2020-01-02 12:15] #304 closed

[2020-01-02 12:19] youknowone commented on #1147
It is done except for `__init__subclass__` (which will be followed up from #1346)

[2020-01-02 12:19] #1147 closed

[2020-01-02 12:23] youknowone commented on #293
It is done except for `__init__subclass__` (which will be followed up from #1346)

[2020-01-02 12:23] #293 closed

[2020-01-02 12:29] youknowone commented on #322
I've checked we are aiming not to exactly replicating error messages with CPython. (probably from gitter)

Please reopen this issue if I misunderstand the issue or the error message policy of rustpython.

[2020-01-02 12:29] #322 closed

[2020-01-02 12:31] youknowone commented on #367
is this still open?

[2020-01-02 12:34] youknowone commented on #440
`objint::get_value` now returns `&BigInt`.

We probably will fight with other unnessessary clones for forever.

[2020-01-02 12:34] #440 closed

[2020-01-02 12:36] youknowone commented on #547
it seems `close` is now implemented. can someone check this issue is done or not?

[2020-01-02 12:39] youknowone commented on #736
This is practically done. `__init_subclass__` will be covered by #1346. `__getnewargs__` by pickle.

[2020-01-02 12:39] #736 closed

[2020-01-02 12:44] youknowone commented on #971
It seems this is now working. Please reopen this issue if i misunderstand current state or the issue.

[2020-01-02 12:44] #971 closed

[2020-01-02 12:46] youknowone commented on #1038
Please reopen this issue if it is not sufficient yet, thanks!

[2020-01-02 12:46] #1038 closed

[2020-01-02 12:50] youknowone commented on #1302
The given example codes are now working. If this is not finished yet, please reopen this issue.

[2020-01-02 12:50] #1302 closed

[2020-01-02 12:56] youknowone commented on #1132
@windelbouwman do you think #1514 is good enough to close this issue?

[2020-01-02 12:59] youknowone commented on #1374
The given example now raises `RecursionError` (though the message is not compact as CPython)

[2020-01-02 12:59] #1374 closed

[2020-01-02 13:01] youknowone commented on #1442
we'd better to have a checklist to make this done.

[2020-01-02 13:03] youknowone commented on #1442
Once #1642 is done, implementing `__ne__` will be a lot easier than now.

[2020-01-02 13:05] youknowone commented on #1464
#196

[2020-01-02 16:18] youknowone commented on #110
Now every `get_value` has same input signature using `&PyObjectRef`. How about change thi s issue to `TryFrom` or `FromPyObject` one or close this one and create a new one?

[2020-01-02 23:09] doyshinda opened #1656 "Implement remaining string format codes for floats"
## Feature

Implement the `g`, `G`, `e`, `E`, `n`, and `%` format codes for floats.

- [x] g
- [x] G
- [x] e
- [x] E
- [x] n
- [x] %

## A few examples from CPython:
[code]
## RustPython
[code]

## Python Documentation

See the section after `The available presentation types for floating point and decimal values are` in the docs found [here](https://docs.python.org/3/library/string.html#format-spe

[2020-01-03 15:58] #1612 closed

[2020-01-03 21:34] cfbolz opened #1659 "MRO computation in RustPython doesn't seem to implement C3 correctly"
## Feature

I was experimenting with RustPython's implementation of multiple inheritance and it doesn't seem to implement the C3 method resolution order algorithm correctly.

Example 1:

[code]

This should give an error, but doesn't in RustPython.

Example 2:

[code]

This should print "A, C, B, D" but prints instead "A, B, D", missing C completely in the mro.

## Python Documentation

There seem

[2020-01-05 02:22] metaphorshear opened #1661 "ImportError when running whats_left.sh"
I'm running into this issue building on a Kali Linux VM.  (I've also tried on Windows with Git Bash and am getting the same error.) Methods are listed fine, but this is what I get for modules:
<pre><font color="#8AE234"><b>===== MODULES =====</b></font>
Traceback (most recent call last):
  File &quot;tests/snippets/whats_left_modules.py&quot;, line 33, in &lt;module&gt;
    rustpymods
  File &quot

[2020-01-05 03:01] coolreader18 commented on #1661
Oh, that should be fixed soon with #1658. You could either `rm Lib/stringprep.py` temporarily or switch to the `coolreader18/unicode-stuff` branch to fix it.

[2020-01-06 00:37] metaphorshear commented on #1175
I was thinking of doing `wait` and `fork` if those are still available.

(Also, a question of etiquette: is it better to call dibs on things here, or just do them?)

[2020-01-09 15:18] youknowone commented on #1661
The referenced PR is merged. is this closed now?

[2020-01-09 22:25] #1661 closed

[2020-01-09 22:25] metaphorshear commented on #1661
Yeah, good point

[2020-01-10 15:35] palaviv opened #1671 "Increase CPython test coverage"
We are currently running part of the CPython test suite. This is a good place for people new to the project to contribute. Contribution here can come in two ways:

- Fix failing test - Look for tests marked as skipped or xfail and fix RustPython so that the test will pass.
- Add more tests suites - Copy test suite from CPython and mark failing tests with xfail or skip.

In order to run the test su

[2020-01-11 05:43] hayd opened #1672 "collections.Counter usage throws TypeError"
## Feature

Counter seems to throw an error in the demo in these examples:

[code]

## Python Documentation

https://docs.python.org/3/library/collections.html#collections.Counter

[2020-01-11 09:57] davidbrochart opened #1673 "conda-forge package"
I created a [recipe in conda-forge](https://github.com/conda-forge/rustpython-feedstock/blob/master/recipe/meta.yaml), so that you can `conda install rustpython -c conda-forge`.
It works fine but usually we want to compile from source, and here it bypasses that since it uses cargo. I'm quite a novice in Rust, how can we compile from source?
Also the only release in GitHub is `0.1.0`, but in `crate

[2020-01-12 09:24] youknowone opened #1677 "[RFC] Technical documentation"
## Summary

Suggetion from https://github.com/RustPython/RustPython/pull/1649#issuecomment-573396672

## Detailed Explanation

## Drawbacks, Rationale, and Alternatives

## Unresolved Questions

[2020-01-12 09:26] windelbouwman commented on #1673
Thanks for creating the conda recipe!

Looking at the recipe, I think the `cargo install` will probably pull rustpython from the web, rather then use the cloned sourcecode. Note that this is different from python code, where you could use `python setup.py install`. You might want to use `cargo build --release` and then package the resulting binary from the `target/release` folder.

Question remain

[2020-01-12 09:27] windelbouwman commented on #158
Just wanted to bump this issue with a link to handlepy: https://github.com/pyhandle/hpy this might be the way to go forwards.

[2020-01-12 09:31] windelbouwman commented on #1600
I'm in favor of implementing all of the `io` module in rust. Reasoning points:

- The rust version might be more performing (okay, it's IO, so not a big deal, but still)
- The bootstrapping of rust modules is easier, no hassle with importlib bootstrap etc..
- The rust variant is type checked, so potentially contains less bugs than the python version

[2020-01-12 11:42] davidbrochart commented on #1673
Thanks, `cargo build --release` at least compiles `rustpython` from source. We still have a lot of dependencies handled by cargo though (see below).
When we package a PyPI package in conda-forge, we don't install dependencies, and we package each of them in conda-forge. In this situation conda's added value is the solver (since `pip` doesn't have one yet), but in the Rust world cargo already has o

[2020-01-12 17:32] windelbouwman commented on #1673
Well, it certainly makes sense to search for other rust projects packaged as conda packages. The packaging could be fairly automatic, maybe there exists a sort of re-packager from cargo to conda?

As to packaging the subdependencies, this is not required, since rust does static linking, meaning that there are no shared objects, and the binary is rather large, and has few shared libraries that it r

[2020-01-12 17:32] windelbouwman commented on #1673
Also, note that we probably want to put a link in the readme to the conda package for installation.

[2020-01-13 18:41] IvanMoiseew commented on #1624
**The error is repeated. Win7 64bit. Rust 1.40.0**

   Compiling rustpython-parser v0.1.1 (C:\Users\User\.rust_prog\py4\parser)
   Compiling rustpython-compiler v0.1.1 (C:\Users\User\.rust_prog\py4\compiler)
   Compiling rustpython-derive v0.1.1 (C:\Users\User\.rust_prog\py4\derive)
error[E0658]: procedural macros cannot expand to macro definitions
  --> vm\src\lib.rs:47:13
   |
47 |

[2020-01-13 19:18] coolreader18 commented on #1624
Yeah, I'm working on the double error in the branch `coolreader18/improve-derive-diagnostics`. It still has the same solution as the single error, though.

[2020-01-15 17:15] dralley opened #1690 "Investigate adoption of the PyPy approach to object layout"
PyPy uses a totally different approach to object layout than CPython which saves a huge amount of memory (30% - 50%) in the common use case.

I haven't seen any information about whether there is a slight performance penalty for the added indirection, although I believe the PyPy JIT is able to optimize it away.  I'm also not sure if it contributes to making native code extensions more difficult.

[2020-01-16 01:57] dralley commented on #1690
It seems like there's at least one consequence of this choice for PyPy, though minor:

```sys.getsizeof() always raises TypeError. This is because a memory profiler using this function is most likely to give results inconsistent with reality on PyPy. It would be possible to have sys.getsizeof() return a number (with enough work), but that may or may not represent how much memory the object uses. I

[2020-01-17 05:05] youknowone commented on #1600
if `_pyio.py` is working right now, I believe we just can work on `_io.rs` for future replacement when it becomes mature.
We just need a test suite to test if `_pyio` and `_io` is equivalent for the progress.
For more, I am pretty sure that It must be easier than working on only `_io` itself.

[2020-01-23 12:43] andrew-ld opened #1697 "time.sleep in wasm"
# code
[code]

# result:
`RuntimeError: panicked at 'can't sleep', src/libstd/sys/wasm/thread.rs:28:9`

[2020-01-25 17:09] abitrolly opened #1704 "[RFC] Language Server Protocol in Interpreter"
## Summary

Right now all [Language Servers](https://langserver.org/) for Python are external to Python interpreter itself. What it takes to implement Language Server directly in RustPython binary?

## Detailed Explanation

I was looking for a single binary that could work with https://github.com/autozimu/LanguageClient-neovim for Python syntax completion in `vim`. Something that doesn't require t

[2020-01-25 17:22] abitrolly commented on #1671
@palaviv is it possible to generate and online dashboard that shows which tests pass and which need more help?

[2020-01-25 17:37] palaviv commented on #1671
I am sure it is possible... Would you like to create such a dashboard? I think you can use [testgrid](https://github.com/GoogleCloudPlatform/testgrid) for that.
My recommendation would be to run the test suite as described above and pick any of the `exprectedFailure` or skipped test marked as RustPython change. I am not sure a dashboard would be effective here.

[2020-01-25 18:01] abitrolly commented on #1671
@palaviv is it possible to get the report in a file in machine readable format, such as https://testanything.org ?

[2020-01-25 20:57] cedric-h commented on #1624
Just ran into this.

[2020-01-26 18:50] palaviv commented on #1671
The test use `test\libregtest` and run the underline unittests tests. I am not sure if there is a builtin support in either for the format you want...

[2020-01-27 03:28] CircleOnCircles commented on #1175
I would like to do a quick summary of what is API still missing.
1. `os.ctermid`
2. `os. environb`
3. `os.fchdir`
4. `os.fsencode`
5. `os.fsdecode`
6. `os.PathLike`
7. `os.getenvb`
8. `os.get_exec_path`
9. `os.getgrouplist`
10. `os.getgroups` *partially*
11. `os.getlogin`
12. `os.getpgrp`
13. `os.getpriority`

...

I just scroll thought 10% on the [os docs](https://docs.python.org/3/library/os.htm

[2020-01-28 02:23] coolreader18 commented on #1704
I'm not sure about building it in to the interpreter binary (e.g. `/.../bin/rustpython` itself), but building a LSP server off of RustPython would definitely be an interesting project. It might be possible to build it off of using `importlib` from Rust code, so that modules are all properly resolved, and maybe still keep a no arbitrary code execution guarantee? I'm not completely sure, but this is

[2020-01-29 15:45] youknowone opened #1714 "Replace the remaining arg_check! calls with parameter-based arg checking"
## Summary

## Detailed Explanation

## Drawbacks, Rationale, and Alternatives

## Unresolved Questions

[2020-01-29 15:46] youknowone commented on #1672
expected result:
[code]

[2020-01-29 19:10] coolreader18 opened #1715 "[RFC] Make a website for RustPython at rustpython.github.io"
## Summary

Create a Github Pages site with information on the project and guides for using or embedding RustPython.

## Detailed Explanation

We currently host our WASM demo on Github Pages, but that's just on `/demo`, we don't use the root of the site for anything currently. I suggest that we could put a sort of landing page for RustPython at `rustpython.github.io/`, with information about the p

[2020-01-29 22:30] coolreader18 opened #1716 "[RFC] Add a rustpython_vm::prelude module"
## Summary

Add a prelude module to the rustpython-vm crate that exports commonly used types/functions.

## Detailed Explanation

Many of our modules have basically the same `use` clauses at the top; most commonly `VirtualMachine`, `PyObjectRef`, and `PyResult`, but also `PyStringRef`, `PyClassImpl`, `PyValue`, `PyBytesLike`, `OptionalArg`, `PyFuncArgs`, `TryFromObject`, etc. I propose that we add

[2020-01-29 22:32] coolreader18 commented on #1714
I removed the RFC tag because this is more just some busywork that we've been chipping away at for a while, not necessarily something to decide on.

[2020-02-01 15:38] palaviv commented on #1716
Do you see this as something like the `Python.h` file of CPython? Would you expect this to be the public API someone who writes an extension to be?

[2020-02-01 19:07] coolreader18 commented on #1716
Not necessarily the entire public API, but a useful subset that someone writing an extension would probably import anyway.

[2020-02-02 14:46] andrew-ld opened #1740 "dir() add "_" (last command return)"
## code (write in console, not execute from a file)
[code]

## expected result
AssertionError

## current result
nothing

## problem
rustpython `dir()` implementation add "_" in returned list

[2020-02-03 13:05] makarchuk commented on #1740
Are you sure it's not a feature of your repl?

[code]

[2020-02-03 14:24] andrew-ld commented on #1740
@makarchuk in fact on the result of dir() on python3 it does not have "_", instead rustpython have it

[2020-02-03 14:33] andrew-ld opened #1742 "exit(), panic if code >= 2**31"
## code
`exit(2**31)`

## result
```thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/412f43ac5b4ae8c3599e71c6972112e9be4758fa/src/libcore/macros/mod.rs:15:40```

## expected result
in cpython if exit code overflow fallback to 0

[2020-02-03 14:36] makarchuk commented on #1740
You are correct, but still, it's just a `REPL` issue. Not implementation one
[code]

[2020-02-03 14:41] andrew-ld commented on #1740
because in cpython don't put latest result in globals()

cpython:
[code]

rustpython:
[code]

https://github.com/RustPython/RustPython/blob/52c5eec4bb84422258112bc64ee5a608a00e444c/src/shell.rs#L31

[2020-02-03 14:52] coolreader18 commented on #1742
Well that's one way to exit :smile:. This is probably an easy fix, though.

[2020-02-04 23:20] arnavb commented on #1742
@coolreader18 Can I take up this issue?

[2020-02-05 04:48] #1742 closed

[2020-02-05 13:39] #1269 closed

[2020-02-05 20:57] silmeth commented on #1588
This seems to be now fixed, closing.

[2020-02-05 20:57] #1588 closed

[2020-02-06 11:00] andrew-ld opened #1750 "list panic when size > isize::MAX"
## code
`[...] * (2 << 61)`

## result
`thread 'main' panicked at 'capacity overflow', src/liballoc/raw_vec.rs:777:5`

## expected result
an `MemoryError` exception

[2020-02-08 08:39] palaviv opened #1753 "print to sys.stderr not working on Windows"
[code]
Currently causes the following error:
[code]

[2020-02-08 09:55] palaviv opened #1754 "Allow CPython test suite to run on Windows"
Currently the CPython test suite is failing when running on Windows. #1753 might be a good place to start but there may be other issues.
The CPython tests should run as part of the CI on windows when this is fixed.

[2020-02-09 16:43] youknowone opened #1755 "Positional only parameters PEP 570"
## Feature

Positional-only parameters

## Python Documentation

https://www.python.org/dev/peps/pep-0570/

[2020-02-09 17:14] palaviv commented on #1755
@youknowone I am not sure about the purpose of the issue? Do you wish to discuss if we should implement it? (I am pretty sure the answer is yes as it is part of python). Are you looking for help with implementing this?

[2020-02-10 14:11] youknowone commented on #1755
I am sorry, it must be compatibility issue.

[2020-02-10 21:12] youknowone opened #1758 "nonlocal bug to crash"
## Feature

code
[code]

expected result: silent exit without error

actual result:
[code]

## Python Documentation

[2020-02-11 03:36] dralley commented on #1361
The last one remaining is ```itertools.groupby()``` and it's pretty nasty.  I've had it on the backburner for a while and haven't made much progress.  If anyone else comes along and wants to tackle it, feel free to do so.

[2020-02-12 19:04] Joetib opened #1760 "[RFC] Need to be able to compile only rustpython's virtual machine to wasm"
## Summary
### RustPython in the web can be one of it's best use cases
The python community have been pushing to have python run in the browser.
Many such implementations have been brython, skulpt, Batavia etc.
Likened with batavia's approach to run ```python bytecode ``` in the browser, I have been wondering if rustpytgon can ship only it's virtual machine to do similar task

## Detailed Explanat

[2020-02-12 20:32] coolreader18 commented on #1760
This is a really nice idea; we've experimented with excluding the parser and compiler for native executables of rustpython, but not yet for wasm. We don't currently run CPython bytecode; we have our own bytecode format and I think it would be less effort to have people install the rustpython compiler as part of whatever toolchain this would be than it would be to convert CPython's bytecode to Rust

[2020-02-13 00:17] Joetib commented on #1760
Well I think the proposed fix with regards to cpython bytecode (thus having to install RustPython for the toolchain) is great and won't be difficult implementing.

If excluding the parser is capable of generating smaller wasm file probably just kilobytes, then if the size is still too large, a little tree shaking can be done especially on parts of the standard library that won't be needed on the w

[2020-02-13 09:51] Joetib commented on #1760
I would love to ask if it will be a simple task to compile only the vm to webassembly as I am unsure of how it depends on the other modules. And if possible, suggestive steps to make that work ?

[2020-02-13 17:18] coolreader18 commented on #1760
Yep, you just have to disable the default features (which right now is `rustpython-parser` and `rustpython-compiler`), and then the VM won't depend on the parser and compiler crates:

[code]

Then, just add `#[cfg(feature = "parser-compiler")]` attributes to everything in the `rustpython-wasm` crate that uses `rustpython_compiler` or `rustpython_parser` (which should be a lot, because right now we

[2020-02-13 17:21] coolreader18 commented on #1760
You can test if it works by commenting out the `default = [...]` line and compiling the demo (`npm run dist`). Also, I really don't think it's very feasible to try to convert CPython->RustPython bytecode; they're different enough that it would be difficult/inefficient to do so, and it really does not bring much benefit (in my view). Also, it would have to be done at runtime, which would just add t

[2020-02-13 17:54] Joetib commented on #1760
Thank you very much. I will try the solution out. I have my hopes high already. Off to work!

[2020-02-14 16:37] Space0726 commented on #1361
It might be take some time, but I'll try it.

[2020-02-16 16:15] coolreader18 commented on #1753
I think the issue is that we treat filenos as Handles (a specifically windows concept, e.g. `FromRawHandle::from_raw_handle`, represented as `void*` but are really just ) instead of as file descriptors (ints that are returned from `open()`, passed to `read()` etc), because `std::fs::File`s are represented as handles on windows, internally.

[2020-02-21 05:55] coolreader18 opened #1770 "f-string interpolation expressions don't properly parse when there is a `!` in them"
## Feature

[code]
Expected:
[code]
Actual:
[code]

[2020-02-24 08:25] meain commented on #1770
Related:

[code]

This fails in `cpython` with error as below, but works in `RustPython`.
[code]

[2020-02-28 19:52] philippeitis opened #1780 "Panic on incorrect kwargs instead of TypeError"
Code:
[code]
Expected:
[code]
Got:
[code]

[2020-02-28 21:14] philippeitis opened #1782 "Built in classes receive args from subclass despite empty __init__()"
This is related to #1672 - Counter inherits from dict and calls its base constructor, which receives all arguments, despite them not being passed through the `super(...)__init__()` constructor.

I've included two examples below:

[code]
Expected:
[code]
Got:
[code]

Additionally, for dict:
[code]
Expected
[code]
Got
[code]

I was not able to reproduce this for classes defined within Python itself,

[2020-02-29 17:55] #1753 closed

[2020-02-29 18:07] IdanDor commented on #1659
This is now fixed and can be closed.

[2020-02-29 18:56] #1659 closed

[2020-03-01 20:34] #1586 closed

[2020-03-02 15:48] #1770 closed

[2020-03-04 09:10] no111u3 opened #1794 "Failed to build on Windows"
I try to build by manual on README.md, but it failed on build dependency (internal RustPython crates).

Than I run `cargo run demo.py` I got an error described onward:

[code]

[2020-03-04 13:33] coolreader18 commented on #1794
Run `powershell scripts/symlinks-to-hardlinks.ps1`

[2020-03-06 02:30] doyshinda opened #1796 "main thread panic: ModuleNotFoundError: No module named 'io'"
## Problem
Not sure if this is a problem with my setup, but I get the following when I try to run RustPython (full stacktrace below):
[code]

Running `git bisect`, this starts happening on commit `db65c8d512eca633a3b5ff67fb76c178eadffdff`.

## My setup:
[code]
Tried with both rustc `1.40.0` and `1.41.1`. Let me know if there is any more info needed to help debug this.

## Full stack trace
[code]

[2020-03-06 03:21] coolreader18 commented on #1796
Have you set your RUSTPYTHONPATH environment variable to the `Lib` directory in your rustpython checkout?

[2020-03-06 03:27] doyshinda commented on #1796
Nope, I sure didn't, setting that fixes it. Apologies for the noise!

[2020-03-06 03:27] #1796 closed

[2020-03-06 03:31] coolreader18 commented on #1796
Oh, no problem. Up until that commit we didn't depend on any python standard library modules in the startup process, and now we do. The frequent contributors to RustPython all have the RUSTPYTHONPATH env variable set in their shell config, so we don't often think about the onboarding process for new contributors; I think the vm initialization definitely needs some improvement w.r.t. inferring wher

[2020-03-06 03:39] doyshinda commented on #1796
No worries, I contributed a few commits a few months ago and didn't recall having to set `RUSTPYTHONPATH`, makes sense why now. Thanks for the explanation!

[2020-03-06 21:42] mireille-raad commented on #1715
I would love to work on this issue. I am new to RustPython and as I figure things out, I can leave documentation behind. I can help with writing guides, organize what you have or do the web / front-end development and deployment.

If this repo's CI situation is "questionable", let's start a new one for the site.  Also, you probably don't want to clutter this repo with endless documentation edit an

[2020-03-07 21:21] doyshinda commented on #1613
Issue update:

`:e` is now supported for integers:
[code]

[2020-03-09 00:16] coolreader18 commented on #1715
Great, I'm glad you'd like to help @mireille-raad! I think we'll go with a separate repo, then, unless anyone on the core team would like to object; I'll create that soon and we can start working on it.

[2020-03-09 00:18] coolreader18 commented on #1715
I think the native github pages jekyll themes are good for a blog or just standard website with set pages, but something like mdbook is best for documentation (other than docs.rs, but that can't fit all documentation needs). We could use both; normal github pages for `rustpython.github.io/` and mdbook for `/docs`.

[2020-03-09 03:53] coolreader18 commented on #1715
https://github.com/RustPython/rustpython.github.io

[2020-03-09 20:43] mireille-raad commented on #1715
I got started on a draft. I am not a designer... so this is like a first take, if you like the general direction, then I can fine tune.

The idea is that there is:
- a minimal menu.
- An intro or illustration of what the thing.
- How to install (commands for cargo, wapm and conda). There is a link in the footer to each explaining to install them.
- Goals (high level)

I tried to keep the style min

[2020-03-09 23:48] mireille-raad commented on #1760
I am also interested in getting python to work in the browser... but the use cases that I know of are related to academia, publishing scientific papers and reproducible research especially in economics.

The load time is not as huge of a hurdle or at least I can manage the user's expectation and some some smart loading of resources.

I'll look the merge request from 10 days ago. I've seen your dem

[2020-03-10 00:38] coolreader18 commented on #1715
That looks great!! I really like how the font and headings are inspired by rust-lang.org, and I think the overall simplicity combined with the splashes of color gives it a really nice feel. (Oh, and I was the one that drew the hands on the snakes, I love how you used them!) A section for programs or apps that have used rustpython would be nice, though I'm not sure how many of those there are; if w

[2020-03-10 01:00] mireille-raad commented on #1715
Awww.... that logo is very cute 😄 After I am done with this issue, I am going to  use the image of the snakes instead of a turtle in a logo python game.

You are right about rust-lang. Well spotted... I tried to have something in the spirit of rust :). I had the highlight for the title section and as i was looking at it, i was like hmm... i can add the little hands :)

I added the sections for pro

[2020-03-13 10:47] palaviv commented on #1715
Just wanted to say this looks amazing :1st_place_medal:

[2020-03-13 22:01] kmaork opened #1815 "[RFC] Adding support for CPython bytecode"
# Summary
Adding support for CPython bytecode will open many new possibilities for testing and using the RustPython VM.

# Detailed Explanation
There are many, many projects using the CPython bytecode. If RustPython were to support it, we could ship the RustPython VM as an individual tool, integrable into existing projects. This could be very useful to the RustPython project, by generating countle

[2020-03-16 18:15] mireille-raad commented on #1715
Here is a link to a demo/test site

- home: https://mireille-raad.github.io/rustpython.github.io/
- blog: https://mireille-raad.github.io/rustpython.github.io/blog
- single post:  https://mireille-raad.github.io/rustpython.github.io/featured/2020/03/11/use-cases.html

@coolreader18 will take care of the deployment and managing another repo for this.

@palaviv -- we will need someone to help with t

[2020-03-22 18:44] zer0x64 opened #1826 "Cannot run WASM demo: CompileError: "wasm validation error: at offset 87562: too many locals""
When I compile RustPython to WASM by running `npm run dev` in the `wasm/demo/` folder, the browser returns an error when trying to load the wasm file:
`Error importing rustpython: CompileError: "wasm validation error: at offset 87562: too many locals"`

I'm using Rust 1.42 and Firefox 74.0

[2020-03-22 23:13] coolreader18 commented on #1826
Hmmm, maybe running in dev mode makes it too big to properly process. Does running it in release mode work? `npm run dist` and then serving from the `dist/` directory?

[2020-03-23 03:36] mireille-raad commented on #1671
Would it help having the dashboard somewhere on the current website?

If you are looking for a dashboard, we can do two pages:
- one for tests passed/failed status
- another for the "what is left" script.

The goal would be for people to know what they can help on in one place.

I can probably get the output of both scripts to push to github repos and then use that as part of jekyll page or just a

[2020-03-23 03:37] mireille-raad commented on #1715
should we consider this done and close the issue?

[2020-03-23 04:25] coolreader18 commented on #1715
Yep, sounds good. Further development can take place in the rustpython.github.io repo itself.

[2020-03-23 04:26] #1715 closed

[2020-03-23 04:46] coolreader18 commented on #1671
I think that would be cool, and it would probably require getting the test results in a machine readable format like TAP. It seems like [tappy](https://github.com/python-tap/tappy) works perfectly fine on RustPython, the only issue is getting regrtest to run a custom unittest test runner.

[2020-03-23 12:09] abitrolly commented on #1671
@mireille-raad is it be possible to have single dashboard for both passed/failed and "what is left" by color coding them with green, red and yellow?

[2020-03-23 16:18] coolreader18 commented on #1671
I don't know if it makes sense to have them in the same dashboard, since the regrtests are tests that get run and are well structured, while the whats_left script just shows standard library items that aren't present in RustPython; they don't really show the same kind of data.

[2020-03-23 17:41] abitrolly commented on #1671
@coolreader18 `regrtests` and `standard library items` are different test sets?

[2020-03-23 18:34] coolreader18 commented on #1671
Well yeah, sort of; all whats_left.sh does is diff the list of standard library modules and the `dir()` outputs of them, and see what CPython has that RustPython doesn't. It doesn't actually run any code; you could "fix" something to remove it from the whats_left list by just doing `def missingthing(): raise NotImplementedError`.

[2020-03-23 18:47] abitrolly commented on #1671
@coolreader18 but do testnames match between what is available in RustPython and upstream? If they do, then it might be possible to get the test results from both test servers in TAP format and diff them.

[2020-03-23 18:54] coolreader18 commented on #1671
That's not really necessary, since every test that's in CPython is passing (or should be, at least), so we can assume that any test that fails on RustPython should be passing, no diffing required.

[2020-03-23 18:54] coolreader18 commented on #1671
`whats_left.sh` isn't for regrtests, it's only for the standard library.

[2020-03-23 20:31] abitrolly commented on #1671
@coolreader18 there should be platform dependent tests that are skipped in CPython. Therefore the system configuration of test environment for CPython and RustPython should be the same.

[2020-03-23 20:45] coolreader18 commented on #1671
Ah, I see what you mean. My idea for that was to check if the skip message contains the string "RUSTPYTHON", since so far (just by convention) all the tests that we've marked as `skip` do.

[2020-03-25 09:55] andrew-ld opened #1828 "[RFC] authomatize add/remove of skip decolator in cpython unit tests"
## Summary

for now rustpython developers manually edit the unit tests of cpython
adding unittest.skip on tests that fail, this is very boring and every time they
implement new features is necessary to manually
see all the unit tests for see if someone no longer fails

## Detailed Explanation
possibile solutions:

1) (partial) monkey patch unittest.skip and notify when test no longer fail

2) rein

[2020-03-26 01:31] zer0x64 commented on #1826
Hi!

Sorry for the late answer, but you're right, it's looks fine when using a production build. Do you have an idea what might be causing this?

[2020-03-26 04:46] coolreader18 commented on #1826
I'm able to reproduce it on my computer as well, with firefox. My guess is that llvm doesn't really validate that the wasm functions it codegens are actually legal wasm, at least with regard to the [size limit for function bodies](https://github.com/WebAssembly/design/issues/1138).

[2020-03-26 22:55] alanjds opened #1829 "README first examples are broken"
At least the two first examples of README are broken:
[code]
[code]

Right now (MAR/2020) they break trying to import io:
[code]
[code]

Same error trying `cargo run demo.py`

[2020-03-26 23:15] zer0x64 commented on #1826
Seems like it. For my personnal use case, it was about using the wasm module, not developing it, so building in release is a good solution for me. However, I do fear that if the debug build has too large functions, it might be the case for release too if that function becomes larger

[2020-03-27 15:11] eukap commented on #1829
Try to set the RUSTPYTHONPATH environment variable:

`$ export RUSTPYTHONPATH=~/GIT/RustPython/Lib`

[2020-03-27 15:40] alanjds commented on #1829
Yes, this works.

I would send a PR including such line on the README, but looks like unintended to depend on it to have `cargo run` to work.

Options:
1. The examples need to change to include the explicit `RUSTPYTHONPATH` setup
2. When no `RUSTPYTHONPATH` is set, a reasonable one should be implied, maybe with a warning. (my preferred one for now)
3. The bare minimum `cargo run` should work witho

[2020-03-27 16:13] mireille-raad commented on #1671
@abitrolly do you think you can figure out how to generate one or a couple of machine readable files for the test results? it looks like you have a specific idea of what need to be done. i can then put them together on a page.

[2020-03-28 13:35] palaviv opened #1831 "[RFC] Threading"
## Summary

I think we have got to the stage we should support threading in RustPython.

## Detailed Explanation

There was already some discussion on threading but I wanted to start a dedicated issue as it is a big decision. I will try to break the issue in order to make some order:

### Definition of done
We need a user to be able to create a new thread in python and execute code on the same Pyt

[2020-04-01 22:16] coolreader18 commented on #1831
I think your idea of making a new vm per-thread is a good idea, we could probably clone the `PyContext`, `builtins` and `sysmodule` (and some other stuff) to the new vm but create a new e.g. exception stack. Maybe we could split off some of the fields that are `RefCell`s into a separate `VMState` struct in order to make it easier to clone them/wrap them in `Mutex`s.

[2020-04-02 03:05] coolreader18 commented on #1831
This is pretty interesting/exciting, I think I might work on preparing the vm for this.

[2020-04-02 11:54] ep12 opened #1833 "cached_property issue / descriptor issue"
## Feature
I have a class like this:
[code]
(For the exact implementation see [ep12/PyOPM](https://github.com/ep12/PyOPM/blob/d470405923d4b5672b8398fcf9b97c6a83fa0bd7/pyopm/core.py#L223), but the implementation is not really important in this case.)
Something like
[code]
results in an error:
[code]

I think it might be related to the descriptor implementation, but `__set_name__` does not seem to b

[2020-04-02 17:00] coolreader18 commented on #1671
I've created a PR for JSON output for CPython tests, #1834, you just need to run `tests/jsontests.py` with rustpython and it'll output all the results in a json file.

[2020-04-02 17:02] coolreader18 commented on #1828
The main issue with running `skip`ped tests is that some of them are skipped because running them would cause a panic, which python can't recover from. I suppose we could just mention "panic" in the skip message and not automatically run those that have it.

[2020-04-02 17:05] coolreader18 commented on #1833
Thanks for the bug report, this definitely looks weird! I'll look into it.

[2020-04-02 17:08] coolreader18 commented on #1833
Oh, I think CPython calls `__set_name__` on all of the descriptors in a class declaration, that shouldn't be too hard to do.

[2020-04-02 17:30] coolreader18 commented on #1833
Fixed (I think) in #1835

[2020-04-02 18:15] mireille-raad commented on #1671
yay... i will take a look at the output, do a sketch. share here. get your feedback on gitter. if things look ok, we should be ready to roll soon!

[2020-04-02 19:43] coolreader18 commented on #1831
Well, just with this change:
[code]
cargo gives 716 errors in the codebase, so I think this will have to be a gradual process of converting our types to be `Send + Sync`, similar to migrating from `enum PyObjectPayload` -> `trait PyObjectPayload` a year ago.

[2020-04-02 20:39] ep12 commented on #1833
I don't know that much about the python spec / implementation in this regard, but my code works with #1835!
(It fails a couple of lines below...
Can I open a series of issues until my code works with rustpython? I know this project is young, but maybe those real world tests would be a good thing?
My small project works better with pypy than with the reference cpython so I hope that one day (soon)

[2020-04-02 21:50] coolreader18 commented on #1833
I think that would be fine! As you said, testing a real world project on RustPython would definitely be a good kind of stress-test.

I actually just implemented that yesterday in #1834 :smile:. It should be merged soon.

[2020-04-03 03:53] #1833 closed

[2020-04-03 09:12] ep12 opened #1838 "code objects: missing attributes"
## Feature
`code` objects do not have the following attributes
+ `co_varnames: typing.Tuple[str, ...]` (see [this issue](https://github.com/RustPython/RustPython/issues/1833#issuecomment-608109282), #1834)
+ `co_names: typing.Tuple[str, ...]`
+ `co_cellvars: typing.Tuple[str, ...]`
+ `co_freevars: typing.Tuple[str, ...]`
+ `co_nlocals: int` (`=len(self.co_varnames)`?)
+ `co_stacksize: int`
+ `co_c

[2020-04-03 22:19] ep12 commented on #1838
Maybe also related: #1327

[2020-04-04 11:32] palaviv commented on #1831
Yes. This is going to take some time converting all objects to be `Send + Sync`. In order to help with the tracking our progress and making sure objects that have already been converted will not regress. I suggest adding a new temporary trait:
[code]
And we will implement the `ThreadSafe` trait for each object that is `ThreadSafe`. Once all objects are `ThreadSafe` we will remove this trait and ma

[2020-04-05 06:23] coolreader18 commented on #1831
Unfortunately, that won't necessarily work, since a lot of the built-in types store other `PyObjectRef`s inside, and until `PyObjectRef` is made `Send + Sync` itself, those can't be marked `ThreadSafe`.

[2020-04-06 14:00] abitrolly commented on #1671
I am excited to see how the JSON output looks like as well. Need to figure out how to provide it as a part of CI build result.

[2020-04-09 16:26] palaviv commented on #1831
The problem is that this is a circular dependency. I would like to be able to work on this in small steps. We can go in two ways here:
1. Use `Mutex` in every object that contains `PyObjectRef`. Once `PyObjectRef` is `Send+Sync` remove the `Mutex` or change to `RWlock`.
2. Make `PyObjectRef` `Send+Sync` by wrapping everything inside in `Mutex`. After making all object `ThreadSafe` remove the `Mute

[2020-04-10 00:39] dralley commented on #1652
This kind of fell by the wayside and I'm not sure if I'll have time to finish it any time soon

[2020-04-10 01:50] coolreader18 commented on #1652
No problem, I'm sure somebody else will pick it up.

[2020-04-10 05:18] youknowone opened #1849 "[RFC] Incubate rust-native modules"
## Summary

For some modules, having pure python module is easier than rust natve one. In that case, we probably still want to have rust version of that modules due to safety or performance.

- `_io`: #1821
- `json`: #1839

## Detailed Explanation

## Drawbacks, Rationale, and Alternatives

## Unresolved Questions

We need to decide:
- What kind of modules need to be rust native even though there

[2020-04-11 16:47] palaviv commented on #1831
After looking more into this my suggestion would not actually work as `Mutex<T>` implements `Sync` only when T implements `Send`.
Another way to go is to declare temporarily:
[code]
This should not affect the current implementation as we do not support threading yet but will allow us to change most object to `ThreadSafe`.
@coolreader18 what do you think?

[2020-04-11 17:18] coolreader18 commented on #1831
Technically that would be unsound, but as its only temporary and we wouldn't actually be using it I think it might be fine. Also, have you tried adding just a `Send` bound to `PyObjectPayload`? I'd think there's be a lot more payload types that already implement that.

[2020-04-12 05:30] coolreader18 commented on #1831
Dang, just ran into a problem with using `RwLock`s for `bytearray`: https://github.com/RustPython/RustPython/pull/1821/checks?check_run_id=579689378. According to the [standard library documentation for RwLock](https://doc.rust-lang.org/stable/std/sync/struct.RwLock.html#method.read), calling `read()` might (read: will) panic if the lock is already held by the current thread, which doesn't really

[2020-04-12 15:17] mireille-raad commented on #1671
@coolreader18 can you automate running the tests and putting the .json file in the other repo https://github.com/RustPython/rustpython.github.io? under the _data/ directory?
https://github.com/RustPython/rustpython.github.io/tree/master/_data

[2020-04-12 15:19] ep12 commented on #1849
Maybe a simple solution for one or more Python implementations would be the following procedure:
+ a list of all modules (names) implemented in Rust
+ a `typing.Dict[str, typing.Set[str]]` of module names and module root directories (set is useful to test multiple different python implementations if ever needed (mostly for extensibility, I guess).
+ for every combination of modules, create a Lib d

[2020-04-12 16:07] coolreader18 commented on #1671
Yeah, I think that would be possible, maybe running it once a week would be good?

[2020-04-12 16:36] palaviv commented on #1831
Wow that was quick :sweat_smile:
From looking into the error it seems to happen only when running with trace. I am not sure what option is better. I don't see any problem using a reentrant lock but I do think we should try and avoid calling  python code when holding locks.
I will try and look more into the error and update if I understand where is the problem.

[2020-04-12 18:07] dralley commented on #371
@JohnBSmith Do you have any thoughts on the current implementation?

[2020-04-13 03:49] coolreader18 commented on #1671
@mireille-raad I've set up a cron job, and already tested it a few times, so the [results file is already pushed to the git repo](https://github.com/RustPython/rustpython.github.io/blob/master/_data/regrtests_results.json).

[2020-04-13 12:50] JohnBSmith commented on #371
So, at the moment the representation is
[code]
Say, one would like to try to make `typ` a trait method of `T`. The unsafe block posed in [issue 1411](https://github.com/RustPython/RustPython/issues/1411) could be resolved then because the trait method introduces an indirection which could be specialized for `type_type` to dispense with the cyclic dependency.

Now such an experiment would entail co

[2020-04-13 12:57] mireille-raad commented on #1671
thank you! I saw it yesterday night and already created a draft page... I'll use the other repo for discussion on design, page layout and such.

[2020-04-13 17:48] redradist commented on #1831
Guys, I would like to help in supporting threading in RustPython without GIL !!
Is there either a pull-request or branch on which you are working ?

[2020-04-13 19:00] abitrolly commented on #1671
@coolreader18 very nice. ) It would be easier to review changes in test coverage if the produced `cpython_tests_results.json` was indented.

[2020-04-13 19:35] mireille-raad commented on #1671
@abitrolly for readiablity, you can always format the document in your code editor

or soon enough, go to the web page on rustpython.github.io ... adding indentation and spacing will make the file even bigger. usually you compress json files, not inflate them.

[2020-04-13 20:22] coolreader18 commented on #1671
@abitrolly, yeah it's already 720kb, you can feel free to look through it and format it yourself if you'd like to review it manually, but I think the viewer that @mireille-raad is working on would be best, or just running `rustpython -m test -v` would be pretty readable as well.

[2020-04-13 21:36] abitrolly commented on #1671
@coolreader18 I meant reviewing diffs on GitHub. ) If git stores deltas in text format, it may reduce the storage size as well,

[2020-04-14 08:26] palaviv commented on #1831
Hi @redradist, That would be great. We have a lot of work to do!!!
You can start converting object to thread safe. You can look at what I did in #1848 and #1860. I would recommend starting with object that don't contain `PyObjectRef` until we make it `Send + Sync`. I would recommend starting with `pystruct`, `io`, `os` just look for anything that implements `PyValue`.

[2020-04-17 22:13] alanjds opened #1874 "`whats_left.sh` broken with "AttributeError: module 'numbers' has no attribute 'Number'""
Tried on a virtualenv Python 3.7 just for RustPython:

The important part:
[code]

The full output:

[code]

[2020-04-21 21:58] alanjds opened #1877 "Generators can hang. When it happens, signals are ignored."
## Generators messes with signals handling support
This generator runs ok on CPython 3.7, but hangs on RustPython.
When hung, signals are ignored by RustPython:

[code]

On CPython 3.7:
[code]
On RustPython:
[code]

As shown above, there are two issues:
* Generator hanging in a strange way
* This hang makes signal handling to stop.
  * RustPython failed to handle SIGALRM, SIGHUP and SIGINFO
  * No

[2020-04-24 04:18] coolreader18 opened #1878 "Tuple unpacking the result of an if expression is miscompiled, leads to panic"
## Feature

Minimal reproduction:
[code]

[2020-04-24 10:37] HyeockJinKim opened #1879 "Unused variable of symbol in symbol table"
## Feature
The variable `is_param` is declared in `symbol` struct, but the parameter is checked only with the ` is_parameter`.
Deleting the unused `is_param` variable seems to improve readability.

https://github.com/RustPython/RustPython/blob/6dccc98d1c618cd4cf3a79c8e7bd82790b6cda00/compiler/src/symboltable.rs#L94-L103

https://github.com/RustPython/RustPython/blob/6dccc98d1c618cd4cf3a79c8e7bd827

[2020-04-24 13:25] redradist commented on #1831
@palaviv

I am trying to make first contribution, but by some reason cannot build the RustPython:

   Compiling openssl-sys v0.9.55
error: failed to run custom build command for `openssl-sys v0.9.55`

Caused by:
  process didn't exit successfully: `G:\Projects\Programing\RustPython\target\debug\build\openssl-sys-ab409795ee307816\b
uild-script-main` (exit code: 101)
--- stdout
cargo:rustc-cfg=const

[2020-04-24 13:33] palaviv commented on #1831
Hi @redradist, I am realy not sure about openssl. Can you make sure your code is reabsed on the current master as the change in #1841 might solve this. @coolreader18 can you have a look?

[2020-04-24 14:55] redradist commented on #1831
@palaviv

I have checked on my side, I am on master branch ...
The interesting thing that on Ubuntu RustPython compiles without any issues !!
Issue reproducible only on Windows !!

[2020-04-24 15:21] coolreader18 commented on #1831
Ah, yeah, try installing [Strawberry Perl](https://strawberryperl.com), OpenSSL needs it in order to run the build script.

[2020-04-24 19:47] redradist commented on #1831
@coolreader18

Thanks a lot !!
Seems like it has been compiled successfully, but still some error occurs:
[code]

[2020-04-24 20:55] redradist commented on #1831
I have found these libraries, then put the in location of rustpython and rustpython launched, but I did not get why it does not work from cargo run ?

[2020-04-25 00:31] coolreader18 commented on #1831
Hmm, I'm not sure, that's really weird. It should link them statically into the rust binary rather than needing a dll, we configured it to do that.

[2020-04-25 07:33] redradist commented on #1831
@coolreader18

Nut actually on my machine it creates a separate .dll and searching for them, only moving .dll to binary location helps ...
@coolreader18 Could you check proper configuration ?

[2020-04-25 15:11] #1878 closed

[2020-04-25 15:12] #1879 closed

[2020-05-04 12:14] redradist commented on #1831
Guys, I have additional issue ...
When I run RustPython on Windows I got the following error:
[code]

[2020-05-04 14:34] coolreader18 commented on #1831
Have you set your `RUSTPYTHONPATH` environment variable to point to the Lib directory?

[2020-05-04 19:05] redradist commented on #1831
Yes, I have set it:
[code]

[2020-05-04 21:40] redradist commented on #1831
Also I have some such error:
[code]

[2020-05-05 01:54] coolreader18 commented on #1831
Oh, make sure you're running in release mode

[2020-05-05 15:20] coolreader18 commented on #1831
@redradist if you have any more problems with running on windows, could you open a separate issue for it?

[2020-05-05 23:36] dralley opened #1909 "Depend on lz-fear instead of lz4-compress"
lz4-compress is from RedoxOS and is unmaintained: https://gitlab.redox-os.org/redox-os/tfs/issues/89

lz-fear is a fork of lz4-compress that was modified significantly for better performance, and is better maintained: https://github.com/main--/rust-lz-fear

[2020-05-12 10:56] redradist commented on #1831
Guys, is there anything left to mark ThreadSafe ?
I searching in repo and seems like all classes marked as ThreadSafe ... ?!

[2020-05-15 04:31] auvipy commented on #8
how much support is remain?

[2020-05-16 00:35] HyeockJinKim opened #1928 "Line continuation character does not work properly in python shell."
## Feature
### Expected Result
[code]
### Actual Result
[code]

https://github.com/RustPython/RustPython/blob/baf3ec16c024364ef87ee68d30dc1470b6eecca9/src/shell.rs#L20-L32

In the current code, if `vm.compile` return `ParseErrorType::EOF`, return `ShellExecResult::Continue` to receive the next line.
However, if the lexer returns EOF after `\\`, the parser raises `unexpected token error` and`ParseE

[2020-05-16 01:31] #1928 closed

[2020-05-16 10:56] palaviv commented on #1831
Sorry @redradist I have already finished that. There are many other things we need help with. Please look at the [contribution](https://github.com/RustPython/RustPython#contributing) guide.

[2020-05-23 20:59] jamestwebber opened #1940 "[RFC] What are the compatibility goals for RustPython?"
## Summary

As a long-time Pythonista and short-time Rustacean I of course searched for this project and was happy to find it existed. Looks like a lot of fun, and if I get the itch I'll definitely try to contribute (with the caveat that like most of you, I won't be able to dedicate a ton of time).

I was wondering about the long-term vision for RustPython in terms of CPython interop (if not neces

[2020-05-23 21:18] jamestwebber commented on #1940
I thought of another possibility related to the [kernel Python](https://glyph.twistedmatrix.com/2019/06/kernel-python.html) blog post: use Rust's feature flags to define what parts of the stdlib are included. This would be really powerful for a couple reasons:

 * The Python "kernel" is a much more achievable goal as a minimal version of the project (it might already be done, or close to it)
 * Br

[2020-05-26 13:44] mireille-raad commented on #1671
pull request for a webpage to see the test results was merged into the .github.io repo.
url is on:
https://rustpython.github.io/pages/regression-tests-results.html

I hope this makes it easier to view/see which tests passed and which tests need more help.

[2020-05-26 16:16] abitrolly commented on #1671
@mireille-raad that's neat!

Is it possible to set background of each block according to percentage of tests passed, skipped and failed? Example CSS for 25% passed tests and 25% skipped.
[code]
![image](https://user-images.githubusercontent.com/8781107/82924633-47113c00-9f85-11ea-8916-bd96f355d6f6.png)

Forgive me the colors. )

[2020-05-26 16:41] mireille-raad commented on #1671
How about:
- adding the numbers (percentage) for each block somewhere on the right.
- maybe adding something like an svg flag icon where the color changes to one of these (green/yellow/red)

I wouldn't do the whole background, it will be jarring to look at. @abitrolly do you want to take a crack at it?

Also side question, are the Name and Class are duplicate?

<img width="368" alt="Screen Shot 20

[2020-05-26 17:57] abitrolly commented on #1671
I could try patching the style if it was clear how to get percentage data.

[2020-05-26 18:00] mireille-raad commented on #1671
you could try to simply calculate them with javascript or in the jekyll template, which is here:
https://github.com/RustPython/rustpython.github.io/blob/master/_layouts/regrtests_results.html

[2020-05-26 19:34] abitrolly commented on #1671
Because Jekyll is neither Rust nor Python, it is either Ruby or JS then. )

[2020-05-26 20:05] coolreader18 commented on #1671
Hmmm, I assume that for like doctests or non-traditional test case definitions they might be different, but actually doctest name/class isn't different and isn't very useful at all:
![image](https://user-images.githubusercontent.com/33094578/82945245-326f7c80-9f62-11ea-9f55-28515f9675e8.png)

[2020-05-27 00:52] Ryex commented on #1671
I went ahead and made a pull request on the webpage to add summary blocks for the tests to the page repository. the PR includes screenshots.

RustPython/rustpython.github.io#12

[2020-05-27 07:48] CodeTriangle opened #1945 "[RFC] Steps toward OpenBSD support"
Hey all. Experienced Python programmer and beginner Rustacean here. Never heard that one before, right. Anyway, I'm super glad this project exists!

## Summary

I'm on OpenBSD and am having trouble building the RustPython Virtual Machine due to (completely reasonable) assumptions about the universal nature of *nix system flags that OpenBSD does not implement or implements differently.

## Detailed

[2020-05-27 19:09] jamestwebber commented on #1945
Rust does have an (arguably nicer) equivalent: conditional compilation based on flags (see [here](https://doc.rust-lang.org/1.29.0/book/first-edition/conditional-compilation.html)), so I think this would be pretty portable.

[2020-05-27 20:42] coolreader18 commented on #1945
If I understand correctly, what you mean by `ifdef` is checking if a specific error constant is defined, and then adding it to the module if it is. Rust does not have something like that currently, though there's a [`#[cfg(accessible)]` directive in development](https://github.com/rust-lang/rust/issues/64797) that I'm following closely due to this exact use case.

[2020-05-27 21:14] CodeTriangle commented on #1945
Thanks for your responses! @coolreader18 has it right about what I'm looking for. In C, you can conditionally compile based on the *existence* of a constant. I do know about Rust's conditional compilation using `cfg`, but it lacks this feature.

The closest we have to this for now is singling out the problems for each individual case and using the extant conditional compiling flags. I made that wo

[2020-05-28 00:02] CodeTriangle commented on #1945
Just opened #1946. It's still being approved by CI. Thanks for your help!

[2020-05-29 07:26] palaviv commented on #1831
I think we can close this issue. RustPython supports threads without the GIL. You can test this with this example:
[code]
[code]
When running with CPython I get:
[code]
While in RustPython:
[code]
As you can see we are slow but we are slow on multiple threads concurrently :smile:

[2020-05-29 07:26] #1831 closed

[2020-05-29 07:47] palaviv commented on #1940
Hi @jamestwebber I will apologize in advance as I might not answer all of your questions. In addition this is my opinion and different people in the core team see the project going different ways.
For your big question about a CPython replacement I think that this is our current goal. I do not think people will be using RustPython in their production any time soon but I do think we can be competit

[2020-05-29 14:15] redradist commented on #1831
@palaviv

Is there tests with RustPython when you have Rc instead of Arc for single threaded implementation ?

[2020-05-29 17:10] redradist commented on #1831
@palaviv

No, I've just would like to see benchmarks before and after ... )

[2020-05-29 18:34] jamestwebber commented on #1940
No problem, I definitely started rambling. Mostly I'm just curious. If the core team set down a roadmap for what they envision it would be useful for newcomers and also clarify your own priorities.

No GIL is very exciting! Imagining what might break gives me undergrad CS flashbacks but it'd be a big accomplishment.

The big question for me is the C API. If RustPython can use e.g. the existing num

[2020-06-03 18:07] laticoda opened #1956 "[RFC] need virtual env for import modules easily"
I'd like to import pyglet or arcade.They are game engine 100% python written.
I dont know how to create a kind of **pipenv --python 3.7 install pyglet arcade**.

i tried other very simple scripts and i get :
_AttributeError: module 'random' has no attribute 'randint'
ModuleNotFoundError: No module named 'os'_

thanks for your job, rustpython is a great concept.

[2020-06-08 19:45] nicholasraphael commented on #1175
Hi, new here. I was just wondering how to start working on one of these outstanding implementations without having any overlap with others? Should we open a new issue for what we want to tackle and then have it assigned to us?

Thanks!

[2020-06-14 04:06] diegopy commented on #1940
Indeed the C API is a huge issue. One idea as detailed here #158 is to use [hpy](https://github.com/pyhandle/hpy) which is a better C API being developed to hide interpreter implementations internals from C extensions. The CPython C API is one of the main reasons why CPython can't get rid of the GIL and also why it can apply many optimizations that could make it much faster. The current C API expo

[2020-06-14 21:26] Ryex commented on #1940
HPy is actually a great target I think. HPy has their universal ABI target and is supported by Cython which a lot of extensions use, even Numpy (though I don't know if it would be actualy that simple).

[2020-06-15 01:58] jamestwebber commented on #1940
Ah those articles are great and expose show my naïveté about how simple it would be, clearly the existing C API makes a lot of things difficult. But luckily the necessary changes are already in progress on the CPython side and hopefully that will provide the incentive for major projects to adopt the better versions, which RustPython can take advantage of.

In some ways it seems like some of the ad

[2020-06-16 10:11] laticoda opened #1966 "[RFC] Would like at least minimal GUI like tkinter"
Hello, i know rustpython is a huge project, i need something which works like tkinter with nothing to
pip to get it working.Something universal on fresh rustpython like tkinter is on python.

[2020-06-20 18:14] snoop2head opened #1969 "Interpreter crashes due to unitialized value in type initialization"
## Summary

* Similar to #1829 issue.
* Environment variable needs to be explicitly specified for README.md document for rustpython command on the shell.

## Detailed Explanation

### System Information
* MacOS Catalina version 10.15.5
* rustc 1.44.1
* RustPython 0.1.1
* Zsh shell

### How to replicate the error
* I've tried to run following command on the shell and expected to get the result spec

[2020-06-20 20:00] coolreader18 commented on #1969
:grimacing: this looks like it's something to do with our use of `mem::uninitialized`; I'll look into it.

[2020-06-20 22:09] coolreader18 commented on #1969
Oh, this is because our old version that's on crates.io had undefined behavior, the version on master should work fine. @snoop2head try `cargo install --force https://github.com/RustPython/RustPython`

We really need to cut a new update :grimacing:

[2020-06-20 23:07] snoop2head commented on #1969
😅Should I file this error for [crates.io-index](https://github.com/rust-lang/crates.io-index) or [cargo](https://github.com/rust-lang/cargo) repository?

[code]

I have referred to [the issue on the cargo](https://github.com/rust-lang/cargo/issues/4007), but clearing registry folder does not seem to work.

Any suggestions to configure cargo? Or any other possible causes for this error?

[2020-06-21 03:54] coolreader18 commented on #1969
Whoops, sorry, I just forgot the syntax. It's `cargo install --force --git https://github.com/RustPython/RustPython`

[2020-06-21 07:56] snoop2head commented on #1969
Along with the commands above, I additionally chose rustpython out of rustpython and rustpython_freeze package. The command is the following:
[code]

**However, it yields an error of the following:**
[code]
It did successfully downloaded 60 crates. Is it the compiler that has caused the problem?

[2020-06-21 16:36] coolreader18 commented on #1969
Oh, it's a git dependency I believe. That would be failing on master as well, I believe, I'll fix that.

[2020-06-21 16:36] coolreader18 commented on #1969
You could try adding the `--locked` flag to the install command to fix it.

[2020-06-21 22:18] snoop2head commented on #1969
[code]
Thanks for your help! It finally works 😆 Shall I close the issue?

[2020-06-21 22:39] coolreader18 commented on #1969
Yeah, I think we just need to cut a new version to fix these problems; we're waiting on Amanieu/parking_lot#239 for that since you can't publish to crates.io when you have git dependencies.

[2020-06-21 22:45] #1969 closed

[2020-06-22 09:19] youknowone commented on #1758
fixed by #1951

[2020-06-22 09:19] #1758 closed

[2020-06-23 04:17] coolreader18 commented on #1175
I'm so sorry for not responding earlier @nicholasraphael, if you're still interested you can feel free to just open a PR for it; there are a lot of functions and hopefully what you choose won't conflict if anyone else is working on something. You could also just comment what you're working on in this thread.

[2020-06-30 02:07] #1714 closed

[2020-07-04 19:01] Keithcat1 opened #1978 "Support and enable LTO by default"
In order to reduce size and maybe increase performance, link-time-optimization could be enabled.
I tried these commands:
set RUSTFLAGS=-Clto
cargo install rustpython

I got this error:
error: cannot prefer dynamic linking when performing LTO

note: only 'staticlib', 'bin', and 'cdylib' outputs are supported with LTO

error: aborting due to previous error

error: could not compile `proc-macro-hack`

[2020-07-04 19:57] skinny121 opened #1979 "Payload conflicts"
Currently you are allowed to have the following:
[code]
But this causes issues using using instances of this class as both `str` and `int` expect the payload to be `PyString` and `PyInt` respectively, but the object can only have a single payload.
[code]

CPython deals with this by raising an error during class construction time:
[code]

I feel we should do a similar thing by detecting when bases

[2020-07-04 20:52] coolreader18 commented on #1978
Try just adding the following to Cargo.toml:
[code]
That's how you generally add lto to a cargo project, I think.

[2020-07-04 20:55] coolreader18 commented on #1979
We could probably do something with a `TypeId` stored in `PyClass`

[2020-07-04 21:48] kaedroho opened #1980 "Class attribute type annotations"
## Feature

The ability to annotate a type on a class attribute. For example:

[code]

This runs without error with CPython, but raises the following error with RustPython:

[code]

## Python Documentation

https://docs.python.org/3/library/typing.html#typing.NamedTuple

[2020-07-05 05:22] skinny121 opened #1983 "Support pip"
To support pip the following are required:

- [x]  `__class__` assignment(#1981)
- [ ]  `plistlib` which requires `xml.parsers.expat`
- [x]  Fix `shutil.get_terminal_size`
- [x]  `itertools.groupby`
- [x]  Fix `str.__add__` raising `TypeError` instead of returning `NotImplemented`
- [x]  Fix `"{x.attr}".format(...)`

If the above issues are worked/hacked around, then the pip help text is successfu

[2020-07-05 13:58] coolreader18 commented on #1983
The thing about `str.__add__` is that it's actually the slot `sq_concat`, that gets mapped to the wrapper method `__add__`. When we do `a + b`, what needs to happen is:

1. Check if a has the slot `nb_add`/magic method `__add__`
1. Check if b has `nb_add` (I think?) or `__radd__`
1.  Then, look at sq_concat for a (and maybe b if it doesn't have it, but I don't think so).

[2020-07-05 14:00] coolreader18 commented on #1983
Also, I've looked into binding to expat, and it might be easier to just skip importing plistlib for the time being, since I think it's used in a very niche way in pip.

[2020-07-06 15:49] bcbqwe commented on #1794
7/6/2020 Ran "cargo run demo.py" on Windows 10 and got the same errors as above.
Ran powershell "scripts/symlinks-to-hardlinks.ps1" then "cargo run demo.py" again with the same result.

Is there a solution to this failure?

[2020-07-06 22:04] #1230 closed

[2020-07-06 22:05] Lynskylate commented on #1310
After rust ues socket2 implement the socket module, the issues has been fixed.

[2020-07-06 22:05] #1310 closed

[2020-07-07 06:01] jamestwebber commented on #1983
Whoa is this all? I was checking the dependencies as described in [this post](https://doughellmann.com/blog/2019/06/29/dependencies-between-python-standard-library-modules/) and it seemed a lot hairier. I would guess that to actually `pip install` will require many more things working.

[2020-07-07 12:48] lilydjwg opened #1986 "(-2) ** 0.5 yields NaN"
## Feature

non-integer power of negative numbers.

## Python Documentation

* https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

[2020-07-07 15:56] bcbqwe commented on #1624
July 6, Ran "cargo run demo.py" on Windows 10 and got the same errors as above.
Ran powershell "scripts/symlinks-to-hardlinks.ps1" then "cargo run demo.py" again with the same result.

Is there a solution to this failure?

[2020-07-07 20:39] coolreader18 commented on #1624
I'm really not sure, that Powershell script should fix it. Could you take a screenshot of the full output of running `powershell scripts/symlinks-to-hardlinks.ps1` and then `cargo run demo.py`?

[2020-07-08 02:18] #1980 closed

[2020-07-08 14:06] bcbqwe commented on #1624
I am not experienced with powershell. I received no output from:

PS C:\RustPython\scripts> Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
PS C:\RustPython\scripts> ./symlinks-to-hardlinks.ps1
PS C:\RustPython\scripts>

PS C:\RustPython> cargo run demo.py
   Compiling rustpython-vm v0.1.2 (C:\RustPython\vm)
error: Python compile error from Lib/python_builtins/_frozen_importli

[2020-07-10 14:15] illicitonion opened #1992 "os.execv is missing, and other os methods like os.execl appear to try to use it"
[code]

## Python Documentation

https://docs.python.org/3/library/os.html#os.execv

[code]

[2020-07-10 20:12] skinny121 commented on #1983
Yes that everything(I think), we have got most of core standard library importable at this point. I'm also expecting `pip install` to require more changes than this.

[2020-07-14 09:26] BasixKOR opened #1996 "module 'sys' has no attribute 'getwindowsversion'"
## Feature
`getwindowsversion` is Windows-specific Python function which returns the Windows version currently running.

### Note
[code]

This error was found while running the CPython unit tests via `cargo run --release -- -m test`.

## Python Documentation
https://docs.python.org/3.8/library/sys.html#sys.getwindowsversion

[2020-07-14 09:29] BasixKOR commented on #1996
Related to #1754

[2020-07-14 09:40] youknowone commented on #1996
For now, RustPython doesn't have `sys.getwindowsversion` function.

New function is preferred to be added in `vm/src/sysmodule.rs`. See `extend_module!` part around line 400 to see how to add a new function to a module. This function exists only in windows. Search for `#[cfg(windows)]` in the same file to check other use case.

Here is corresponding CPython implementation. https://github.com/pytho

[2020-07-14 20:01] skinny121 commented on #1361
I'm currently looking at implementing `itertools.groupby` for #1983.

[2020-07-15 01:36] BasixKOR commented on #1996
Thanks for tip! I'll open a PR with basic implementation for this (without `platform_version`).

[2020-07-17 19:59] Lynskylate opened #2005 "Should use (LoadName Local) instruction replace (LoadName Free)"
Now we use [LoadName Free](https://github.com/RustPython/RustPython/blob/master/compiler/src/compile.rs#L301) to load local variable, maybe we should loadlocal for local variable.

e.g
[code]
In RustPython bytecode is
[code]

[2020-07-17 20:22] youknowone opened #2008 "false nonlocal binding error for `__class__`"
## Feature

[code]

This is legal code in Python but raising error in RustPython:
[code]

## Python Documentation

[2020-07-17 20:24] youknowone commented on #110
I also fixed get_value signature problem several weeks ago

[2020-07-17 20:31] youknowone commented on #578
#1072

[2020-07-17 20:33] youknowone commented on #712
I think this suggestion conflicts to subinterpreter suggestion of CPython

[2020-07-17 20:38] youknowone commented on #778
Both of the reported code works now.

[2020-07-17 20:38] #778 closed

[2020-07-17 20:55] #1132 closed

[2020-07-17 21:25] youknowone commented on #1513
it looks a bit different but now working
[code]

[2020-07-17 21:34] youknowone commented on #1568
[code]

[2020-07-17 21:34] #1568 closed

[2020-07-17 21:38] youknowone commented on #1569
both done by @yanganto 🎉

[2020-07-17 21:38] #1569 closed

[2020-07-17 21:41] youknowone commented on #1583
`TextIOWrapper` now has encoding. please post reproducible code if the problem is not solved.

[2020-07-17 21:41] #1583 closed

[2020-07-17 21:51] #1672 closed

[2020-07-17 22:23] youknowone commented on #1874
It seems it is fixed now. Please reopen this issue if it is not solved

[2020-07-17 22:23] #1874 closed

[2020-07-18 14:08] #1555 closed

[2020-07-19 12:55] KnightBlood opened #2014 "could not compile `rustpython-vm`."
E:\RustPython>cargo run
   Compiling rustpython-vm v0.1.2 (E:\RustPython\vm)
error: Python compile error from Lib/python_builtins/_frozen_importlib.py: Got unexpected token '.' at line 1 column 1
  --> vm\src\frozen.rs:21:18
   |
21 |     ext_modules!(dir = "Lib/python_builtins/");
   |                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   |
   = note: this error originates in a macro (in Nightly build

[2020-07-20 06:54] #1513 closed

[2020-07-20 21:50] KnightBlood commented on #2014
E:\RustPython>powershell scripts/symlinks-to-hardlinks.ps1
scripts/symlinks-to-hardlinks.ps1 : 无法加载文件 E:\RustPython\scripts\symlinks-to-hardlinks.ps1，因为在此系统上禁止运
行脚本。有关详细信息，请参阅 https:/go.microsoft.com/fwlink/?LinkID=135170 中的 about_Execution_Policies。
所在位置 行:1 字符: 1
+ scripts/symlinks-to-hardlinks.ps1
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : SecurityError: (:) []，PSSecurity

[2020-07-20 23:43] KnightBlood commented on #2014
= note: C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/10.1.0/../../../../x86_64-w64-mingw32/bin/ld.exe: E:\RustPython\target\debug\deps\librustpython_vm-04a67d35d5f9b68d.rlib(rustpython_vm-04a67d35d5f9b68d.45bioiq4ejafbtot.rcgu.o): in function `rustpython_vm::stdlib::os::os_isatty':
          E:\RustPython/vm\src\stdlib/os.rs:1463: undefined reference to `_set_thread_local_invalid_parameter_

[2020-07-21 00:55] coolreader18 commented on #2014
Oh, I think the last one is a bug specifically for msys/mingw. I just pushed the branch `fix-mingw`, try checking that out and building it?

[2020-07-21 06:14] #1346 closed

[2020-07-21 11:02] KnightBlood commented on #2014
I have try it

E:\RustPython>cargo run
   Compiling rustpython-vm v0.1.2 (E:\RustPython\vm)
error[E0308]: mismatched types
    --> vm\src\stdlib\os.rs:1458:49
     |
1458 |     unsafe { suppress_iph!(libc::isatty(fd)) != 0 }
     |                                                 ^ expected `()`, found integer

error[E0308]: mismatched types
  --> vm\src\stdlib\msvcrt.rs:55:17
   |
55 |     if flag

[2020-07-21 15:30] coolreader18 commented on #2014
Oh, whoops, that was my bad. Try pulling and building again.

[2020-07-21 21:49] KnightBlood commented on #2014
E:\RustPython>cargo run
   Compiling rustpython-vm v0.1.2 (E:\RustPython\vm)
   Compiling rustpython v0.1.2 (E:\RustPython)
    Finished dev [unoptimized + debuginfo] target(s) in 2m 47s
     Running `target\debug\rustpython.exe`

thread 'main' has overflowed its stack
error: process didn't exit successfully: `target\debug\rustpython.exe` (exit code: 0xc00000fd, STATUS_STACK_OVERFLOW)

E:\RustPyth

[2020-07-21 22:00] coolreader18 commented on #2014
Oh, try pulling again or just running with `--release`. That's fixed on the current master

[2020-07-21 23:33] KnightBlood commented on #2014
successed

[2020-07-22 01:11] BolunThompson commented on #2008
How are you getting that? An error is being raised for me in Python.

[code]

[2020-07-22 01:14] BolunThompson commented on #1780
With #1781 merged, shouldn't this be closed?

[2020-07-22 02:43] coolreader18 commented on #1780
Yep, thanks for noticing!

[2020-07-22 02:44] #1780 closed

[2020-07-22 16:48] #2014 closed

[2020-07-22 16:50] coolreader18 commented on #2014
Thanks for bringing this to my attention and being patient working through this; it's always good to work out kinks the onboarding/new contributor experience :grin:

[2020-07-22 18:11] youknowone commented on #2008
I am sorry, I revised the code.

[2020-07-22 23:10] BolunThompson commented on #1175
The [libc](https://github.com/rust-lang/libc/) rust module doesn't have an API for the [ctermid](https://man7.org/linux/man-pages/man3/ctermid.3.html) function, so that's an issue for implementing os.ctermid.

[2020-07-23 06:46] coolreader18 commented on #1175
It's always possible to just do `extern "C" { fn ctermid(...) -> ...; }`; the libc crate isn't required for calling in to native functions.

[2020-07-25 15:24] #1448 closed

[2020-07-26 06:44] youknowone commented on #1986
CPython:
[code]

RustPython:
[code]

[2020-07-26 09:16] hatee-hatee-hatee-ho commented on #1652
I'd like to work on this issue.

[2020-07-26 12:39] minoring commented on #1986
I am handling this issue :)

[2020-07-26 13:12] #1996 closed

[2020-07-26 22:37] #1909 closed

[2020-07-28 09:57] #1361 closed

[2020-07-29 09:23] ThomAub commented on #1697
Hello,
I was not able to reproduce this issue with the current code. Maybe it's possible to close this issue ?

[2020-07-29 11:07] andrew-ld commented on #1697
![Screenshot_20200729_130717](https://user-images.githubusercontent.com/43882924/88792995-681c2600-d19c-11ea-8a41-a16b14cfc493.png)

@ThomAub

[2020-07-29 11:17] ThomAub commented on #1697
Thanks you ! I'm confused I just tested in the REPL and not in the wasm demo... I'm sorry...
I will try to work on this issue. Thanks for the screenshot !

[2020-07-29 17:27] #1986 closed

[2020-07-30 06:13] youknowone commented on #1794
duplication of #1624

[2020-07-30 06:43] comradeHsu opened #2042 "RustPython compile error"
error: Python compile error from Lib/python_builtins/_frozen_importlib.py: Got unexpected token '.' at line 1 column 1
  --> vm\src\frozen.rs:21:18
   |
21 |     ext_modules!(dir = "Lib/python_builtins/");
   |                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   |
   = note: this error originates in a macro (in Nightly builds, run with -Z macro-backtrace for more info)
this is error message!

[2020-07-30 13:41] bcbqwe commented on #1624
No solution though.

[2020-07-30 13:43] bcbqwe commented on #1794
No solution, however.

[2020-07-30 15:36] coolreader18 commented on #2042
Try running `powershell scripts\symlinks-to-hardlinks.ps1`

[2020-07-30 15:52] comradeHsu commented on #2042
thanks, couldcompile now.
but while me run demo.py has "thread 'main' has overflowed its stack",
D:\workspace\rustPython\RustPython>cargo run demo.py
    Finished dev [unoptimized + debuginfo] target(s) in 0.51s
     Running `target\debug\rustpython.exe demo.py`

thread 'main' has overflowed its stack
error: process didn't exit successfully: `target\debug\rustpython.exe demo.py` (exit code: 0xc000

[2020-07-30 16:19] andrew-ld opened #2044 "the rustpython console ignore ctrl + c if I insert a new line while reading sys.stdin"
![Screenshot_20200730_181706](https://user-images.githubusercontent.com/43882924/88947588-04275980-d291-11ea-900b-adf929bcd58e.png)

[2020-07-30 17:04] coolreader18 commented on #2042
Weird, the `profile.dev.opt-level = 3` fix is merged right @youknowone? Does the `.package."*"` in it make it less effective?

[2020-07-30 17:04] coolreader18 commented on #2042
@comradeHsu try running `cargo run --release demo.py`

[2020-07-30 17:06] coolreader18 commented on #2044
Hmm, `std::io::Stdin::read()` probably catches the interrupt and retries rather than just erroring.

[2020-07-30 18:14] comradeHsu commented on #2042
thx very much

[2020-07-30 18:37] comradeHsu opened #2046 "Memory cannot be recycled correctly when object is referenced circularly"
my test code:
`class A:
    def __init__(self,name,ref):
        self.name = name
        self.ref = ref
        self.data = [0]*1000000

class B:
      def set_ref(self,ref):
        self.ref = ref

def test():
    while True:
        b = B()
        a = A("name",b)
        b.set_ref(a)

print("Hello, RustPython!")
test()`

the error message:
memory allocation of 16000000 bytes failed
error: proc

[2020-07-30 18:54] youknowone commented on #2042
@coolreader18 I didn't get how that config related to this problem. Does `demo.py` require release build? `.package.dev."*"` means cargo will build every dependencies with `opt-level = 3`. Still RustPython will be built without any optimization.

[2020-07-31 04:29] coolreader18 commented on #2042
The stack overflows only happen on debug builds; passing --release fixes it because there's too many functions called when they're not inlined (maybe? I'm not sure exactly). It would be good if we could make it not crash on debug mode, though maybe there is some underlying problem we could just edit the code to fix.

[2020-07-31 12:32] comradeHsu commented on #2042
Thank you for your help！

[2020-07-31 15:52] BasixKOR opened #2050 "running testInfiniteRecursion (test.test_exceptions.ExceptionTests) overflows stack on Windows"
[code]

When running CPython tests on Windows (using #2049) it overflow its stack while running `testInfiniteRecursion`.

[2020-08-01 20:14] Lynskylate commented on #300
Holyjit seems to be no longer maintained, maybe we can use [cranelift](https://github.com/bytecodealliance/wasmtime/tree/main/cranelift) to generate faster code.
And we need a rfc to design asp for jit in RustPython, [PEP 523](https://www.python.org/dev/peps/pep-0523/#id37) and [pyston](https://github.com/pyston/pyston) maybe help for the target.

[2020-08-01 20:38] ArniDagur opened #2056 "Running `help(help)` and `help(list)` returns errors in REPL"
See the following REPL session:
[code]
* Version: latest `master`
* OS: Gentoo Linux
* System: `Linux arni-pc 5.7.9-gentoo-x86_64 #1 SMP Wed Jul 22 03:28:52 GMT 2020 x86_64 Intel(R) Core(TM) i7-4771 CPU @ 3.50GHz GenuineIntel GNU/Linux`

[2020-08-01 22:47] coolreader18 commented on #2056
Thanks for the report! There are a lot of issues like this with pydoc, often related to very subtle differences with how we "do" objects vs CPython

[2020-08-02 04:02] youknowone commented on #2046
In python, `gc` resolve circular reference but we don't have one yet.

[2020-08-02 06:17] tobark opened #2059 "mmap is not implemented"
## Feature

Currently, I'm working on adding `test_os.py` test file. Then I met this error.

[code]
[mmap](https://github.com/python/cpython/blob/master/Modules/mmapmodule.c) module in CPython is not implemented on RustPython.

## Python Documentation

https://docs.python.org/3/library/mmap.html

[2020-08-02 06:53] coolreader18 commented on #2059
Hmm, yeah, that would be tricky. For now you can probably just comment out that import line and skip any tests that use `mmap`

[2020-08-02 10:23] comradeHsu commented on #2046
ok, but we need one, isn't it

[2020-08-03 17:33] youknowone opened #2065 "[RFC] Rename strings"
## Summary

Rename python `str` related stuff to `str` instead of `string` in Rust side too.
Give the name `string` for abstract string type for places which require either `str` or `bytes`(-like).

## Detailed Explanation

For now, Python `str` is belong to `objstr` and the implementation is `PyString`. So it is occupying both the names.
Because both `bytes` and `str` are conceptionally a string

[2020-08-03 19:01] skinny121 commented on #2065
The typing module uses `AnyStr` https://docs.python.org/3/library/typing.html#typing.AnyStr, which might be a better name as it implies that it's not just one type.

[2020-08-04 09:11] youknowone commented on #2065
`AnyStr` looks like a better name. I think keeping same name for rust side and python side name gives benefit to not to be confused.

[2020-08-08 22:17] coolreader18 commented on #813
Threading is now implemented.

[2020-08-08 22:17] #813 closed

[2020-08-09 06:31] youknowone opened #2086 "Add npm cache for CI for WASM"

[2020-08-11 15:13] #2005 closed

[2020-08-17 01:11] glandium opened #2121 "%s formatting of byte strings in byte strings difference with CPython"
The following python code:
[code]

returns
[code]
with python but

[code]
with rustpython.

(btw the formatting of the output string in the REPL is not valid python)

[2020-08-17 01:53] coolreader18 commented on #2121
Oh, wow, nice catch!

[2020-08-17 02:28] #2042 closed

[2020-08-17 03:31] glandium commented on #2121
It's not really weird, given that that's the right output if the format string is a string rather than a bytestring. Looking at the code, the problem is that bytestring format strings are not treated differently.

[2020-08-17 18:38] edwardycl opened #2125 "`bytes(bytes)` is inefficient"
## Feature

`bytes` object is immutable, so constructing a new `bytes` object from another `bytes` object doesn't need copying.
However, `PyBytes` and `PyByteArray` share `PyBytesInner` implementation, causing an unnecessary copying of immutable data.

CPython:
[code]

RustPython:
[code]

## Python Documentation

https://docs.python.org/3/library/stdtypes.html#bytes-objects

[2020-08-27 15:13] #578 closed

[2020-08-30 05:01] dralley commented on #1652
I think this can be closed now

[2020-08-30 05:01] #1652 closed

[2020-09-05 05:00] minoring opened #2183 "`nonlocal` raise `SyntaxError` when it is declared multiple times."
**CPython 3.7.4**
[code]
are OK.

**RustPython** gives `SyntaxError: name 'x' is used prior to nonlocal declaration at line 0 column 0` for both of the examples.

[2020-09-05 05:01] minoring commented on #2183
I would like to handle this problem.

[2020-09-05 12:27] minoring opened #2189 "nonlocal incompatibility"
###  Here is the list of incompatibility of `nonlocal` between RustPython and CPython

[code]
* CPython 3.8
  `SyntaxError: name 'a' is parameter and nonlocal`
* RustPython
`SyntaxError: no binding for nonlocal 'a' found at line 0 column 0`

[code]
* CPython 3.8
`SyntaxError: name 'a' is used prior to nonlocal declaration`
* RustPython
 `No Error. f() prints 3`

[code]
* CPython 3.8
`SyntaxError:

[2020-09-06 04:02] #2189 closed

[2020-09-06 04:06] #2183 closed

[2020-09-07 20:15] darleybarreto commented on #2059
Perhaps translating [fmmap](https://github.com/friedelwolff/fmmap) and combining with [libffi-rs](https://github.com/tov/libffi-rs) would do the trick for now.

[2020-09-07 20:42] darleybarreto commented on #1217
I dont know if it is a good idea to do something like PyPy's [clibffi](https://foss.heptapod.net/pypy/pypy/-/blob/branch/default/rpython/rlib/clibffi.py) and [ _cffi_backend ](https://foss.heptapod.net/pypy/pypy/-/tree/branch/default/pypy/module/_cffi_backend) in the long term. Perhaps to have something kinda working in the near future.

[2020-09-08 14:29] darleybarreto opened #2195 "[RFC] Iterator for memoryview"
## Summary

This [issue](https://bugs.python.org/issue41732) on bugs.python (and [impl](https://github.com/python/cpython/commit/b0ac5d75a59c356c44cfc9b25077da3049dd16e9)) reports a patch to iterate over a memoryview object.

## Detailed Explanation
I am new to Rust and RustPython project itself so I do not know a fast rusty way of implementing this.

## Drawbacks, Rationale, and Alternatives
I am

[2020-09-10 18:40] coolreader18 commented on #300
A JIT is currently WIP, see the `jit/` directory on master.

[2020-09-10 18:40] #300 closed

[2020-09-16 18:18] mireille-raad commented on #1829
Do you think we can use the rustpython.github.io blog?

We can write the fix for this README issue, but also for other stuff in a general troubleshooting article. If you think it is a good idea. I am happy to start it.

[2020-09-16 18:24] mireille-raad commented on #196
- numpy
- pandas
- matplotlib (if too complicated, some other chart/graphing libraries?)

The motivation is to support some stuff most commonly used in "data science".

[2020-09-16 20:49] mireille-raad commented on #210
Is this related to xml.dom ?
https://docs.python.org/3.0/library/xml.dom.html

There is also apparently a mini dom.
https://docs.python.org/3.0/library/xml.dom.minidom.html#module-xml.dom.minidom

According to `./what_is_left.sh`, both are on the to-do
![Screenshot from 2020-09-16 16-45-24](https://user-images.githubusercontent.com/521705/93390683-160e8d00-f83c-11ea-9a15-4ddcb852c18c.png)

Any pri

[2020-09-16 21:02] coolreader18 commented on #210
It's not that related, though maybe if we do ever implement this we could base it off of xml.dom, but moreso this is for calling into web APIs from Python, e.g. to write a dynamic website using Python+RustPython+wasm

[2020-09-18 12:20] youknowone commented on #196
@mireille-raad Are you thinking about the packages in native rustpython or wasm? numpy for rustpython already is a challenging goal, but for wasm will be even more. It means we need cpyext for rustpython and cpyext for wasm.

[2020-09-18 12:22] youknowone commented on #196
#1983 is the current major goal

[2020-09-24 22:10] darleybarreto commented on #196
I don't know if HPy will become "The One API to Rule Them All", I hope it does because then the work would be implement an HPy layer. I would suggest focusing on a stdlib or builtin lib that is missing. I've been poking around the CPython's ctypes lib on my free time for a while now, I hope I can learn more about it and make a pure rust version with pyo3 and then contribute to an implementation fo

[2020-09-25 16:55] #2065 closed

[2020-09-27 06:54] popzxc opened #2240 "Compilation fails on the most recent stable rustc"
## Environment

Rust: 1.46.0
OS: Ubuntu 20.04 under WSL 2.

## Issue

I tried to run the tests as described in [development guide](https://github.com/popzxc/RustPython/blob/master/DEVELOPMENT.md#testing) (basically, installed dependencies and ran `cargo test --all`).

However, compilation failed with the following errors:

[code]

[2020-09-27 07:21] coolreader18 commented on #2240
Yeah, we should probably update that guide, if you go into `wasm/lib` and run `cargo test` it works, but because of the way cargo features work across workspaces the `threading` feature gets enabled for wasm even though we don't want it

[2020-09-27 11:47] qingshi163 opened #2241 "unittest test_support.py Failed"
Env:
Manjaro 5.8.6-1
rustc 1.46.0

The unittest from test_support.py gives me the error on master branch.
Follow the test, I find out if we call socket.bind with the address 'localhost', than we fail, but CPython will treat it as 127.0.0.1.

[code]

[2020-09-27 22:44] cubewise-tryan commented on #1624
Hi @bcbqwe,

Running `Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser` and then `powershell scripts\symlinks-to-hardlinks.ps1` worked for me. Where you run the ps script from seems to be important, the script must use relative paths. Move one directory higher to the root and then run `powershell scripts\symlinks-to-hardlinks.ps1`.

[2020-09-28 01:13] d00z3l opened #2242 "Embedding RustPython"
I have found it difficult to get started with embedding RustPython in my project and thought I could share it here in case anyone else was having the same issues. If I am doing something wrong I welcome any feedback!

The first issue was that crates.io is outdated and the `examples/ ` in the source doesn't work with that version of RustPython. To include the latest in my Cargo.toml I am using the

[2020-09-28 02:39] d00z3l opened #2243 "Embedding and multiple threads"
Hi,

I am interested in how to integrate RustPython so that scripts can be called by multiple threads. Am I right in thinking that each thread would need to run it's own interpreter or can one be shared with each thread having a different scope?

[2020-09-28 02:43] coolreader18 commented on #2242
This is a great resource! Yeah, using as a dependency isn't great right now; we're hoping to get the project to a stable enough state soon™ so that we can release 0.2 on crates.io, which would fix the windows symlink problem

[2020-09-28 02:49] coolreader18 commented on #2243
You can look at `vm/src/stdlib/thread.rs` to see how threads are implemented internally; are you looking to enter into the vm from a thread that you started? e.g.

[code]

Something along those lines? Just trying to figure out how specifically you want to do this, I think we probably could provide a `vm.start_thread(impl FnOnce(&VirtualMachine) -> R) -> JoinHandle<R>`

[2020-09-28 03:00] d00z3l commented on #2243
I want to use Python scripts as an ETL interface so that users could write scripts and then execute as required. Steps would be:
1. User writes script and compiles it.
1. User or scheduled job executes the script at a later time.

I am not sure an interface is required but I an interested in what can be shared (or NOT). Ideally the compiled scripts and global scope with built-in and custom functio

[2020-09-28 03:18] coolreader18 commented on #2243
Yep, it's totally possible to share builtins/modules/globals between threads. What I meant by interface is just a `vm.start_thread()` method with that signature. If that was available to you (with the vm passed to the closure having the same builtins and stuff as the vm on the main thread) do you think that would make your use case possible? You could share globals by just taking a function from t

[2020-09-28 03:42] popzxc commented on #2240
I see, thanks. I'll leave this issue open then until docs are updated.

[2020-09-28 03:55] d00z3l commented on #2243
Yep, `start_thread` would work, that make it a very simple process and seams safer than doing it yourself outside of RustPython.

[2020-09-28 06:01] d00z3l commented on #2243
Hi @coolreader18,

Thanks for being so responsive!

What are the steps to do it with current code base? I am trying to understand how the vm, scope and compiled statements tie together. There is lots of things going on in the code base so it is hard for me to understand. For example the PyNativeFunc is created via vm.ctx.new_function, does that mean that function can only be used with that vm?

In

[2020-09-28 14:48] coolreader18 commented on #2243
Ah, yeah, I can see how that might be confusing. You can think of the vm passed to the function for `start_thread` as the same vm, or rather, the same interpreter; objects can move between them in any way you want and the `builtins`, `sysmodule`, `ctx`, etc fields are all the same as the original vm.

[2020-09-28 14:55] coolreader18 commented on #2243
The scope isn't tied to the vm, we just use the vm as a catch-all for any functions that require access to the vm. The parent scope is mutable, but yeah, that's the correct way to do it. And in terms of overhead, it should be pretty quick; you can see the overhead of the thread vm creation; it's mostly just cloning a few `Arc`s. And dicts are created all the time in python, and that's all a scope

[2020-09-28 20:56] #2243 closed

[2020-09-28 20:58] #2242 closed

[2020-09-30 15:42] bcbqwe commented on #1624
Thanks to cubewise-tryan. I successfully executed the commands but still received a compile error at the end:

PS C:\> git clone https://github.com/RustPython/RustPython
Cloning into 'RustPython'...
remote: Enumerating objects: 167, done.
remote: Counting objects: 100% (167/167), done.
remote: Compressing objects: 100% (126/126), done.
remote: Total 48840 (delta 62), reused 83 (delta 40), pack-reu

[2020-09-30 15:50] bcbqwe commented on #1624
Thanks,

I successfully executed the commands but still received a compile error at the end (different module this time). I add the log below as a comment to the closed #1624. Did I miss something?

PS C:> git clone  <https://github.com/RustPython/RustPython> https://github.com/RustPython/RustPython
Cloning into 'RustPython'...
remote: Enumerating objects: 167, done.
remote: Counting objects: 100%

[2020-10-01 00:25] d00z3l commented on #1624
Hi @bcbqwe,

Are you using rust stable or an old version of nightly? The error is saying that str_strip is an unstable feature. I think you need need update your rust version.

https://doc.rust-lang.org/edition-guide/rust-2018/rustup-for-managing-rust-versions.html

[2020-10-01 02:22] coolreader18 commented on #1624
Yup @bcbqwe, try running `rustup update`, if you're using rustup. Otherwise, try re-installing rust in whatever method you originally did.

[2020-10-01 02:48] coolreader18 opened #2258 "[CFP] Implement the _sre module in Rust"
At the moment, `_sre` is a modified version of `_sre.py` from an old version of PyPy: https://github.com/nikhaldi/_sre.py.

This is **s l o w**. If you ctrl-C rustpython while it's running a decently complex script, there's a good chance that the traceback from the `KeyboardInterrupt` will have originated somewhere in `_sre.py`. While it's definitely possible to implement `_sre` in Rust -- I was a

[2020-10-01 12:05] darleybarreto commented on #2258
[pyre2](https://github.com/facebook/pyre2) and Jython's _sre [[1](https://github.com/jython/jython/blob/master/src/org/python/modules/_sre.java),[2](https://github.com/jython/jython/tree/master/src/org/python/modules/sre)] might help on this.

[2020-10-01 17:49] coolreader18 commented on #1624
Try `cargo run --release demo.py`

[2020-10-01 18:06] bcbqwe commented on #1624
Success!  I ran:

cargo run --release demo.py

End of log:

 Compiling num_enum v0.4.3
   Compiling rustpython-parser v0.1.2 (C:\RustPython\parser)
   Compiling rustpython-compiler v0.1.2 (C:\RustPython\compiler)
   Compiling rustpython-derive v0.1.2 (C:\RustPython\derive)
   Compiling rustpython v0.1.2 (C:\RustPython)
    Finished release [optimized] target(s) in 4m 00s
     Running `target\relea

[2020-10-01 18:41] coolreader18 commented on #1624
I'll add some of these tips to the README, hopefully that would make it easier for windows users to get started

[2020-10-05 22:49] antonromanov1 opened #2267 "Compilation fails"
I tried to compile RustPython on my Fedora 31 and it failed. Steps to reproduce:
$ git clone https://github.com/RustPython/RustPython
$ cd RustPython
$ cargo run --verbose demo.py
![image](https://user-images.githubusercontent.com/18309228/95139846-1d0f2800-0776-11eb-862d-03109d121aeb.png)
![image](https://user-images.githubusercontent.com/18309228/95139878-3021f800-0776-11eb-8b85-26cecb10a408.png

[2020-10-06 00:56] d00z3l commented on #2267
Hi @antonromanov1,

You need to update rust: `rustup update`

[2020-10-06 02:58] coolreader18 commented on #2267
Eek, Fedora 31 might not have the latest rust version, if you have rust installed from dnf, you might have to use [rustup](https://rustup.rs) instead

[2020-10-07 19:32] antonromanov1 commented on #2267
I am sorry, I had to update the rustc first. Thank you, now it's compiled

[2020-10-07 19:32] #2267 closed

[2020-10-11 10:16] evilpie opened #2280 "Compile error when running jit tests"
I am trying to run the jit tests. For that I went into the jit directory and ran `cargo test`. I get the following compilation error:

[code]

I don't see any issue when building RustPython with `cargo build --features jit`.

rustc 1.47.0 (18bf6b4f0 2020-10-07)

[2020-10-11 11:06] evilpie commented on #2280
Ah `cargo test --verbose --features jit -p rustpython-jit` works

[2020-10-11 11:06] #2280 closed

[2020-10-13 02:51] DaveAxiom commented on #2267
I see the solution is to install a newer version of the Rust Compiler as I'm having the same compilation problem. I don't understand why this project uses an experimental compiler feature. Even if this feature is no longer experimental, why would this project rely on a compiler version that is newer than what's being distributed in the latest of Linux distributions? I have the most current Ubuntu-

[2020-10-13 04:21] d00z3l commented on #2267
Hi @DaveAxiom,

I am not a developer on the project (and I am on Windows) but I think you need the latest stable release of Rust which comes out every 6 weeks. The README states that 1.43 was required back in May, the latest stable Rust is now 1.47 (https://github.com/rust-lang/rust/blob/master/RELEASES.md). It seems the problem you are facing is that your Linux distro isn't keeping up with releas

[2020-10-13 06:36] coolreader18 commented on #2267
@DaveAxiom I've been unsure about the MSRV (minimum supported rust version) for this project as well, but I think it makes sense to keep it at the latest stable or maybe a version behind, since we mostly just develop this to use as a binary rather than to be used as a library. If you want to use a more up-to-date Rust compiler, you can look into [`rustup`](https://rustup.rs), which is the recommen

[2020-10-17 10:51] jviereck opened #2291 "Running `cargot test` under `jit` leads to error"
I am trying to run the tests for the `jit` module. When I run `cargo test` in the `jit` folder, I am getting this error

[code]

This is using rustc 1.47.0.

Any idea how to fix this?

[2020-10-17 12:01] evilpie commented on #2291
I am using `cargo test --features jit -p rustpython-jit` at the top level instead.

[2020-10-17 12:36] jviereck commented on #2291
Thanks @evilpie , this worked. Closing the issue.

[2020-10-17 12:36] #2291 closed

[2020-10-20 07:58] HyeockJinKim opened #2296 "Implement variable mangling for private fields"
## Feature

In cpython
[code]

In Rustpython
[code]

In python, the field of the class starting with `__` is a private field,
and mangling is performed to prevent external access to the same variable.

Currently, this has not been done in `Rustpython`.

## Python Documentation
https://github.com/python/cpython/blob/3185267400be853404f22a1e06bb9fe1210735c7/Python/compile.c#L254-L256
In cpython, it

[2020-10-20 13:55] coolreader18 commented on #2296
@HyeockJinKim yep, go ahead!

[2020-10-22 15:06] rodrigocam commented on #1176
Hello, may I implement `sendfile` method?

[2020-10-22 15:42] coolreader18 commented on #1176
@rodrigocam Yeah, feel free to take a shot at it!

[2020-10-22 23:51] rodrigocam commented on #1176
What do you think of this implementation? I'm using the algorithm `os::read` uses to fill the byte buffer that we are going to send.

[code]

[2020-10-23 14:28] awoimbee commented on #2125
Fixed by #2284
@qingshi163 you should use github keywords (`Fixes #<issue number>`) ;)

[2020-10-23 15:59] awoimbee commented on #2241
Quick way to recreate the socket error:

[code]

[std::net::ToSocketAddrs](https://doc.rust-lang.org/nightly/std/net/trait.ToSocketAddrs.html) does its job. `host: "localhost" result: Ok(IntoIter([[::1]:5555, 127.0.0.1:5555]))`

Then `get_addr()` just reads the first one (which is IPv6 on my system).
-> We then pass this IPv6 address to an IPv4 socket <-

So `get_addr()` just need to be aware of P

[2020-10-23 16:47] frazar commented on #2241
Also note that is issue is not caught in CI because [this line](https://github.com/RustPython/RustPython/blob/7eb9335d193aa253e25952451ac1500453cab386/.github/workflows/ci.yaml#L19) sets `RUSTPYTHON_NO_IPV6=1`, thus making `get_addr()` filter out the IPv6 address.

[2020-10-23 17:55] coolreader18 commented on #2241
Yeah, that was a workaround in #2179 because the CI environment doesn't support IPv6 (actions/virtual-environments#668). I didn't realize it was because of the family of the socket object, or I didn't connect the dots at least. Please feel free to make a PR @awoimbee, it'd be great to get rid of this hack!

[2020-10-23 17:56] #2125 closed

[2020-10-24 02:33] coolreader18 commented on #1176
@rodrigocam looks pretty good! Do you wanna make a PR for that?

[2020-10-26 08:09] qingshi163 opened #2310 "Builtin function's class object return wrong value for attribute __module__ __doc__"
While I am working on the pickle for iterator object, I went into the unexpected throw from pickle.py. After reading the source I find out that because it need the module name from the pickled object's class but __module__ return a getset_descriptor instead a str.

Put it simple, the following code cause the issue:

[code]

[2020-10-26 17:01] #2241 closed

[2020-10-26 17:57] rodrigocam commented on #1176
@coolreader18 done! https://github.com/RustPython/RustPython/pull/2311

[2020-10-28 11:02] frazar commented on #2056
I tried to reproduce the errors with the latest `master`, but everything seems to be working correctly.

[code]

[2020-10-28 16:13] coolreader18 commented on #2056
Oh, yep, I think a month or 2 ago we gave all builtin methods names, so this should be fixed now.

[2020-10-28 16:13] #2056 closed

[2020-10-31 09:18] ChJR commented on #2121
In CPython version 3.7
[code]

In RustPython commitID 249f1218
[code]

IMHO, making b'%s' to b'%b' will solve this issue.

[2020-11-01 14:56] #110 closed

[2020-11-01 18:18] qingshi163 commented on #2195
@youknowone this issue is fixed by #2226 , can we close it?

[2020-11-01 21:27] #2195 closed

[2020-11-03 09:35] d00z3l opened #2321 "Passing complex rust data"
Hello,

I am trying to embed RustPython into my application. I would like to pass a struct with an API and expose it's methods to the Python script. I have looked at the examples but they seem limited to static data and functions. Is there any way to do this at the moment or plans to add it in the future?

[2020-11-03 15:54] coolreader18 commented on #2321
Oh, yes, there's definitely a way to do that, and thanks for asking this cause that would definitely be beneficial to have as an example. You can look at `wasm/lib/src/js_module.rs` to see a fairly simple example of this, wrapping the rust struct `wasm_bindgen::JsValue` in a RustPython class/struct `PyJsValue`. Basically, you just have to have a struct with the `#[pyclass]` attribute on it, impl P

[2020-11-03 22:03] d00z3l commented on #2321
Thanks, I will give it a try and report back.

[2020-11-04 08:03] 0xtrzy opened #2322 "Ruby"
Please create a Ruby interpreter.

[2020-11-04 09:10] d00z3l commented on #2321
Hi @coolreader18,

I have given it a try but I am not sure static_type() does and whether I should be using it and how to create and pass the struct to a script.

Here is my attempt, that fails with: `static type has not been initialized'. I know how I am passing the struct as global is incorrect but i am not sure how to do it. Any help appreciated.

[code]

[2020-11-04 11:23] darleybarreto commented on #2322
You can't be serious...

[2020-11-04 15:14] coolreader18 commented on #2322
You might want to look at [artichoke](https://github.com/artichoke/artichoke) for a ruby interpreter written in rust.

[2020-11-04 15:14] #2322 closed

[2020-11-05 05:29] coolreader18 commented on #2321
Ah, yeah, you need to call `PyAPI::make_class(&vm.ctx)` before you call into anything that might call `PyAPI::static_class()` (e.g., before you call any Python code that uses the class)

[2020-11-05 09:07] d00z3l commented on #2321
Thanks that works! Full code below if anyone else needs to get it working:

[code]

[2020-11-05 10:17] d00z3l commented on #2321
Hi @coolreader18,

Follow up question, is there any way to make the methods on the struct global so they can accessed like so:

[code]

[2020-11-05 14:57] coolreader18 commented on #2321
You could probably do that from the Python side, something like

[code]

[2020-11-05 20:52] d00z3l commented on #2321
Thanks!

[2020-11-05 20:52] #2321 closed

[2020-11-11 15:51] mireille-raad commented on #1624
@coolreader18

<img width="634" alt="Screen Shot 2020-11-11 at 10 49 54 AM" src="https://user-images.githubusercontent.com/521705/98833187-bbdd1300-240b-11eb-99a7-91d402a26515.png">

is it safe to close this issue?

[2020-11-11 15:54] mireille-raad commented on #228
@coolreader18 closed?

[2020-11-11 16:09] #228 closed

[2020-11-11 16:10] #1624 closed

[2020-11-13 19:19] tbmreza opened #2329 "symlinks-to-hardlinks.ps1 script error. Add comments to ease debugging?"
I am having what's described in Issue #1624, in which running `scripts/symlinks-to-hardlinks.ps1` was suggested.

It solves OP's problem, but gives me error. I tried to look at the script, and this seems to move things forward for me:
[code]

My error is now:
[code]

What is this block trying to do?
[code]

I presume making a ps1 script that works on every Windows machines is hard, the language do

[2020-11-13 20:11] coolreader18 commented on #2329
If `$src` is a file, make a hardlink, if it's a directory, make a junction, and I guess I didn't think there would be other file types in the repo. Would you be able to add the `$symlink =/=> $src` to the first error to be able to see what file it's not able to process?

[2020-11-14 06:25] tbmreza commented on #2329
Hmm it's harder than I anticipated. I should have realized sooner that even though a run returns error, files are already created/deleted.

I'll do a fresh git clone and post here the first error powershell will give.

[2020-11-14 06:40] tbmreza commented on #2329
[code]

[2020-11-18 06:18] qingshi163 commented on #2258
Should we implement it by follow CPython that compile to bytecode? I did not look deep into the code yet, but can we do like compile to Vec<Enum>? Anything that may tricky?

[2020-11-18 13:34] darleybarreto commented on #2258
I think that doing something like [pyre2](https://github.com/facebook/pyre2) would be better, but using [regex](https://github.com/rust-lang/regex) in the backend instead of [re2](https://github.com/google/re2/).

[2020-11-18 17:24] coolreader18 commented on #2258
@darleybarreto Unfortunately, we can't use the regex crate, as it doesn't support lookbehinds and all the other fancy features that sre has.

@qingshi163, I'm not sure exactly what you're asking, but Python code in the `sre_compile` module compiles the regex to bytecode, the `_sre` module "just" has to interpret it. I think the scaffold already collects the bytecode into a `Vec<u32>`

[2020-11-18 17:38] darleybarreto commented on #2258
Hmm, do you know all the fancy features that it has (and we can't use `regex`)? Depending on what those are, we could simply "avoid" them for as long as we can.

[2020-11-18 17:42] darleybarreto commented on #2258
Or perhaps [fancy-regex](https://github.com/fancy-regex/fancy-regex).

[2020-11-21 20:18] mtx2d commented on #544
Hi @windelbouwman , I am interested in the solution that addressed this issue and #46.

What is the PR that introduced proper dictionary implementation? Curious because from the [Video](https://www.youtube.com/watch?v=nJDY9ASuiLc) it says some help is needed for Python dict but I could not find the PR that helped with this feature.

[2020-11-21 22:36] coolreader18 commented on #544
@mtx2d Yep, and the implementation is still in `vm/src/dictdatatype.rs`. It was updated as well in #1875 and #2234, making it thread-safe and faster respectively.

[2020-11-28 13:09] isidentical opened #2343 "Crash when converting NamedExpression AST"
[code]

[2020-11-28 20:47] #2343 closed

[2020-11-29 03:32] leopsidom commented on #1175
I wanted to work on some of these issue. But how can I create tests for this ? Basically after I implement a method, how can I test if it's working as expected. Sorry quite new here.

[2020-11-29 10:55] isidentical opened #2345 "Crash on octal escapes bigger than u8"
Currently a u8 is contructed from the octal string, but it is range comes short when used things like `\420` or like `\777`
[code]

[2020-11-29 14:50] isidentical opened #2347 "PEP 498: unparenthesized expressions"
PEP 498 expresses that the f-string expr contents will be parsed as `(` + body + `)`. The primary reason for this is omitting the leading whitespace (like `(   1)`) which already done using the trim() here, but one side effect of this usage is, it permits using things like `def foo(): f'{yield}'` which is unfortunately not available on RustPython. https://www.python.org/dev/peps/pep-0498/#id7

[2020-11-29 17:43] isidentical commented on #2347
Some usages from real world: https://github.com/taolluo/simpy/blob/2973dbe7b702dc416e0b7f6bb1ed941a325f862f/tests/test_resources.py#L637-L640

[2020-11-30 00:08] isidentical opened #2349 "Parser: Annotated and augmented assignment targets can't handle raw yield expressions"
[code]

[2020-11-30 06:14] #2347 closed

[2020-12-01 01:25] #2345 closed

[2020-12-01 12:20] darleybarreto opened #2351 "[RFC] Add itertools.pairwise()"
## Summary
To keep up-to-date with CPython's implementation for 3.10, we should add [itertools.pairwise()](https://github.com/python/cpython/pull/23549).

## Detailed Explanation
Looking at [vm/src/stdlib/itertools.rs](https://github.com/RustPython/RustPython/blob/master/vm/src/stdlib/itertools.rs), it seems that we need something like

[code]

[2020-12-06 05:34] dralley commented on #1566
This is no longer true, it can be closed @youknowone

[code]

[2020-12-06 05:37] dralley commented on #1454
This seems to be fixed now

[2020-12-06 05:37] #1454 closed

[2020-12-06 05:40] dralley commented on #1333
This seems like it is perhaps fixed now?

[code]

[2020-12-06 05:45] dralley commented on #356
It's just ```object.__sizeof__`` missing now.

[2020-12-06 06:39] #1566 closed

[2020-12-06 06:41] #1333 closed

[2020-12-06 08:04] felippemr commented on #1442
👋 , is this issue still relevant?

[2020-12-06 17:07] dralley commented on #1829
[code]

I don't think the README issue is still a problem anymore

[2020-12-06 17:09] #1829 closed

[2020-12-06 17:32] dralley commented on #547
Step 2 works:

[code]

The behavior ```file.raw``` for both implementations is completely different from what was originally documented in this issue and is now identical between cPython and RustPython.  It appears that in newer versions of Python you cannot access the raw buffer at all, so none of these modifications are possible.

[code]

[code]

The Python documentation says:

Given all of this

[2020-12-06 17:39] dralley commented on #547
@youknowone ^

[2020-12-06 17:59] youknowone commented on #547
Thank you for confirming!

[2020-12-06 17:59] #547 closed

[2020-12-06 18:09] youknowone commented on #1442
I think this is now done. (whats_left.sh doesn't have any `__ne__` in the entry)
thanks!

[2020-12-06 18:09] #1442 closed

[2020-12-06 18:18] youknowone commented on #2008
I think this is solved by  #2190

[2020-12-06 18:18] #2008 closed

[2020-12-06 18:19] youknowone commented on #1992
Fixed by #2027

[2020-12-06 18:19] #1992 closed

[2020-12-06 18:26] youknowone commented on #8
Tip to work on new library: https://rustpython.github.io/guideline/2020/04/04/how-to-contribute-by-cpython-unittest.html

[2020-12-06 18:31] youknowone commented on #362
basic jit with cranelift is recently added

[2020-12-06 18:36] youknowone commented on #712
#2128

[2020-12-06 18:36] #712 closed

[2020-12-06 19:04] dralley commented on #317
How would this work with user-defined error types?  The error enum can't be modified at runtime, and ```From<PyException>``` can only return one type, so you could never convert back from a custom-defined ```PyException``` payload to a Rust-native error type.

[2020-12-07 06:21] #2349 closed

[2020-12-08 08:04] jackieke724 opened #2362 "Can I use RustPython in Microcontrollers"
Hello all,

I wonder if I can use RustPython in a microcontroller which uses the [TockOS](https://github.com/tock/tock) kernel developed in Rust. Tock currently just has example user applications in Rust, as explained [here](https://github.com/tock/tock/blob/master/doc/Userland.md).

I figured I might be able to use RustPython in two ways:
1. add the RustPython dependency to my Rust applications a

[2020-12-09 04:54] coolreader18 commented on #2362
There's not really any work on this yet, but it shouldn't be too hard! I whipped up [this](https://github.com/RustPython/RustPython/tree/no_std) branch for converting the parser, compiler etc to no_std, but I imagine the vm would be the main hurdle.

[2020-12-09 06:16] coolreader18 commented on #2362
Looks like `bincode` would be the main blocker: servo/bincode#265

[2020-12-09 07:45] windelbouwman commented on #2362
This item is still a stretch goal, but I would love to see this happen!

Things to note / to be done:
- Be able to use rustpython in a no_std env (like @coolreader18 mentioned)
- Performance / code size: we need to reduce code size and improve performance overall. This has many benefits: faster runtime on desktop use, faster usage on microcontrollers, less power usage, less memory usage. Good thin

[2020-12-10 01:43] jackieke724 commented on #2362
Thank you for starting the no_std development again! My team is building a system which uses a RISC-V microcontroller, with a Tock kernel and a hardware accelerator, for accelerating machine learning applications. For now, we might proceed with Rust applications, but our end goal is to support Python applications. Hopefully, RustPython can help us achieve that goal.

[2020-12-14 20:49] ismaelxyz opened #2369 "[RFC]"
## Reading .pyc, .so, .dll y .pyd

Want to use RustPython before the new year

## Detailed Explanation

Hi, I have a new year's wish to ask the RustPython Team.

I was thinking of using RustPython as an alternative to CPython for Christmas. But it turns out that RustPython does not offer an alternative to ctypes such as a ffi library that connects to rust (at least).

## Drawbacks, Rationale, and

[2020-12-14 21:53] coolreader18 commented on #2369
There is currently work being done on ctypes in #2364. What exactly do you mean by "RustPython does not read its own .pyc files"? As far as I can tell, importlib does check for precompiled pyc files -- if I edit the compiler, I have to remove the `__pycache__` directories or else the code won't get recompiled.

As for your questions:

We don't have a C API yet, so we can't load native modules yet.

[2020-12-15 04:46] ismaelxyz commented on #2369
Wow, what you're telling me doesn't make me happy. But I'm not sad because I know that one day RustPython will be better than it already is.
![Captura de pantalla_área-de-selección_20201215003215](https://user-images.githubusercontent.com/50039280/102171945-20a5e600-3e6e-11eb-8c18-b08b1fb03766.png)
![Captura de pantalla_área-de-selección_20201215003249](https://user-images.githubusercontent.com/50